swagger: '2.0'
info:
  description: 'The current set of APIs will be available in Q2 2026 on Worldline Global Issuing Platforms.

    Additional APIs are under construction and planned to be available in 2026.'
  version: 2.41.1
  title: Worldline Card Issuing Account - AccountState Corporate Contract API
  contact: {}
host: sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing
basePath: /api/v2
schemes:
- https
tags:
- name: Corporate Contract
  description: Corporate Contract API Controller
paths:
  /issuers/{issuerId}/corporate-contracts/{contractReference}/corporate-employee-accounts/{accountReference}:
    get:
      tags:
      - Corporate Contract
      summary: Retrieve corporate employee Accounts
      operationId: retrieveCorporateEmployeeAccounts
      description: "This API allows a particular corporate employee account or Virtual Card Account to be retrieved from its reference or its issuer external reference.\n\nThe API response contains corporate employee account information such as:\n- account identifier with the account reference and the issuer external account reference\n- external reference of the employee account\n- parent identifier with the account reference and the issuer external account reference\n- allowed advertisement channels (flags) \n- allowed delivery channel for possible letters\n-  if both membership and account setup fees are waived during contract lifecycle \n-  if both membership fee and account setup fee are paid by the account or the root\n- type of a corporate product (if the account is related to the company or an employee) \n- embedded fields if requested such as account information, card account(s), card contract(s) linked to this corporate employee account"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      - name: accountReference
        in: path
        description: Account Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - account
          - cardContracts
          - cardContracts.cards
          - cards.orders
          - customers
          - customers.addresses
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCorporateEmployeeAccountResponse'
      security:
      - basic: []
      deprecated: false
    patch:
      tags:
      - Corporate Contract
      summary: Update Corporate employee account
      operationId: updateCorporateEmployeeAccount
      description: 'The API allows to update certain data of an existing corporate employee account or Virtual Card Account, such as:

        - the external reference of the employee account

        - the allowed advertisement channels (flags)

        - the allowed delivery channel for possible letters

        -  if both membership and account setup fees should be waived during contract lifecycle (can be changed at any moment)

        - if both membership fee and account setup fee are paid by the card account (usually the employee) or the root account (usually the company)


        As a result the corporate employee account is immediately updated with provided data in our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: contract Reference
        required: true
        type: string
      - name: accountReference
        in: path
        description: account Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCorporateEmployeeAccountRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyCorporateEmployeeAccountResponse'
      security:
      - basic: []
      deprecated: false
  ? /issuers/{issuerId}/corporate-contracts/{contractReference}/corporate-employee-accounts/external-accounts/{issuerAccountExternalReference}
  : get:
      tags:
      - Corporate Contract
      summary: Retrieve corporate employee accounts by account external reference
      operationId: retrieveCorporateEmployeeAccountsWithExtAccountRef
      description: "This API allows a particular corporate employee account or Virtual Card Account to be retrieved from its reference or its issuer external reference.\n\nThe API response contains corporate employee account information such as:\n- account identifier with the account reference and the issuer external account reference\n- external reference of the employee account\n- parent identifier with the account reference and the issuer external account reference\n- allowed advertisement channels (flags) \n- allowed delivery channel for possible letters\n-  if both membership and account setup fees are waived during contract lifecycle \n-  if both membership fee and account setup fee are paid by the account or the root\n- type of a corporate product (if the account is related to the company or an employee) \n- embedded fields if requested such as account information, card account(s), card contract(s) linked to this corporate employee account"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      - name: issuerAccountExternalReference
        in: path
        description: Issuer Account External Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - account
          - cardContracts
          - cardContracts.cards
          - cards.orders
          - customers
          - customers.addresses
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCorporateEmployeeAccountResponse'
      security:
      - basic: []
      deprecated: false
    patch:
      tags:
      - Corporate Contract
      summary: Update Corporate employee account by account external reference
      operationId: updateCorporateEmployeeAccountByExtAccount
      description: 'The API allows to update certain data of an existing corporate employee account or Virtual Card Account, such as:

        - the external reference of the employee account

        - the allowed advertisement channels (flags)

        - the allowed delivery channel for possible letters

        -  if both membership and account setup fees should be waived during contract lifecycle (can be changed at any moment)

        - if both membership fee and account setup fee are paid by the card account (usually the employee) or the root account (usually the company)


        As a result the corporate employee account is immediately updated with provided data in our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: contract Reference
        required: true
        type: string
      - name: issuerAccountExternalReference
        in: path
        description: issuer Account External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCorporateEmployeeAccountRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyCorporateEmployeeAccountResponse'
      security:
      - basic: []
      deprecated: false
  ? /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}/corporate-employee-accounts/external-accounts/{issuerAccountExternalReference}
  : get:
      tags:
      - Corporate Contract
      summary: Retrieve corporate employee Accounts by contract external reference and account external reference
      operationId: retrieveCorporateEmployeeAccountsWithExtContractRefAndExtAccountRef
      description: "This API allows a particular corporate employee account or Virtual Card Account to be retrieved from its reference or its issuer external reference.\n\nThe API response contains corporate employee account information such as:\n- account identifier with the account reference and the issuer external account reference\n- external reference of the employee account\n- parent identifier with the account reference and the issuer external account reference\n- allowed advertisement channels (flags) \n- allowed delivery channel for possible letters\n-  if both membership and account setup fees are waived during contract lifecycle \n-  if both membership fee and account setup fee are paid by the account or the root\n- type of a corporate product (if the account is related to the company or an employee) \n- embedded fields if requested such as account information, card account(s), card contract(s) linked to this corporate employee account"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: issuerAccountExternalReference
        in: path
        description: Issuer Account External Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - account
          - cardContracts
          - cardContracts.cards
          - cards.orders
          - customers
          - customers.addresses
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCorporateEmployeeAccountResponse'
      security:
      - basic: []
      deprecated: false
    patch:
      tags:
      - Corporate Contract
      summary: Update Corporate employee account by contract external reference and account external reference
      operationId: updateCorporateEmployeeAccountByExtContractAndExtAccount
      description: 'The API allows to update certain data of an existing corporate employee account or Virtual Card Account, such as:

        - the external reference of the employee account

        - the allowed advertisement channels (flags)

        - the allowed delivery channel for possible letters

        -  if both membership and account setup fees should be waived during contract lifecycle (can be changed at any moment)

        - if both membership fee and account setup fee are paid by the card account (usually the employee) or the root account (usually the company)


        As a result the corporate employee account is immediately updated with provided data in our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: issuerAccountExternalReference
        in: path
        description: issuer Account External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCorporateEmployeeAccountRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyCorporateEmployeeAccountResponse'
      security:
      - basic: []
      deprecated: false
  ? /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}/corporate-employee-accounts/{accountReference}
  : get:
      tags:
      - Corporate Contract
      summary: Retrieve corporate employee Accounts by contract external reference
      operationId: retrieveCorporateEmployeeAccountsWithExtContractRef
      description: "This API allows a particular corporate employee account or Virtual Card Account to be retrieved from its reference or its issuer external reference.\n\nThe API response contains corporate employee account information such as:\n- account identifier with the account reference and the issuer external account reference\n- external reference of the employee account\n- parent identifier with the account reference and the issuer external account reference\n- allowed advertisement channels (flags) \n- allowed delivery channel for possible letters\n-  if both membership and account setup fees are waived during contract lifecycle \n-  if both membership fee and account setup fee are paid by the account or the root\n- type of a corporate product (if the account is related to the company or an employee) \n- embedded fields if requested such as account information, card account(s), card contract(s) linked to this corporate employee account"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: accountReference
        in: path
        description: Account Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - account
          - cardContracts
          - cardContracts.cards
          - cards.orders
          - customers
          - customers.addresses
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCorporateEmployeeAccountResponse'
      security:
      - basic: []
      deprecated: false
    patch:
      tags:
      - Corporate Contract
      summary: Update Corporate employee account by contract external reference
      operationId: updateCorporateEmployeeAccountByExtContractAndAccount
      description: 'The API allows to update certain data of an existing corporate employee account or Virtual Card Account, such as:

        - the external reference of the employee account

        - the allowed advertisement channels (flags)

        - the allowed delivery channel for possible letters

        -  if both membership and account setup fees should be waived during contract lifecycle (can be changed at any moment)

        - if both membership fee and account setup fee are paid by the card account (usually the employee) or the root account (usually the company)


        As a result the corporate employee account is immediately updated with provided data in our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: accountReference
        in: path
        description: account Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCorporateEmployeeAccountRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyCorporateEmployeeAccountResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/{contractReference}:
    get:
      tags:
      - Corporate Contract
      summary: Retrieve corporate contract
      operationId: retrieveCorporateContract
      description: "This API allows a particular corporate contract from its reference or its issuer external reference to be retrieved.\n\nThe API response contains corporate contract information such as:\n•\tcontract identifier with the contract reference and the issuer external contract reference if previously provided\n•\tlist of levels in the company organization\n•\tembedded fields if requested such as list of corporate contract entities (limited to 100), list of all customers (limited to 100), list of all companies (limited to 100), list of corporate employee accounts (limited to 100) linked to this corporate contract"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - corporateContractEntities
          - contractCustomers
          - contractCompanies
          - corporateEmployeeAccounts
          - rootAccount
          - corporateEmployeeAccounts.customerIdentifiers
          - contractCustomers.addresses
          - contractCompanies.addresses
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCorporateContract'
      security:
      - basic: []
      deprecated: false
    patch:
      tags:
      - Corporate Contract
      summary: Modify Corporate contract
      operationId: modifyCorporateContract
      description: 'The API allows to update certain data of an existing corporate contract such as

        - pass-through data (specificFields)

        - logo reference sent to the embosser (optional, and can be overridden at card level)

        - dispatch code sent to the embosser (optional)

        - if the company should receive a duplicate for statement or not

        - if the Open-to-buy should be reset to the credit limit amount at cycle closure date (credit account only)

        - if both membership fee and account setup fee are paid by the card account (usually the employee) or the root account (usually the company)

        - the description of each level of the company organization


        As a result the corporate contract is immediately updated with provided data in Worldline system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCorporateContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyCorporateContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}:
    get:
      tags:
      - Corporate Contract
      summary: Retrieve corporate contract by external reference
      operationId: retrieveCorporateContractByIssuerExtRef
      description: "This API allows a particular corporate contract from its reference or its issuer external reference to be retrieved.\n\nThe API response contains corporate contract information such as:\n•\tcontract identifier with the contract reference and the issuer external contract reference if previously provided\n•\tlist of levels in the company organization\n•\tembedded fields if requested such as list of corporate contract entities (limited to 100), list of all customers (limited to 100), list of all companies (limited to 100), list of corporate employee accounts(limited to 100) linked to this corporate contract"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - corporateContractEntities
          - contractCustomers
          - contractCompanies
          - corporateEmployeeAccounts
          - rootAccount
          - corporateEmployeeAccounts.customerIdentifiers
          - contractCustomers.addresses
          - contractCompanies.addresses
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCorporateContract'
      security:
      - basic: []
      deprecated: false
    patch:
      tags:
      - Corporate Contract
      summary: Modify Corporate contract by external reference
      operationId: modifyCorporateContractByExtRef
      description: 'The API allows to update certain data of an existing corporate contract such as

        - pass-through data (specificFields)

        - logo reference sent to the embosser (optional, and can be overridden at card level)

        - dispatch code sent to the embosser (optional)

        - if the company should receive a duplicate for statement or not

        - if the Open-to-buy should be reset to the credit limit amount at cycle closure date (credit account only)

        - if both membership fee and account setup fee are paid by the card account (usually the employee) or the root account (usually the company)

        - the description of each level of the company organization


        As a result the corporate contract is immediately updated with provided data in Worldline system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCorporateContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyCorporateContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/{contractReference}/close:
    post:
      tags:
      - Corporate Contract
      summary: Close Corporate contract
      operationId: closeCorporateContract
      description: 'The API allows to close a corporate contract identified by the Issuer Contract external reference or the Contract reference.

        The corporate contract can be closed immediately or in the future at a date provided by the issuer.


        As a result,

        - For immediate corporate contract closing: the corporate contract is closed, the cards within the corporate contract are deactivated, the accounts closing process is started for all accounts.

        - For scheduled corporate contract closing (closing in the future): as soon as the closing date is reached then the immediate corporate contract closing process is applied.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CloseCorporateContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCloseCorporateContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/{contractReference}/add-corporate-contract-entity:
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      tags:
      - Corporate Contract
      summary: Add an entity to a Corporate contract
      operationId: addCorporateContractEntity
      description: "This API allows an issuer to add a new entity to the company organization such a new country, division or department to an existing corporate contract.\n\nThe issuer shall provide required data to create the new entity such as \n- the product extension to be used among those available for the corporate product used to create the contract\n- entity and account data\n- customer (person) or company information (new ones) or customer references (existing ones in Worldline system)\n\nThe API response returns the extended corporate contract with information related to the newly added entity to the company organization and its associated account(s) only.\n\nIdempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AddCorporateContractEntityRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAddCorporateContractEntityResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/{contractReference}/corporate-contract-entity/{companyEntityExternalReference}:
    patch:
      tags:
      - Corporate Contract
      summary: Modify an entity of a Corporate contract - deprecated
      operationId: modifyCorporateContractEntityDeprecated
      description: 'The API allows certain data of an existing entity of a corporate contract to be updated such as

        - the allowed advertisement channels (flags)

        - the allowed delivery channel for possible letters


        As a result the corporate contract entity is immediately updated with provided data in our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: contract Reference
        required: true
        type: string
      - name: companyEntityExternalReference
        in: path
        description: company Entity External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCorporateContractEntityRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAddCorporateContractEntityResponse'
      security:
      - basic: []
      deprecated: true
  /issuers/{issuerId}/corporate-contracts/{contractReference}/corporate-contract-entities/{companyEntityExternalReference}:
    patch:
      tags:
      - Corporate Contract
      summary: Modify an entity of a Corporate contract
      operationId: modifyCorporateContractEntity
      description: 'The API allows certain data of an existing entity of a corporate contract to be updated such as

        - the allowed advertisement channels (flags)

        - the allowed delivery channel for possible letters


        As a result the corporate contract entity is immediately updated with provided data in our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: contract Reference
        required: true
        type: string
      - name: companyEntityExternalReference
        in: path
        description: company Entity External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCorporateContractEntityRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyCorporateContractEntityResponse'
      security:
      - basic: []
      deprecated: false
  ? /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}/corporate-contract-entity/{companyEntityExternalReference}
  : patch:
      tags:
      - Corporate Contract
      summary: modify an entity of a Corporate contract by external reference - deprecated
      operationId: modifyCorporateContractEntityByIssuerExtRefDeprecated
      description: 'The API allows certain data of an existing entity of a corporate contract to be updated such as

        - the allowed advertisement channels (flags)

        - the allowed delivery channel for possible letters


        As a result the corporate contract entity is immediately updated with provided data in our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: companyEntityExternalReference
        in: path
        description: Company Entity External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCorporateContractEntityRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAddCorporateContractEntityResponse'
      security:
      - basic: []
      deprecated: true
  ? /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}/corporate-contract-entities/{companyEntityExternalReference}
  : patch:
      tags:
      - Corporate Contract
      summary: modify an entity of a Corporate contract by external reference
      operationId: modifyCorporateContractEntityByIssuerExtRef
      description: 'The API allows certain data of an existing entity of a corporate contract to be updated such as

        - the allowed advertisement channels (flags)

        - the allowed delivery channel for possible letters


        As a result the corporate contract entity is immediately updated with provided data in our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: companyEntityExternalReference
        in: path
        description: Company Entity External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCorporateContractEntityRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyCorporateContractEntityResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}/add-corporate-contract-entity:
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      tags:
      - Corporate Contract
      summary: Add an entity to a Corporate contract by external reference
      operationId: addCorporateContractEntityByIssuerExtRef
      description: "This API allows an issuer to add a new entity to the company organization such a new country, division or department to an existing corporate contract.\n\nThe issuer shall provide required data to create the new entity such as \n- the product extension to be used among those available for the corporate product used to create the contract\n- entity and account data\n- customer (person) or company information (new ones) or customer references (existing ones in Worldline system)\n\nThe API response returns the extended corporate contract with information related to the newly added entity to the company organization and its associated account(s) only.\n\nIdempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AddCorporateContractEntityRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAddCorporateContractEntityResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/{contractReference}/add-corporate-employee-cards-accounts:
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      tags:
      - Corporate Contract
      summary: Add an employee and its card(s) and account(s) to a Corporate contract
      operationId: addCorporateEmployeeCardsAndAccounts
      description: 'This API allows an issuer to add to an existing corporate contract an employee with a new card and a new card account. Different types of card products (e.g. MCI/VISA debit, credit, prepaid) are supported.


        The issuer shall provide the required data

        - employee information (new or existing one)

        - the product extension, with appropriated card and account products among those available for the corporate product used to create the contract

        - required data for card and account

        - the entity of the company organization to which the employee should be attached (e.g. employee to be attached to department A)


        The issuer can replace default membership fee and/or account setup fee (contract fees) by specific ones


        The API response returns the extended corporate contract with information related to newly created employee account(s), card contract(s) and card(s) only.


        Idempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AddCorporateEmployeeCardsAndAccountsRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAddCorporateEmployeeCardsAndAccountsResponse'
      security:
      - basic: []
      deprecated: false
  ? /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}/add-corporate-employee-cards-accounts
  : post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      tags:
      - Corporate Contract
      summary: Add an employee and its card(s) and account(s) to a Corporate contract by external reference
      operationId: addCorporateEmployeeCardsAndAccountsByIssuerExtRef
      description: 'This API allows an issuer to add to an existing corporate contract an employee with a new card and a new card account. Different types of card products (e.g. MCI/VISA debit, credit, prepaid) are supported.


        The issuer shall provide the required data

        - employee information (new or existing one)

        - the product extension, with appropriated card and account products among those available for the corporate product used to create the contract

        - required data for card and account

        - the entity of the company organization to which the employee should be attached (e.g. employee to be attached to department A)


        The issuer can replace default membership fee and/or account setup fee (contract fees) by specific ones


        The API response returns the extended corporate contract with information related to newly created employee account(s), card contract(s) and card(s) only.


        Idempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AddCorporateEmployeeCardsAndAccountsRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAddCorporateEmployeeCardsAndAccountsResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/{contractReference}/add-virtual-cards-accounts-service:
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      tags:
      - Corporate Contract
      summary: Add Corporate VCA Service cards and accounts to a corporate contract
      operationId: addVirtualCardsAccounts
      description: 'This endpoint can be used to create Virtual Card Account (VCA). This is a specific service offered by MCI, VISA and Wordline service (VCE). The VCA is not used to pay transactions, instead a token is requested from MCI, VISA, Worldline service (depends on the Issuer), to fund the transactions.


        It is possible to request creation of several VCA Service Cards and Accounts at the same time.


        Pre Conditions

        - Card Profile related to Virtual Card account should exist


        The Issuer can request adding VCA Servive cards and accounts to the corporate contract, by providing:

        - employee information (new or existing one)

        - the product extension, with appropriated card and account products among those available for the corporate product used to create the contract

        - required data for card and account

        - the entity of the company organization to which the employee should be attached (e.g. employee to be attached to department A)


        As a result

        - Dedicated account to the Virtual Card Account is created

        - Card Contract and card is created related to VCA Service


        The API response returns the extended corporate contract with information related to newly created VCA Service account(s), card contract(s) and card(s).


        Idempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AddCorporateVcaServiceCardsAndAccountsRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAddCorporateVcaServiceCardsAndAccountsResponse'
      security:
      - basic: []
      deprecated: false
  ? /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}/add-virtual-cards-accounts-service
  : post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      tags:
      - Corporate Contract
      summary: Add Corporate VCA Service cards and accounts to a corporate contract by issuer contract external reference
      operationId: addVirtualCardsAccountsByIssuerExtRef
      description: 'This endpoint can be used to create Virtual Card Account (VCA). This is a specific service offered by MCI, VISA and Wordline service (VCE). The VCA is not used to pay transactions, instead a token is requested from MCI, VISA, Worldline service (depends on the Issuer), to fund the transactions.


        It is possible to request creation of several VCA Service Cards and Accounts at the same time.


        Pre Conditions

        - Card Profile related to Virtual Card account should exist


        The Issuer can request adding VCA Servive cards and accounts to the corporate contract, by providing:

        - employee information (new or existing one)

        - the product extension, with appropriated card and account products among those available for the corporate product used to create the contract

        - required data for card and account

        - the entity of the company organization to which the employee should be attached (e.g. employee to be attached to department A)


        As a result

        - Dedicated account to the Virtual Card Account is created

        - Card Contract and card is created related to VCA Service


        The API response returns the extended corporate contract with information related to newly created VCA Service account(s), card contract(s) and card(s).


        Idempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AddCorporateVcaServiceCardsAndAccountsRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAddCorporateVcaServiceCardsAndAccountsResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/create-corporate-contract:
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      x-wl-lra-interface: true
      tags:
      - Corporate Contract
      summary: Create a Corporate contract
      operationId: createCorporateContract
      description: "The Create Corporate Contract API allows the creation of a new corporate contract with the company organization (complete or partial structure).\n\nPre-conditions:\nThe request correlation ID, if provided by the issuer, must be unique. In case of re-use of a request correlation ID from an existing corporate contract, the system will return the data from the existing  corporate contract (e.g., if the API call returns a \"time-out\" response, the same request correlation ID can be provided to retrieve corporate contract data from Worldline system for further checks).\nIdempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once. The response will be retrieved directly from our system.\n\nDuring the corporate contract creation\n1) The issuer can provide a list of new customers/companies, otherwise the references to existing customers/companies in Worldline system can be used\n2) The issuer has the possibility to create \n- the company organization, by adding 1 or several corporate entities such as countries, divisions, departments (this is also possible afterwards with dedicated API)\n- the employees with their cards and accounts (this is also possible afterwards with dedicated API)\n\nAs a result, the contract is created:\n- with its own reference calculated by our system\n- with the status set to \"Signed\"\n- with entity levels of the company organization (at least the company itself) \n- with the root entity account\n\nThe API response returns \n- the different identifiers related to the  corporate contract, such as the contract itself, contract owner, account owner of an entity\n- if requested identifiers of employee accounts, card contracts, cards and cardholders if any\n(each identifier is composed of the Worldline internal reference and, optionally, the external reference if provided by the issuer in the request)\n\nThe references are used to: retrieve/update/close corporate contracts, retrieve the list of entities for a corporate contract, retrieve the corporate employee account, etc."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CreateCorporateContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCreateCorporateContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}/close:
    post:
      tags:
      - Corporate Contract
      summary: Close Corporate contract by external reference
      operationId: closeCorporateContractByIssuerExtRef
      description: 'The API allows to close a corporate contract identified by the Issuer Contract external reference or the Contract reference.

        The corporate contract can be closed immediately or in the future at a date provided by the issuer.


        As a result,

        - For immediate corporate contract closing: the corporate contract is closed, the cards within the corporate contract are deactivated, the accounts closing process is started for all accounts.

        - For scheduled corporate contract closing (closing in the future): as soon as the closing date is reached then the immediate corporate contract closing process is applied.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CloseCorporateContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCloseCorporateContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/{contractReference}/refund-fee-on-demand:
    post:
      x-wl-idempotent: true
      tags:
      - Corporate Contract
      summary: Refund fee by contract reference for corporate contract
      operationId: refundFeeByContractReferenceForCorporateContract
      description: "The API is used to trigger an on demand pro rata refund of  Account Setup (AS) fee or Membership fee (MS) for the unutilised period. \n\nPre Conditions:\n- In case refund for Account Setup fee is requested then card contract closure date should be less than  card contract creation date + 1 year\n- In case refund for Membership fee is requested, then the Membership fee should already be posted \n- Account setup fee refund on demand can be received only once during contract lifecycle\n- Membership fee refund on demand can be received only once between Membership fee anniversary dates\n\nThe issuer can request the refund by AS or MS fee by providing:\n- The fee type: Either Account Setup fee or Membership Fee\n- Card Contract Reference\n\nAs a Result:\n- For Account Setup fee: \nIf account is in closed status (BEING_CLOSED), the pro rata refund will be calculated and posted with the following logic: Posted AS fee amount * (Number of days from contract cancellation till (card contract creation + 1 year) / number of days in the year), \nIn other cases, it will be calculated in the following logic:,Posted AS fee amount * (Number of days from the date when demand for refund is received till (card contract creation + 1 year) / number of days in the year)\n\n- For Membership Fee: \nIf account is in closed status (BEING_CLOSED), the pro rata refund will be calculated and posted with the following logic: MS fee posted on last MS fee anniversary date * (Number of days from contract cancellation till next MS Fee Anniversary date / number of days in the year)\nIn other cases, it will be calculated in the following logic: MS fee posted on last MS fee anniversary date * (Number of days from the date when demand for refund is received till next MS Fee Anniversary date / number of days in the year).\n\nIdempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RefundFeeOnDemandRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityRefundFeeOnDemandResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}/addon-subscriptions:
    get:
      tags:
      - Corporate Contract
      summary: List add-on services subscriptions for a corporate contract by external reference
      operationId: listAddOnSubscriptionsForCorporateContractIssuerExtRef
      description: "The API allows the list of additional service subscriptions (e.g. new letter, travel insurance) for the corporate contract to be retrieved.\nThe main input fields requested by the API are:\n•\tThe issuer ID\n•\tThe corporate contract for which the add-on subscriptions are requested: It can be provided by using the contract reference or the issuer external contract reference\n\nThe API response contains add-on subscription information such as:\n•\tThe reference of the additional service subscription\n•\tThe service type reference\n•\tThe card contract or the account on which the subscription has been done\n•\tThe date of subscription to the add-on service\n•\tThe list of add-on service parameters if any"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: accountReference
        in: query
        description: Account Reference
        required: false
        type: string
      - name: issuerAccountExternalReference
        in: query
        description: Issuer Account External Reference
        required: false
        type: string
      - name: cardContractReference
        in: query
        description: Card Contract Reference
        required: false
        type: string
      - name: issuerCardContractExternalReference
        in: query
        description: Issuer Card Contract External Reference
        required: false
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListAddonSubscription'
      security:
      - basic: []
      deprecated: false
    post:
      x-wl-lra-operation: true
      tags:
      - Corporate Contract
      summary: Subscribe to add-on for a corporate contract by external reference
      operationId: subscribeAddonByIssuerContractExternalReference
      description: "The API allows a cardholder to subscribe to an additional service (e.g. new letter, travel insurance) for the corporate contract during all contract life cycle.\nThe list of allowed additional services are defined on the product (e.g. PORTAL_ACCESS, ALERT, NOTIFICATION).\n\nThe main input fields requested by the API are:\n•\tThe issuer ID\n•\tThe corporate contract for which the add-on subscription is requested: It can be provided by using the contract reference or the issuer external contract reference\n•\tThe identifier of the entity for which the add-on subscription is requested: Either the card contract by providing the card contract reference or the issuer external card contract reference, \nOR the account by providing the account reference or the issuer external account reference\n•\tThe corresponding reference of the additional service\n•\tThe service type reference defined at product level\nDepending on the service type, the issuer can add additional parameters to the add-on service.\n\nAs a result:\n•\tThe new add-on subscription for the corporate contract is available and can be unsubscribed during all contract life cycle\n•\tA fee can be generated and posted to the cardholder account if required for the product."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateAddOnSubscriptionRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCreateAddOnSubscriptionResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/corporate-contracts/{contractReference}/addon-subscriptions:
    get:
      tags:
      - Corporate Contract
      summary: List add-on services subscriptions for a corporate contract
      operationId: listAddOnSubscriptionsForCorporateContract
      description: "The API allows the list of additional service subscriptions (e.g. new letter, travel insurance) for the corporate contract to be retrieved.\nThe main input fields requested by the API are:\n•\tThe issuer ID\n•\tThe corporate contract for which the add-on subscriptions are requested: It can be provided by using the contract reference or the issuer external contract reference\n\nThe API response contains add-on subscription information such as:\n•\tThe reference of the additional service subscription\n•\tThe service type reference\n•\tThe card contract or the account on which the subscription has been done\n•\tThe date of subscription to the add-on service\n•\tThe list of add-on service parameters if any"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      - name: accountReference
        in: query
        description: Account Reference
        required: false
        type: string
      - name: issuerAccountExternalReference
        in: query
        description: Issuer Account External Reference
        required: false
        type: string
      - name: cardContractReference
        in: query
        description: Card Contract Reference
        required: false
        type: string
      - name: issuerCardContractExternalReference
        in: query
        description: Issuer Card Contract External Reference
        required: false
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListAddonSubscription'
      security:
      - basic: []
      deprecated: false
    post:
      x-wl-lra-operation: true
      tags:
      - Corporate Contract
      summary: Subscribe to add-on for a corporate contract
      operationId: subscribeAddonByContractReference
      description: "The API allows a cardholder to subscribe to an additional service (e.g. new letter, travel insurance) for the corporate contract during all contract life cycle.\nThe list of allowed additional services are defined on the product (e.g. PORTAL_ACCESS, ALERT, NOTIFICATION).\n\nThe main input fields requested by the API are:\n•\tThe issuer ID\n•\tThe corporate contract for which the add-on subscription is requested: It can be provided by using the contract reference or the issuer external contract reference\n•\tThe identifier of the entity for which the add-on subscription is requested: Either the card contract by providing the card contract reference or the issuer external card contract reference, \nOR the account by providing the account reference or the issuer external account reference\n•\tThe corresponding reference of the additional service\n•\tThe service type reference defined at product level\nDepending on the service type, the issuer can add additional parameters to the add-on service.\n\nAs a result:\n•\tThe new add-on subscription for the corporate contract is available and can be unsubscribed during all contract life cycle\n•\tA fee can be generated and posted to the cardholder account if required for the product."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateAddOnSubscriptionRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCreateAddOnSubscriptionResponse'
      security:
      - basic: []
      deprecated: false
  ? /issuers/{issuerId}/corporate-contracts/external-contracts/{issuerContractExternalReference}/addon-subscriptions/unsubscribe
  : post:
      x-wl-lra-operation: true
      tags:
[...]
