openapi: 3.2.0
info:
  description: 'The current set of APIs will be available in Q2 2026 on Worldline Global Issuing Platforms.

    Additional APIs are under construction and planned to be available in 2026.'
  version: 2.41.1
  title: Worldline Card Issuing Company API
  contact: {}
servers:
- url: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing/api/v2
tags:
- name: Company
  description: Company Api Controller
paths:
  /issuers/{issuerId}/companies/{customerReference}:
    get:
      tags:
      - Company
      summary: Retrieve company's information
      operationId: retrieveCompanyByCustomerRef
      description: 'The "retrieve company''s information" API allows the user to get company information.

        Information to be provided in input:

        - The issuer ID

        - The customer reference or the issuer customer reference (as company)

        In addition to the company information, it is also possible to request the list of addresses and contacts of the company.'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: issuerId
        required: true
        schema:
          type: string
      - name: customerReference
        in: path
        description: customerReference
        required: true
        schema:
          type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - addressIdentifiers
            - addresses
            - contactIdentifiers
            - contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityCompany'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
    put:
      tags:
      - Company
      summary: Update company
      operationId: updateCompany
      description: 'The "update company" API allows the user to update the attributes of a customer (as company).

        To identify the company, it is needed to provide:

        - The issuer ID

        - The customer reference or the issuer customer reference (as company) for which updates are required

        The customer reference can be retrieved by using the "Retrieve list of company''s information" API.

        All the attributes must be given in input even if they remain unchanged. For that, It can be needed to use the "retrieve company''s information" API to get all the current attributes.'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: customerReference
        in: path
        description: Customer Reference
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityModifyCompanyResponse'
      security:
      - basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyCompanyRequest'
    patch:
      tags:
      - Company
      summary: Update company partially
      operationId: updateCompanyPartially
      description: 'The "update company partially" API allows the user to update the attributes of a customer (as company).

        To identify the company, it is needed to provide:

        - The issuer ID

        - The customer reference or the issuer customer reference (as company) for which updates are required

        The customer reference can be retrieved by using the "Retrieve list of company''s information" API.

        With this API, only attributes that need to be updated must be given in input.'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: customerReference
        in: path
        description: Customer Reference
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityModifyCompanyResponse'
      security:
      - basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyCompanyRequest'
  /issuers/{issuerId}/companies/{customerReference}/company-history:
    get:
      tags:
      - Company
      summary: Retrieve list of historic updates of a company (beta)
      operationId: listCompanyHistory
      description: "The API allows the company update history of a company to be retrieved. \nThe main input fields requested by the API are:\n•\tThe issuer ID\n•\tThe customer for which information is requested : It can be provided by using the customer reference or the issuer customer external reference (as company). \nA start date and an end date can be provided in order to limit the search of the history. \nIn response, the interface provides a list of changes with the effective date of the update."
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: issuerId
        required: true
        schema:
          type: string
      - name: customerReference
        in: path
        description: customerReference
        required: true
        schema:
          type: string
      - name: periodStartDateTime
        in: query
        required: false
        description: 'Format : yyyy-MM-ddTHH:mm:ssZ'
        schema:
          type: string
      - name: periodEndDateTime
        in: query
        required: false
        description: 'Format : yyyy-MM-ddTHH:mm:ssZ'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityCompanyHistory'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/companies/external-customers/{issuerCustomerExternalReference}:
    get:
      tags:
      - Company
      summary: Retrieve company information by external reference
      operationId: retrieveCompanyByIssuerExtRef
      description: 'The "retrieve company''s information" API allows the user to get company information.

        Information to be provided in input:

        - The issuer ID

        - The customer reference or the issuer customer reference (as company)

        In addition to the company information, it is also possible to request the list of addresses and contacts of the company.'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: issuerId
        required: true
        schema:
          type: string
      - name: issuerCustomerExternalReference
        in: path
        description: issuerCustomerExternalReference
        required: true
        schema:
          type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - addressIdentifiers
            - addresses
            - contactIdentifiers
            - contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityCompany'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
    put:
      tags:
      - Company
      summary: Update Company by external reference
      operationId: updateCompanyByIssuerExtRef
      description: 'The "update company" API allows the user to update the attributes of a customer (as company).

        To identify the company, it is needed to provide:

        - The issuer ID

        - The customer reference or the issuer customer reference (as company) for which updates are required

        The customer reference can be retrieved by using the "Retrieve list of company''s information" API.

        All the attributes must be given in input even if they remain unchanged. For that, It can be needed to use the "retrieve company''s information" API to get all the current attributes.'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: issuerCustomerExternalReference
        in: path
        description: Issuer Customer External Reference
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityModifyCompanyResponse'
      security:
      - basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyCompanyRequest'
    patch:
      tags:
      - Company
      summary: Update Company partially by external reference
      operationId: updateCompanyPartiallyByIssuerExtRef
      description: 'The "update company partially" API allows the user to update the attributes of a customer (as company).

        To identify the company, it is needed to provide:

        - The issuer ID

        - The customer reference or the issuer customer reference (as company) for which updates are required

        The customer reference can be retrieved by using the "Retrieve list of company''s information" API.

        With this API, only attributes that need to be updated must be given in input.'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: issuerCustomerExternalReference
        in: path
        description: Issuer Customer External Reference
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityModifyCompanyResponse'
      security:
      - basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyCompanyRequest'
  /issuers/{issuerId}/companies/external-customers/{issuerCustomerExternalReference}/company-history:
    get:
      tags:
      - Company
      summary: Retrieve list of historic updates of a company by customer external reference (beta)
      operationId: listCompanyHistoryByIssuerExtRef
      description: "The API allows the company update history of a company to be retrieved. \nThe main input fields requested by the API are:\n•\tThe issuer ID\n•\tThe customer for which information is requested : It can be provided by using the customer reference or the issuer customer external reference (as company). \nA start date and an end date can be provided in order to limit the search of the history. \nIn response, the interface provides a list of changes with the effective date of the update."
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: issuerId
        required: true
        schema:
          type: string
      - name: issuerCustomerExternalReference
        in: path
        description: issuerCustomerExternalReference
        required: true
        schema:
          type: string
      - name: periodStartDateTime
        in: query
        required: false
        description: 'Format : yyyy-MM-ddTHH:mm:ssZ'
        schema:
          type: string
      - name: periodEndDateTime
        in: query
        required: false
        description: 'Format : yyyy-MM-ddTHH:mm:ssZ'
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityCompanyHistory'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/companies:
    get:
      tags:
      - Company
      summary: Retrieve list of company's information
      operationId: listCompanies
      description: 'The "Retrieve list of company''s information" API enables to get a list of customers based on multiple criteria such as corporateName, nationalFiscalNumber, address town name, address postal code.

        All companies whose corporate name includes the ''corporate name'' parameter are returned (e.g. ''zon'' => ''amazon'' + ''zon craft'', ...)'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: issuerId
        required: true
        schema:
          type: string
      - name: corporateName
        in: query
        description: Name of the company
        required: true
        schema:
          type: string
      - name: nationalFiscalIdentifier
        in: query
        description: national fiscal identifier of the company
        required: false
        schema:
          type: string
      - name: postalAddress.postCode
        in: query
        description: Post code of the company's address
        required: false
        schema:
          type: string
      - name: postalAddress.townName
        in: query
        description: Town name of the company's address
        required: false
        schema:
          type: string
      - name: buildingNumber
        in: query
        description: Building number of the company
        required: false
        schema:
          type: string
      - name: streetName
        in: query
        description: Street name of the company
        required: false
        schema:
          type: string
      - name: page
        in: query
        description: '0'
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - name: offset
        in: query
        description: '100'
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityListCompany'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      x-wl-lra-interface: true
      tags:
      - Company
      summary: Create company
      operationId: createCompany
      description: 'The API creates a company if all the mandatory fields are provided (see company''s resource).

        By default, the company is considered ''ACTIVE'' if the Status field is not provided.

        The default address of the company must be also configured.

        The API returns a customer reference (as company).

        The response can also be enriched (if specified as embedded fields in input) with additional data such as company information, address identifiers linked to the company, addresses of the company, contacts of the company.


        Idempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system.'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - company
            - company.addressIdentifiers
            - company.addresses
            - company.contacts
      - name: issuerId
        in: path
        description: issuerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityCreateCompanyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCompanyRequest'
        description: requestBody
        required: true
  /issuers/{issuerId}/companies/{customerReference}/addresses:
    get:
      tags:
      - Company
      summary: Retrieve company's Address information list
      operationId: retrieveCompanyAddressByCustomerRef
      description: "This API enables all the addresses associated with a given customer (as company), identified by customer reference or issuer customer reference to be retrieved. \nTo identify the company, it is needed to provide:\n- The issuer ID\n- The customer reference or the issuer customer reference (as company)\nThe address could be either a permanent address or a temporary address.\nSeveral address types are managed. Each address can be used for a specific usage (card delivery, statement delivery, contract letter,...).\nAddress usage is associated to a service (card service, account service, dispute service, ..) configured in our system.\nThe API can retrieve only the addresses linked to a specific usage: in this case, all the mandatory 'AddressUsage' attributes must be provided (e.g. serviceCode, AddressUsage).\nIf the showHistory indicator is set to Y then the full history of the addresses and the future addresses are returned. If this indicator is empty (default behavior) or equals to N, then only the last active addresses are returned.\nAddress identifiers, Address attributes and Address usages are displayed in the response."
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: issuerId
        required: true
        schema:
          type: string
      - name: customerReference
        in: path
        description: customerReference
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: serviceCode
        in: query
        description: 'The Service for which the address usage is defined : CARD_SERVICE, ACCOUNT_SERVICE. Conditional (must be used with addressUsageName)'
        required: false
        schema:
          type: string
      - name: entityReference
        in: query
        description: 'This corresponds to the application domain of the address. It can be eg a card contract reference, card account reference. It is an optional field.

          It enables to have the same usage address for the same customer applied to different addresses (one cardholder with 2 card contracts: card delivery address usage is assigned to main postal address for contract A and card delivery address usage is also assigned to office postal address for contract B.'
        required: false
        schema:
          type: string
      - name: addressUsageName
        in: query
        description: The business process for which the address usage is defined such as CARD_DELIVERY, PIN_MAILER_DELIVERY, STATEMENT_DELIVERY.
        required: false
        schema:
          type: string
      - name: showHistory
        in: query
        description: 'If the showHistory indicator is set to ''true'' then the full history of the addresses are returned. If this indicator is empty (default behavior) or equals to ''false'', then only the last active addresses are returned. '
        required: false
        schema:
          type: boolean
          default: false
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - addressUsages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityListAddress'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/companies/external-customers/{issuerCustomerExternalReference}/addresses:
    get:
      tags:
      - Company
      summary: Retrieve company's Address information list by external reference
      description: "This API enables all the addresses associated with a given customer (as company), identified by customer reference or issuer customer reference to be retrieved. \nTo identify the company, it is needed to provide:\n- The issuer ID\n- The customer reference or the issuer customer reference (as company)\nThe address could be either a permanent address or a temporary address.\nSeveral address types are managed. Each address can be used for a specific usage (card delivery, statement delivery, contract letter,...).\nAddress usage is associated to a service (card service, account service, dispute service, ..) configured in our system.\nThe API can retrieve only the addresses linked to a specific usage: in this case, all the mandatory 'AddressUsage' attributes must be provided (e.g. serviceCode, AddressUsage).\nIf the showHistory indicator is set to Y then the full history of the addresses and the future addresses are returned. If this indicator is empty (default behavior) or equals to N, then only the last active addresses are returned.\nAddress identifiers, Address attributes and Address usages are displayed in the response."
      operationId: retrieveCompanyAddressByIssuerExtRef
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: issuerId
        required: true
        schema:
          type: string
      - name: issuerCustomerExternalReference
        in: path
        description: issuerCustomerExternalReference
        required: true
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: serviceCode
        in: query
        description: 'The Service for which the address usage is defined : CARD_SERVICE, ACCOUNT_SERVICE. Conditional (must be used with addressUsageName)'
        required: false
        schema:
          type: string
      - name: entityReference
        in: query
        description: 'This corresponds to the application domain of the address. It can be eg a card contract reference, card account reference. It is an optional field.

          It enables to have the same usage address for the same customer applied to different addresses (one cardholder with 2 card contracts: card delivery address usage is assigned to main postal address for contract A and card delivery address usage is also assigned to office postal address for contract B.'
        required: false
        schema:
          type: string
      - name: addressUsageName
        in: query
        description: The business process for which the address usage is defined such as CARD_DELIVERY, PIN_MAILER_DELIVERY, STATEMENT_DELIVERY.
        required: false
        schema:
          type: string
      - name: showHistory
        in: query
        description: 'If the showHistory indicator is set to ''true'' then the full history of the addresses are returned. If this indicator is empty (default behavior) or equals to ''false'', then only the last active addresses are returned. '
        required: false
        schema:
          type: boolean
          default: false
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - addressUsages
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityListAddress'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/companies/{customerReference}/contacts:
    post:
      x-wl-idempotent: true
      tags:
      - Company
      summary: Create Contact
      operationId: createContactByCustomerReference
      description: 'The API creates a contact person belonging to the company by providing information such as first name, name, department to which he is attached.

        To create a contact, it is needed to provide:

        - The issuer ID

        - The customer reference or the issuer customer reference (as company).


        Idempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system.'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: customerReference
        in: path
        description: Customer Reference
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityCreateContactResponse'
      security:
      - basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactRequest'
  /issuers/{issuerId}/companies/external-customers/{issuerCustomerExternalReference}/contacts:
    post:
      x-wl-idempotent: true
      tags:
      - Company
      summary: Create Contact by external reference
      operationId: createContactByIssuerCustomerExternalReference
      description: 'The API creates a contact person belonging to the company by providing information such as first name, name, department to which he is attached.

        To create a contact, it is needed to provide:

        - The issuer ID

        - The customer reference or the issuer customer reference (as company).


        Idempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system.'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: issuerCustomerExternalReference
        in: path
        description: Issuer Customer External Reference
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityCreateContactResponse'
      security:
      - basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContactRequest'
  /issuers/{issuerId}/companies/{customerReference}/contacts/{contactReference}:
    put:
      tags:
      - Company
      summary: Modify Contact
      operationId: modifyContactByCustomerReferenceAndContactReference
      description: "The API allows information of a contact of the company to be modified. \nTo update a contact, it is needed to provide:\n- The issuer ID\n- The customer reference or the issuer customer reference (as company)  \n- The contact reference\nAll attributes must be provided (even if some of them have not been modified) else the value of missing attributes will be empty."
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: customerReference
        in: path
        description: Customer Reference
        required: true
        schema:
          type: string
      - name: contactReference
        in: path
        description: Contact Reference
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityModifyContactResponse'
      security:
      - basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyContactRequest'
    delete:
      tags:
      - Company
      summary: Remove Contact by customer reference and contact reference
      description: "The API allows a contact of the company to be deleted.\nTo remove a contact, it is needed to provide:\n- The issuer ID\n- The customer reference or the issuer customer reference (as company)  \n- The contact reference"
      operationId: removeContactByCustomerReferenceAndContactReference
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: customerReference
        in: path
        description: Customer Reference
        required: true
        schema:
          type: string
      - name: contactReference
        in: path
        description: Contact Reference
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityRemoveContactResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/companies/external-customers/{issuerCustomerExternalReference}/contacts/{contactReference}:
    put:
      tags:
      - Company
      summary: Modify Contact by external reference
      description: "The API allows information of a contact of the company to be modified. \nTo update a contact, it is needed to provide:\n- The issuer ID\n- The customer reference or the issuer customer reference (as company)  \n- The contact reference\nAll attributes must be provided (even if some of them have not been modified) else the value of missing attributes will be empty."
      operationId: modifyContactByIssuerCustomerExternalReferenceAndContactReference
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: issuerCustomerExternalReference
        in: path
        description: Issuer Customer External Reference
        required: true
        schema:
          type: string
      - name: contactReference
        in: path
        description: Contact Reference
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityModifyContactResponse'
      security:
      - basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyContactRequest'
    delete:
      tags:
      - Company
      summary: Remove Contact by external reference
      description: "The API allows a contact of the company to be deleted.\nTo remove a contact, it is needed to provide:\n- The issuer ID\n- The customer reference or the issuer customer reference (as company)  \n- The contact reference"
      operationId: removeContactByIssuerCustomerExternalReferenceAndContactReference
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: issuerCustomerExternalReference
        in: path
        description: Issuer Customer External Reference
        required: true
        schema:
          type: string
      - name: contactReference
        in: path
        description: Contact Reference
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityRemoveContactResponse'
      security:
      - basic: []
      deprecated: false
components:
  schemas:
    InternalServerErrorResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 500
          description: HTTP status code
        statusMessage:
          type: string
          example: Internal server error
          description: Executed REST API status message
      title: InternalServerErrorResponseMetadata
    Address:
      type: object
      required:
      - addressLabel
      - addressType
      properties:
        issuerId:
          type: string
          description: Issuer identifier (unique per platform)
        addressIdentifier:
          description: Unique identifier of the address. See the AddressIdentifier's datatype for a detail description
          allOf:
          - $ref: '#/components/schemas/AddressIdentifier'
        addressVersionIdentifier:
          allOf:
          - $ref: '#/components/schemas/AddressVersionIdentifier'
        addressLabel:
          type: string
          example: MAIN_POSTAL_ADDRESS
          description: "example: MAIN_POSTAL_ADDRESS Indicate the class of the address amongst a list of possible values such as MAIN_POSTAL_ADDRESS, SECOND_POSTAL_ADDRESS, HOME_PHONE_NUMBER, PRIVATE_MOBILE_PHONE, PERSONAL_EMAIL. This list of values is shared between WL and the issuer during issuer configuration. \n Every label corresponds to a unique type of address. A customer (person) has at least one MAIN_POSTAL_ADDRESS (mandatory) and a company has at least one HEAD_OFFICE."
        addressType:
          type: string
          example: POSTAL_MAIL
          description: The type of an address is POSTAL_MAIL, PHONE or E_MAIL
          enum:
          - PHONE
          - POSTAL_MAIL
          - E_MAIL
        postalAddress:
          description: "Customer Postal Address. This field is mandatory only if AddressType is POSTAL_MAIL. \n Depending on countries, the address format (mainly for line1, line 2, line3, line4 and line5) can have specific conditions such as length restriction. The customer should contact WL to check the address format and have more information."
          allOf:
          - $ref: '#/components/schemas/MailAddress'
        emailAddress:
          description: Customer Email. This field is mandatory only if AddressType is E_MAIL. See the EmailAddress' datatype for the detail list of the attributes.
          allOf:
          - $ref: '#/components/schemas/EmailAddress'
        phone:
          description: Customer Phone details. This field is mandatory only if AddressType is PHONE. See the PhoneNumber's datatype for the detail list of the attributes.
          allOf:
          - $ref: '#/components/schemas/PhoneNumber'
        addressUsages:
          type: array
          description: 'List of the usages linked to the address if any exists. See the AddressUsage''s datatype for the detail list of the attributes (optional)

            _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
          items:
            $ref: '#/components/schemas/AddressUsage'
        status:
          type: string
          description: Status of the address (ACTIVE or INACTIVE). If value is not provided, by default 'ACTIVE'
        statusDate:
          type: string
          description: 'If the address is INACTIVE, the date corresponds to the inactivation date.

            If the address is ACTIVE, the date corresponds to the last activation date.'
          format: date-time
        startDate:
          type: string
          description: Date when the address starts to be active
          format: date-time
        endDate:
          type: string
          description: 'This attribute represents :

            • in case of a permanent address : the last date the address has been active. This information is computed based on the next future address start date if any exists else this attribute is empty.

            • in case of a temporary address : the end date where this address is active. This end date is mandatory when a temporary address is created.'
          format: date-time
        invalid:
          type: boolean
          description: "Indicates if an address is invalid (by default false).\nThis feature is currently only accurate for the mail address and apply only on the current permanent address.\nIn case a postal address is invalid, this address cannot be used anymore for letters, cards, pin mailers, statement sending. \nThis feature is active only depending on an issuer configuration. "
          default: false
        temporary:
          type: boolean
          description: 'indicates if the address is a temporary one (by default ''false'').

            In case of a temporary address, the end date is mandatory.'
          default: false
      title: Address
    ApiResponseEntityModifyCompanyResponse:
      x-wl-api-response: true
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          description: Response metadata
          allOf:
          - $ref: '#/components/schemas/ResponseMetadata'
        data:
          description: Response data
          allOf:
          - $ref: '#/components/schemas/ModifyCompanyResponse'
      description: Issuer response entity
      title: ApiResponseEntityModifyCompanyResponse
    ResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        links:
          description: Metadata Links
          allOf:
          - $ref: '#/components/schemas/Links'
        statusMessage:
          type: string
          example: Executed successfully
          description: Executed REST API status message
        statusCode:
          type: integer
          format: int32
          example: 200
          description: HTTP status code
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        timeTakenMs:
          type: integer
          format: int64
          example: 12
          description: Wall clock time required from service to generate the response
      title: ResponseMetadata
    AddressIdentifier:
      type: object
      properties:
        addressReference:
          type: string
          description: Unique internal identifier computed with a specific algorithm (mandatory)
        issuerAddressExternalReference:
          type: string
          description: Unique external identifier provided by the issuer (optional)
      title: AddressIdentifier
    BadRequestErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/BadRequestResponseMetadata'
      title: BadRequestErrorApiResponse
    EmailAddress:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          description: 'Email address of the Customer (mandatory). The email address should have the following format: aaa@bbb.ccc

            aaa, bbb, ccc are character string.'
      title: EmailAddress
    NotFoundErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/NotFoundResponseMetadata'
      title: NotFoundErrorApiResponse
    ApiResponseEntityCreateCompanyResponse:
      x-wl-api-response: true
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          description: Response metadata
          allOf:
          - $ref: '#/components/schemas/ResponseMetadata'
        data:
          description: Response data
          allOf:
          - $ref: '#/components/schemas/CreateCompanyResponse'
      description: Issuer response entity
      title: ApiResponseEntityCreateCompanyResponse
    ForbiddenErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/ForbiddenResponseMetadata'
      title: ForbiddenErrorApiResponse
    NotFoundResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 404
          description: HTTP status code
        statusMessage:
          type: string
          example: Not found
          description: Executed REST API status message
      title: NotFoundResponseMetadata
    UnauthorizedErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/UnauthorizedResponseMetadata'
      title: UnauthorizedResponseMetadata
    CompanyHistory:
      type: object
      properties:
        issuerId:
          type: string
          description: Issuer identifier (unique per platform)
        customerIdentifier:
          description: Unique identifier. Refer to Customer Identifier data type for detail information
          allOf:
          - $ref: '#/components/schemas/CustomerIdentifier'
        effectiveDate:
          type: string
          format: date-time
          description: Indicates the date when the update is processed
        corporateName:
          type: string
          description: Name of the company
        nationalFiscalIdentifier:
          type: string
          description: National fiscal identifier of the company (for information only)
        vatCode:
          type: string
          description: Value added tax code of the company (for information only). Free text.
        type:
          type: string
          description: Type of company (e.g. Governmental, public company, private company). For information only. Free text.
        size:
          type: string
          description: Size of the company. Free text (e.g. small, medium, 100).
        businessArea:
          type: string
          description: Definition of the activity of the company. Free text.
        activityCode:
          type: string
          description: Activity of the company (e.g. 'rent car', 'retailer'). Free text.
        revenue:
          type: string
          description: Annual turnover of the company. Free text
        legalForm:
          type: string
          description: 'Definition of the legal form of the company (e.g. in France : SA, SARL, EURL). Free text.'
        commercialStatus:
          type: string
          description: Commercial status of the company (e.g. 'normal', 'Active in Liquidation', 'Inactive'). List of possible values is determined per issuer. A default value is defined for each issuer.
        preferredCorrespondenceLanguage:
          type: string
          description: Preferred correspondence language of the company (optional). Free text but ISO639-1 code is recommended (e.g. ‘nl’,’fr’,’de’,’en’). If present, the value can be subject to a validation process if a specific rule has been configured at issuer level.
        specificFields:
          type: object
          description: 'List of external data {"label":"value"} separated by a "," related to a company that can be provided by e.g. the issuer for information or for usage by other systems. Example : {"label1":"value1","label2":"value2"} Those provided data have no impact on our system business processes.'
          additionalProperties:
            type: string
        partnerExternalReference:
          type: string
          description: External Reference provided by the issuer (optional)
      title: CompanyHistory
    DeleteContactResponse:
      type: object
      properties:
        contactIdentifier:
          description: Contact Identifier of Contact
          allOf:
          - $ref: '#/components/schemas/ContactIdentifier'
      title: DeleteContactResponse
    ApiResponseEntityModifyContactResponse:
      x-wl-api-response: true
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          description: Response metadata
          allOf:
          - $ref: '#/components/schemas/ResponseMetadata'
        data:
          description: Response data
          allOf:
          - $ref: '#/components/schemas/ModifyContactResponse'
      description: Modify contact response entity
      title: ApiResponseEntityModifyContactResponse
    Links:
      type: object
      required:
      - self
      properties:
        self:
          type: string
          example: /x/{x}?x=x
          description: Service method URL
        next:
          type: string
          example: /x/{x}?page[offset]=2
          description: URL pagination query parameter next page
      title: Links
    ApiResponseEntityListCompany:
      x-wl-api-response: true
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          description: Response metadata
          allOf:
          - $ref: '#/components/schemas/ResponseMetadata'
        data:
          type: array
          description: Response data
          items:
            $ref: '#/components/schemas/Company'
      description: Issuer response entity
      title: ApiResponseEntityListCompany
    AddressUsage:
      type: object
      required:
      - addressUsageName
      - serviceCode
      properties:
        addressUsageName:
          type: string
          example: STATEMENT_SENDING
          description: The business process for which the address usage is defined such as CARD_DELIVERY, PIN_MAILER_DELIVERY, STATEMENT_DELIVERY.
        entityReference:
          type: string
          description: 'This corresponds to the application domain of the address. It can be eg a card contract reference, card account reference. It is an optional field.

            It enables to have the same usage address for the same customer applied to different addresses (one cardholder with 2 card contracts: card delivery address usage is assigned to main postal address for contract A and card delivery address usage is also assigned to office postal address for contract B.'
        serviceCode:
          type: string
          example: ACCOUNT_SERVICE
          description: 'The Service for which the address usage is defined : CARD_SERVICE, ACCOUNT_SERVICE, …'
      title: AddressUsage
    ForbiddenResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 403
          description: HTTP status code
        statusMessage:
          type: string
          example: Forbidden
          description: Executed REST API status message
      title: ForbiddenResponseMetadata
    ModifyAddressRequestMailAddress:
      type: object
      required:
      - country
      properties:
        typeCode:
          type: string
          description: DEPRECATED
        courtesyTitle:
          type: string
          description: Courtesy title of the address. Free text
        line1:
          type: string
          description: Address line 1 (conditional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
        line2:
          type: string
          description: Address line 2 (conditional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
        line3:
          type: string
          description: Address line 3 (conditional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
        line4:
          type: string
          description: Address line 4 (conditional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
        line5:
          type: string
          description: Address line 5 (conditional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
        buildingNumber:
          type: string
          description: Building number of the address (optional)
        boxNumber:
          type: string
          description: Box number of the address (optional)
        streetName:
          type: string
          description: Street name of the address (optional)
        postCode:
          type: string
          description: zip code of the address (optional)
        townName:
          type: string
          description: City corresponding to the address
        countrySubdivision:
          type: string
          description: Subdivision of the country (optional)
        country:
          type: string
          description: Code of the country (mandatory). Free text. The value can be subject to a validation process if a specific rule has been configured at issuer level. The value can be optional if a specific rule has been configured.
      title: ModifyAddressRequest.MailAddress
    MailAddress:
      type: object
      required:
      - country
      properties:
        typeCode:
          type: string
          description: Deprecated field
        line1:
          type: string
          description: Address line 1 (conditional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
        line2:
          type: string
          description: Address line 2 (optional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
        line3:
          type: string
          description: Address line 3 (optional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
        line4:
          type: string
          description: Address line 4 (optional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
        line5:
          type: string
          description: Address line 5 (optional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
        buildingNumber:
          type: string
          description: Building number of the address (optional)
        boxNumber:
          type: string
          description: Box number of the address (optional)
        streetName:
          type: string
          description: Street name of the address (optional)
        postCode:
          type: string
          description: Zip Code of the address (optional)
        townName:
          type: string
          description: 'City corresponding to the address '
        countrySubdivision:
          type: string
          description: Subdivision of the country (optional)
        country:
          type: string
          description: Code of the country (mandatory). Free text. The value can be subject to a validation process if a specific rule has been configured at issuer level. The value can be optional if a specific rule has been configured.
        countryName:
          type: string
          description: Country Name of the address. Free text
        courtesyTitle:
          type: string
          description: Courtesy title of the address. Free text
      title: MailAddress
    ModifyCompanyResponse:
      type: object
      required:
      - customerIdentifier
      properties:
        customerIdentifier:
          description: Identification of the company either by Issuer customer external reference or by customer reference
          allOf:
          - $ref: '#/components/schemas/CustomerIdentifier'
      title: ModifyCompanyResponse
    ApiResponseEntityRemoveContactResponse:
      x-wl-api-response: true
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          description: Response metadata
          allOf:
          - $ref: '#/components/schemas/ResponseMetadata'
        data:
          description: Response data
          allOf:
          - $ref: '#/components/schemas/DeleteContactResponse'
      description: Remove contact response entity
      title: ApiResponseEntityRemoveContactResponse
    ApiResponseEntityCreateContactResponse:
      x-wl-api-response: true
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          description: Response metadata
          allOf:
          - $ref: '#/components/schemas/ResponseMetadata'
        data:
          description: Response data
          allOf:
          - $ref: '#/components/schemas/CreateContactResponse'
      description: Create contact response entity
      title: ApiResponseEntityCreateContactResponse
    CreateConsumerContractRequestAddress:
      type: object
      required:
      - addressLabel
      - addressType
      properties:
        addressLabel:
          type: string
          example: MAIN_POSTAL_ADDRESS
          description: Refer to Address.addressLabel
        addressType:
          type: string
          example: POSTAL_MAIL
          description: Refer to Address.addressType
        postalAddress:
          $ref: '#/components/schemas/CreateAddressRequestMailAddress'
        emailAddress:
          $ref: '#/components/schemas/EmailAddress'
        phone:
          $ref: '#/components/schemas/CreateAddressRequestPhoneNumber'
        addressUsages:
          type: array
          items:
            $ref: '#/components/schemas/CreateConsumerContractRequestAddressUsage'
        issuerAddressExternalReference:
          type: string
          description: Refer to AddressIdentifier.issuerAddressExternalReference
      title: CreateConsumerContractRequest.Address
    ApiResponseEntityCompanyHistory:
      x-wl-api-response: true
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          description: Response metadata
          allOf:
          - $ref: '#/components/schemas/ResponseMetadata'
        data:
          type: array
          description: Response data
          items:
            $ref: '#/components/schemas/CompanyHistory'
      description: Issuer response entity
      title: ApiResponseEntityCompanyHistory
    ContactIdentifier:
      type: object
      properties:
        contactReference:
          type: string
          description: Contact identifier (unique per company)
      title: ContactIdentifier
    CreateContactRequest:
      type: object
      properties:
        name:
          type: string
          description: Name of the contact. Mandatory if the departmentName attribute is not provided.
        firstName:
          type: string
          description: First name of the contact
        departmentName:
          type: string
          description: Department name to which the contact is attached. Free text. Mandatory if the contact name is not provided
        sex:
          type: string
          description: Gender of the contact
        description:
          type: string
          description: Description of the role of the contact within the company (e.g. 'sales manager'). Free text
        courtesyTitle:
          type: string
          description: Title of the contact. Free text
        type:
          type: string
          description: The contact type (e.g. Power of Attorney, Legal Representative)
        birthDate:
          type: string
          format: date-time
          description: The contact's date of birth
        postalAddress:
          description: The postal adress of the contact
          allOf:
          - $ref: '#/components/schemas/CreateAddressRequestMailAddress'
      title: CreateContactRequest
    Contact:
      type: object
      properties:
        issuerId:
          type: string
          description: Issuer identifier (unique per platform)
        name:
          type: string
          description: Contact name
        firstName:
          type: string
          description: Contact first name
        departmentName:
          type: string
          description: Contact department name. Free text.
        sex:
          type: string
          description: Sex of the contact
        description:
          type: string
          description: Description of the role in the company (e.g. 'sales manager'). Free text
        courtesyTitle:
          type: string
          description: Title of the contact. Free text
        contactIdentifier:
          description: Unique contact identifier
          allOf:
          - $ref: '#/components/schemas/ContactIdentifier'
        type:
          type: string
          description: "Represents the type of contact for customer (person). The  possible values are configured per Issuer. \nAn example can be: Power_of_Attorney or Legal_Representative"
        birthDate:
          type: string
          format: date
          description: Birth date of the contact
        postalAddress:
          description: The postal adress of the contact
          allOf:
          - $ref: '#/components/schemas/MailAddress'
      title: Contact
    InternalServerErrorErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/InternalServerErrorResponseMetadata'
      title: InternalServerErrorErrorApiResponse
    AddressVersionIdentifier:
      type: object
      properties:
        addressVersionReference:
          type: string
          description: 'Identifies the version of the address

            A new version of the address is created when a change is done on the address.'
      title: AddressVersionIdentifier
    ApiResponseEntityListAddress:
      x-wl-api-response: true
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          description: Response metadata
          allOf:
          - $ref: '#/components/schemas/ResponseMetadata'
        data:
          type: array
          description: Response data
          items:
            $ref: '#/components/schemas/Address'
      description: Issuer response entity
      title: ApiResponseEntityListAddress
    UnauthorizedResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 401
          description: HTTP status code
        statusMessage:
          type: string
          example: Unauthorized
          description: Executed REST API status message
      title: UnauthorizedResponseMetadata
    ModifyContactRequest:
      type: object
      properties:
        name:
          type: string
          description: Name of the contact. Mandatory if the departmentName attribute is not provided.
        firstName:
          type: string
          description: First name of the contact
        departmentName:
          type: string
          description: Department name to which the contact is attached. Free text. Mandatory if the contact name is not provided
        sex:
          type: string
          description: Gender of the contact
        description:
          type: string
          description: Description of the role of the contact in the company (e.g. 'sales manager'). Free text
        courtesyTitle:
          type: string
          description: Title of the contact. Free text
        type:
          type: string
          description: The contact type (e.g. Power of Attorney, Legal Representative)
        birthDate:
          type: string
          format: date-time
          description: The contact's date of birth
        postalAddress:
          description: The postal adress of the contact
          allOf:
          - $ref: '#/components/schemas/ModifyAddressRequestMailAddress'
      title: ModifyContactRequest
    ModifyCompanyRequestContact:
      x-wl-patch-request: true
      type: object
      properties:
        name:
          type: string
          description: Refer to Contact.lastName
        firstName:
          type: string
          description: 'Refer to Contact.firstName '
        description:
          type: string
          description: 'Refer to Contact.description '
        courtesyTitle:
          type: string
          description: 'Refer to Customer.courtesyTitle '
        sex:
          type: string
          description: Refer to Contact.sex
        departmentName:
          type: string
          description: Refer to Contact.departmentName
        birthDate:
          type: string
          format: date-time
          description: 'Refer to Contact.birthDate '
        postalAddress:
          description: The postal adress of the contact
          allOf:
          - $ref: '#/components/schemas/ModifyAddressRequestMailAddress'
      title: ModifyCompanyRequestContact
    CreateAddressRequestPhoneNumber:
      type: object
      required:
      - localPhoneNumber
      properties:
        countryCode:
          type: string
          description: Country dialing code (optional). Free text. It is recommended to provide a region dialing code (e.g. +33, +49).
        localPhoneNumber:
          type: string
          description: 'Free text (mandatory). It’s recommended to provide an international phone number in accordance with the value provided in the country code Ex : - country code = ‘+’33’ and localPhoneNumber = ‘0622334455’ - country code = empty and localPhoneNumber = ‘+33622334455’             The value can be subject to a validation process if a specific rule has been configured at issuer level.'
      title: CreateAddressRequest.PhoneNumber
    PhoneNumber:
      type: object
      required:
      - localPhoneNumber
      properties:
        countryCode:
          type: string
          description: Country dialing code (optional). Free text. It is recommended to provide a region dialing code (e.g. +33, +49).
        localPhoneNumber:
          type: string
          description: "Free text (mandatory). It’s recommended to provide an international phone number in accordance with the value provided in the country code.\nEx : \n- country code = ‘+’33’ and localPhoneNumber = ‘0622334455’ \n- country code = empty and localPhoneNumber = ‘+33622334455’\nThe value can be subject to a validation process if a specific rule has been configured at issuer level."
        internationalPhoneNumber:
          type: string
          description: "Free text (mandatory). It’s recommended to provide an international phone number in accordance with the value provided in the country code.\nEx : \n- country code = ‘+’33’ and localPhoneNumber = ‘0622334455’ \n- country code = empty and localPhoneNumber = ‘+33622334455’\nThe value can be subject to a validation process if a specific rule has been configured at issuer level."
      title: PhoneNumber
    ApiResponseEntityCompany:
      x-wl-api-response: true
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          description: Response metadata
          allOf:
          - $ref: '#/components/schemas/ResponseMetadata'
        data:
          description: Response data
          allOf:
          - $ref: '#/components/schemas/Company'
      description: Issuer response entity
      title: ApiResponseEntityCompany
    ModifyContactResponse:
      type: object
      properties:
        contactIdentifier:
          description: Contact Identifier of Contact
          allOf:
          - $ref: '#/components/schemas/ContactIdentifier'
      title: ModifyContactResponse
    CreateCompanyResponse:
      type: object
      required:
      - customerIdentifier
      properties:
        customerIdentifier:
          description: Identification of the company either by Issuer customer external reference or by customer reference
          allOf:
          - $ref: '#/components/schemas/CustomerIdentifier'
        company:
          $ref: '#/components/schemas/Company'
      title: CreateCompanyResponse
    BadGatewayErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/BadGatewayResponseMetadata'
      title: BadGatewayErrorApiResponse
    BadRequestResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 400
          description: HTTP status code
        statusMessage:
          type: string
          example: Bad request
          description: Executed REST API status message
      title: BadRequestResponseMetadata
    CustomerIdentifier:
      type: object
      description: Identification of the updated customer either by Issuer customer external reference or by customer reference
      properties:
        customerReference:
          type: string
          description: Reference computed internally by our system
        issuerCustomerExternalReference:
          type: string
          description: Reference provided by the Issuer
      title: CustomerIdentifier
    CreateCompanyRequest:
      type: object
      required:
      - active
      - corporateName
      - commercialStatus
      - addresses
      properties:
        issuerCustomerExternalReference:
          type: string
          description: Customer (as company) identifier provided by the Issuer
        active:
          type: boolean
          description: DEPRECATED
        corporateName:
          type: string
          description: Name of the company
        nationalFiscalIdentifier:
          type: string
          description: National fiscal identifier of the company (for information only)
        vatCode:
          type: string
          description: Value added tax code of the company (for information only). Free text.
        type:
          type: string
          description: Type of company (e.g. Governmental, public company, private company). For information only. Free text
        size:
          type: string
          description: Size of the company. Free text (e.g. small, medium, 100).
        businessArea:
          type: string
          description: Definition of the activity of the company. Free text.
        activityCode:
          type: string
[...]
