swagger: '2.0'
info:
  description: 'The current set of APIs will be available in Q2 2026 on Worldline Global Issuing Platforms.

    Additional APIs are under construction and planned to be available in 2026.'
  version: 2.41.1
  title: Worldline Card Issuing Account - AccountState Event Store API
  contact: {}
host: sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing
basePath: /api/v2
schemes:
- https
tags:
- name: Event Store
  description: Event Store Controller
paths:
  /issuers/{issuerId}/businessRefType/{businessRefType}/businessRefValue/{businessRefValue}/event-stores:
    get:
      tags:
      - Event Store
      summary: Retrieve Event Stores
      operationId: getByIssuerIdBusinessRefTypeBusinessRefValAndEventDateBetweenDays
      description: "Event stores contain comments or business events that can be generated by applications (CMS, authorization server, customer service GUI,..) part of our solution.\nThis API enables to retrieve the list of events associated to a business reference type and a business reference value for given period of time.\nA business reference type corresponds to a business domain like a CONTRACT, CARD, ACCOUNT whereas a business reference value can be typically a card, account, card contract reference.\nThe same event can be retrieved for different business reference types and business reference values. \nEvent can be uniquely identified by its correlationId.  \nThis API is mainly used currently to get the comments linked to a business reference value (e.g a given card identifier)"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL Correlation ID
        required: false
        type: string
      - name: businessRefType
        in: path
        description: 'Business reference type to be pushed.

          Example: CONTRACT, CARD_CONTRACT, CARD, ACCOUNT, CUSTOMER, etc'
        required: true
        type: string
      - name: businessRefValue
        in: path
        description: 'Business reference value for a business reference type.

          Examples of values : card reference, customer reference, account number.'
        required: true
        type: string
      - name: eventType
        in: query
        description: 'Event type

          Typically for CARD business Reference Type, event types relative to card status modification event can be CARD_ISSUE, FIRST_ACTIVATION, CARD_BLOCKING,..

          In order to retrieve the comments , use COMMENT event-type.

          The list of event types are shared during the design phase.'
        required: false
        type: string
        allowEmptyValue: false
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: fromDate
        in: query
        description: The date from ('yyyy-MM-dd'T'HH:mm:ss X', e.g. 2020-02-25T13:50:56+04:00 or 2020-02-25T10:50:56)
        required: true
        type: string
        allowEmptyValue: false
      - name: issuerId
        in: path
        description: Issuer ID of the business event
        required: true
        type: integer
        format: int64
      - name: offset
        in: query
        description: Offset
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      - name: origin
        in: query
        description: 'The system that has published the event or comment. Example : ''IBO'' for CMS,  ''PGUI'' for Customer Service GUI, ''WLP FO'' for authorization server.'
        required: false
        type: string
        allowEmptyValue: false
      - name: page
        in: query
        description: Page
        required: false
        type: integer
        default: 0
        format: int32
        allowEmptyValue: false
      - name: toDate
        in: query
        description: The date to ('yyyy-MM-dd'T'HH:mm:ss X', e.g. 2020-02-25T14:50:56+04:00 or 2020-02-25T11:50:56)
        required: true
        type: string
        allowEmptyValue: false
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityEventStoreList'
      security:
      - basic: []
      deprecated: false
    post:
      tags:
      - Event Store
      summary: Post an Event
      operationId: addEventByIssuerIdBusinessRefTypeAndBusinessRefValue
      parameters:
      - name: issuerId
        in: path
        description: The issuer id
        required: true
        type: integer
        format: int64
      - name: businessRefType
        in: path
        description: The business Reference Type
        required: true
        type: string
      - name: businessRefValue
        in: path
        description: The business Reference Value
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateEventStoreEventRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CreateEventStoreEventResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/event-stores/search:
    post:
      tags:
      - Event Store
      summary: Search Event Stores
      operationId: getByIssuerIdBusinessRefTypeValMapAndEventDateBetweenDays
      description: "Event stores contain comments or business events that can be generated by applications (CMS, authorization server, customer service GUI,..) part of our solution.\nThis API enables to retrieve the list of events associated to provided set of business reference types and a business reference values for given period of time.\nA business reference types correspond to a business domain like a CONTRACT, CARD, ACCOUNT whereas a business reference values list for each provided type can be typically a card, account, card contract reference.\nThe same event can be retrieved for different business reference types and business reference values. \nEvent can be uniquely identified by its correlationId.  \nThis API is mainly used currently to get the comments linked to a business reference value (e.g a given card identifier)"
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL Correlation ID
        required: false
        type: string
      - name: businessRefTypeValuesList
        in: body
        description: List of businessRefTypes and corresponding businessRefValues
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/BusinessRefTypeValues'
      - name: eventType
        in: query
        description: 'Event type

          Typically for CARD business Reference Type, event types relative to card status modification event can be CARD_ISSUE, FIRST_ACTIVATION, CARD_BLOCKING,..

          In order to retrieve the comments , use COMMENT event-type.

          The list of event types are shared during the design phase.'
        required: false
        type: string
        allowEmptyValue: false
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        allowEmptyValue: false
      - name: fromDate
        in: query
        description: The date from ('yyyy-MM-dd'T'HH:mm:ss X', e.g. 2020-02-25T13:50:56+04:00 or 2020-02-25T10:50:56)
        required: true
        type: string
        allowEmptyValue: false
      - name: issuerId
        in: path
        description: Issuer ID of the business event
        required: true
        type: integer
        format: int64
      - name: offset
        in: query
        description: Offset
        required: false
        type: integer
        default: 100
        format: int32
        allowEmptyValue: false
      - name: origin
        in: query
        description: 'The system that has published the event or comment. Example : ''IBO'' for CMS,  ''PGUI'' for Customer Service GUI, ''WLP FO'' for authorization server.'
        required: false
        type: string
        allowEmptyValue: false
      - name: page
        in: query
        description: Page
        required: false
        type: integer
        default: 0
        format: int32
        allowEmptyValue: false
      - name: toDate
        in: query
        description: The date to ('yyyy-MM-dd'T'HH:mm:ss X', e.g. 2020-02-25T14:50:56+04:00 or 2020-02-25T11:50:56)
        required: true
        type: string
        allowEmptyValue: false
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityEventStoreList'
      security:
      - basic: []
      deprecated: false
definitions:
  EventStore:
    type: object
    properties:
      businessRefType:
        type: string
        description: 'Business reference type to be pushed.

          Example: CONTRACT, CARD_CONTRACT, CARD, ACCOUNT, CUSTOMER, etc'
      businessRefValue:
        type: string
        description: 'Business reference value for a business reference type.

          Examples of values : card reference, customer reference, account number.'
      correlationId:
        type: string
      eventDate:
        type: string
        description: Date when the event was created or modified in publisher system or the comment date
        format: date-time
      eventSubType:
        type: string
        description: 'optional - for certain applications, sub-events can be defined.

          Example for customer service GUI:  COMMENT, Complaint, PGUI (eventType, eventSubType, origin)

          Possible values: "Inbound call", "complaint …"'
      eventType:
        type: string
        description: 'Event type

          Typically for CARD business Reference Type, event types relative to card status modification event can be CARD_ISSUE, FIRST_ACTIVATION, CARD_BLOCKING,..

          In order to retrieve the comments , use COMMENT event-type.

          The list of event types are shared during the design phase.'
      issuerId:
        type: integer
        description: Issuer ID of the business event
        format: int64
      origin:
        type: string
        description: 'The system that has published the event or comment.

          Example : "IBO" for CMS,  "PGUI" for Customer Service GUI, "WLP FO" for authorization server.'
      payload:
        type: string
        description: 'Additional information pushed by the application with the event.

          Different formats can be found :

          - free text

          - Display payload with "Old" and "New" value The "Old" value is optional and if not provided only the new value will be displayed.)'
      userId:
        type: string
        description: User in the publisher system that triggers the event
    title: EventStore
  NotFoundErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/NotFoundResponseMetadata'
    title: NotFoundErrorApiResponse
  BadGatewayErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/BadGatewayResponseMetadata'
    title: BadGatewayErrorApiResponse
  InternalServerErrorErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/InternalServerErrorResponseMetadata'
    title: InternalServerErrorErrorApiResponse
  InternalServerErrorResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 500
        description: HTTP status code
      statusMessage:
        type: string
        example: Internal server error
        description: Executed REST API status message
    title: InternalServerErrorResponseMetadata
  UnauthorizedErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/UnauthorizedResponseMetadata'
    title: UnauthorizedResponseMetadata
  ApiResponseEntityEventStoreList:
    type: object
    required:
    - responseMetadata
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/EventStore'
      responseMetadata:
        description: Response metadata
        allOf:
        - $ref: '#/definitions/ResponseMetadata'
    title: ApiResponseEntityEventStoreList
    description: Event store list response entity
  Links:
    type: object
    required:
    - self
    properties:
      self:
        type: string
        example: /x/{x}?x=x
        description: Service method URL
      next:
        type: string
        example: /x/{x}?page[offset]=2
        description: URL pagination query parameter next page
    title: Links
  UnauthorizedResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 401
        description: HTTP status code
      statusMessage:
        type: string
        example: Unauthorized
        description: Executed REST API status message
    title: UnauthorizedResponseMetadata
  NotFoundResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 404
        description: HTTP status code
      statusMessage:
        type: string
        example: Not found
        description: Executed REST API status message
    title: NotFoundResponseMetadata
  ResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      links:
        description: Metadata Links
        allOf:
        - $ref: '#/definitions/Links'
      statusMessage:
        type: string
        example: Executed successfully
        description: Executed REST API status message
      statusCode:
        type: integer
        format: int32
        example: 200
        description: HTTP status code
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      timeTakenMs:
        type: integer
        format: int64
        example: 12
        description: Wall clock time required from service to generate the response
    title: ResponseMetadata
  ForbiddenErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/ForbiddenResponseMetadata'
    title: ForbiddenErrorApiResponse
  BusinessRefTypeValues:
    type: object
    properties:
      businessRefType:
        type: string
        description: 'Business reference type to be pushed.

          Example: CONTRACT, CARD_CONTRACT, CARD, ACCOUNT, CUSTOMER, etc'
      businessRefValues:
        type: array
        items:
          type: string
          description: 'Business reference values for a corresponding business reference type.

            Examples of values : card reference, customer reference, account number.'
    required:
    - businessRefType
    - businessRefValues
  CreateEventStoreEventRequest:
    type: object
    properties:
      correlationId:
        type: string
      origin:
        type: string
      eventDate:
        type: string
        format: date-time
      userId:
        type: string
      eventType:
        type: string
      payload:
        type: string
      eventSubType:
        type: string
  BadRequestResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 400
        description: HTTP status code
      statusMessage:
        type: string
        example: Bad request
        description: Executed REST API status message
    title: BadRequestResponseMetadata
  CreateEventStoreEventResponse:
    type: object
    properties:
      message:
        type: string
  BadGatewayResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 502
        description: HTTP status code
      statusMessage:
        type: string
        example: Bad Gateway
        description: Executed REST API status message
    title: BadGatewayResponseMetadata
  BadRequestErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/BadRequestResponseMetadata'
    title: BadRequestErrorApiResponse
  ForbiddenResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 403
        description: HTTP status code
      statusMessage:
        type: string
        example: Forbidden
        description: Executed REST API status message
    title: ForbiddenResponseMetadata
securityDefinitions:
  basic:
    type: oauth2
    flow: application
    tokenUrl: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/token
