openapi: 3.2.0
info:
  description: This is the API server supplied by Equens.
  version: '1.0'
  title: Equens API store Retrieve transaction totals API
  termsOfService: termsOfLicenseURL:API License
  contact:
    name: Equens API team
    url: www.equens.com
    email: apiteam@equens.com
  license:
    name: License
    url: license-url
servers:
- url: https://developer.equensworldline.com/MerchantApiAnalysis/api
tags:
- name: Retrieve transaction totals
paths:
  /v1/analysis/totals/day/levelid/{levelId}/levelidvalue/{levelIdValue}:
    get:
      tags:
      - Retrieve transaction totals
      summary: Retrieve daily totals
      description: "This operation of the Analysis API will help you to retrieve daily aggregated totals.\nYou can do this using by providing an entity from the equensWorldline contract hierarchy, such as a contractId. \nThe results are aggregated transaction numbers and revenue on a daily basis, divided by type Purchases, refunds and chargebacks.\n"
      operationId: getTotalsPerDayUsingGET
      parameters:
      - name: levelId
        in: path
        description: Any ID of a level of the Equens contract administration
        required: true
        example: terminal_id
        schema:
          type: string
          enum:
          - cluster_id
          - merchant_id
          - contract_id
          - location_id
          - terminal_id
      - name: levelIdValue
        in: path
        description: 'ID value at this level.

          Example value

          clusterId 1000,

          merchantId 2000,

          contractId 3000,

          siteId 4000,

          terminalId 5000

          '
        required: true
        example: '5000'
        schema:
          type: string
      - name: type
        in: query
        description: "Transaction type Filter. \nValues (optional):\npurchase, refund or chargeback\n"
        required: false
        schema:
          type: string
          enum:
          - purchase
          - refund
          - chargeback
      - name: begin
        in: query
        description: 'Start day (yyyymmdd)

          '
        required: true
        example: '20160901'
        schema:
          type: string
      - name: end
        in: query
        description: 'End day (yyyymmdd)

          '
        required: true
        example: '20160920'
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RestPeriodTotal'
        '400':
          description: Invalid input provided
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Unexpected error
        '502':
          description: Backend service not available
  /v1/analysis/totals/month/levelid/{levelId}/levelidvalue/{levelIdValue}:
    get:
      tags:
      - Retrieve transaction totals
      summary: Retrieve monthly totals
      description: "This operation of the Analysis API will help you to retrieve monthly aggregated totals. \nYou can do this using by providing an entity from the equensWorldline contract hierarchy, \nsuch as a contractId. The results are aggregated transaction numbers and revenue on a monthly basis, \ndivided by type Purchases, refunds and chargebacks.\n"
      operationId: getTotalsPerMonthUsingGET
      parameters:
      - name: levelId
        in: path
        description: Any ID of a level of the Equens contract administration
        required: true
        example: terminal_id
        schema:
          type: string
          enum:
          - cluster_id
          - merchant_id
          - contract_id
          - location_id
          - terminal_id
      - name: levelIdValue
        in: path
        description: 'ID value at this level.

          Example value

          clusterId 1000,

          merchantId 2000,

          contractId 3000,

          siteId 4000,

          terminalId 5000

          '
        required: true
        example: '5000'
        schema:
          type: string
      - name: type
        in: query
        description: "Transaction type Filter. \nValues (optional): \npurchase, refund or chargeback\n"
        required: false
        schema:
          type: string
          enum:
          - purchase
          - refund
          - chargeback
      - name: begin
        in: query
        description: 'Start month (yyyymm)

          '
        required: true
        example: '201609'
        schema:
          type: string
      - name: end
        in: query
        description: 'End month (yyyymm)

          '
        required: true
        example: '201610'
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RestPeriodTotal'
        '400':
          description: Invalid input provided
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Unexpected error
        '502':
          description: Backend service not available
components:
  schemas:
    RestPeriodTotal:
      type: object
      properties:
        period:
          type: string
          description: YYYYMMDD for day-period. YYYYMM for month-period
          example: 20161231 for day-period or 201612 for month-period
        total:
          $ref: '#/components/schemas/RestTotal'
    RestTotal:
      type: object
      properties:
        amountPurchases:
          type: number
          description: Total amount purchases
        amountRefunds:
          type: number
          description: Total amount refunds
        amountChargebacks:
          type: number
          description: Total amount chargebacks
        numberPurchases:
          type: integer
          format: int64
          description: Total number of purchases
        numberRefunds:
          type: integer
          format: int64
          description: Total number of refunds
        numberChargebacks:
          type: integer
          format: int64
          description: Total number of chargebacks
