openapi: 3.2.0
info:
  description: 'The current set of APIs will be available in Q2 2026 on Worldline Global Issuing Platforms.

    Additional APIs are under construction and planned to be available in 2026.'
  version: 2.41.1
  title: Worldline Card Issuing Message - Subscription API
  contact: {}
servers:
- url: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing/api/v2
tags:
- name: Message - Subscription
  description: Message Subscription Api Controller
paths:
  /issuers/{issuerId}/subscriptions:
    post:
      tags:
      - Message - Subscription
      summary: Create a new WL Message subscription
      operationId: createSubscription
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityCreateSubscription'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
        description: subscription
        required: true
  /issuers/{issuerId}/subscriptions/search:
    get:
      tags:
      - Message - Subscription
      summary: Search for subscriptions (with non-pci search terms)
      operationId: searchSubscriptions
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        schema:
          type: string
      - name: cardContractReference
        in: query
        description: Card Contract Reference
        required: false
        allowEmptyValue: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntitySearchSubscription'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
  /issuers/{issuerId}/subscriptions/{subscriptionReference}:
    get:
      tags:
      - Message - Subscription
      summary: Retrieve subscription by reference
      operationId: getSubscriptionByReference
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        schema:
          type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntitySubscription'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
    put:
      tags:
      - Message - Subscription
      summary: Modify subscription by reference
      operationId: modifySubscriptionByReference
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        schema:
          type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityModifySubscription'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Subscription'
        description: subscription
        required: true
    delete:
      tags:
      - Message - Subscription
      summary: Delete subscription by reference
      operationId: deleteSubscriptionByReference
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        schema:
          type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityDeleteSubscription'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
components:
  schemas:
    InternalServerErrorResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 500
          description: HTTP status code
        statusMessage:
          type: string
          example: Internal server error
          description: Executed REST API status message
      title: InternalServerErrorResponseMetadata
    SubscriptionParameter:
      type: object
      required:
      - criteria
      - value
      properties:
        criteria:
          type: string
        value:
          type: string
      title: SubscriptionParameter
    ResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        links:
          description: Metadata Links
          allOf:
          - $ref: '#/components/schemas/Links'
        statusMessage:
          type: string
          example: Executed successfully
          description: Executed REST API status message
        statusCode:
          type: integer
          format: int32
          example: 200
          description: HTTP status code
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        timeTakenMs:
          type: integer
          format: int64
          example: 12
          description: Wall clock time required from service to generate the response
      title: ResponseMetadata
    BadRequestErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/BadRequestResponseMetadata'
      title: BadRequestErrorApiResponse
    NotFoundErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/NotFoundResponseMetadata'
      title: NotFoundErrorApiResponse
    ForbiddenErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/ForbiddenResponseMetadata'
      title: ForbiddenErrorApiResponse
    NotFoundResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 404
          description: HTTP status code
        statusMessage:
          type: string
          example: Not found
          description: Executed REST API status message
      title: NotFoundResponseMetadata
    Links:
      type: object
      required:
      - self
      properties:
        self:
          type: string
          example: /x/{x}?x=x
          description: Service method URL
        next:
          type: string
          example: /x/{x}?page[offset]=2
          description: URL pagination query parameter next page
      title: Links
    ForbiddenResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 403
          description: HTTP status code
        statusMessage:
          type: string
          example: Forbidden
          description: Executed REST API status message
      title: ForbiddenResponseMetadata
    SubscriptionContact:
      type: object
      required:
      - type
      - value
      properties:
        pushDeviceType:
          type: string
          description: Type of (mobile) device (required if type is PUSH)
          enum:
          - ANDROID
          - IOS
        type:
          type: string
          example: MSISDN
          enum:
          - MSISDN
          - EMAIL
          - PUSH
        value:
          type: string
          example: '+49171000000001'
      title: SubscriptionContact
    SubscriptionIdentifier:
      type: object
      properties:
        subscriptionReference:
          type: string
      title: SubscriptionIdentifier
    InternalServerErrorErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/InternalServerErrorResponseMetadata'
      title: InternalServerErrorErrorApiResponse
    UnauthorizedResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 401
          description: HTTP status code
        statusMessage:
          type: string
          example: Unauthorized
          description: Executed REST API status message
      title: UnauthorizedResponseMetadata
    ApiResponseEntitySubscription:
      type: object
      required:
      - responseMetadata
      properties:
        data:
          $ref: '#/components/schemas/Subscription'
        responseMetadata:
          $ref: '#/components/schemas/ResponseMetadata'
      title: ApiResponseEntitySubscription
      description: Issuer response entity
    ApiResponseEntityModifySubscription:
      type: object
      required:
      - responseMetadata
      properties:
        data:
          $ref: '#/components/schemas/SubscriptionResponse'
        responseMetadata:
          $ref: '#/components/schemas/ResponseMetadata'
      title: ApiResponseEntityModifySubscription
      description: Issuer response entity
    BadGatewayErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/BadGatewayResponseMetadata'
      title: BadGatewayErrorApiResponse
    SubscriptionResponse:
      type: object
      properties:
        subscriptionIdentifier:
          $ref: '#/components/schemas/SubscriptionIdentifier'
      title: SubscriptionResponse
    SubscriptionEventIdentifier:
      type: object
      properties:
        subscriptionEventReference:
          type: string
      title: SubscriptionEventIdentifier
    SubscriptionServiceIdentifier:
      type: object
      properties:
        subscriptionServiceReference:
          type: string
      title: SubscriptionServiceIdentifier
    BadRequestResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 400
          description: HTTP status code
        statusMessage:
          type: string
          example: Bad request
          description: Executed REST API status message
      title: BadRequestResponseMetadata
    ApiResponseEntitySearchSubscription:
      type: object
      required:
      - responseMetadata
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
        responseMetadata:
          $ref: '#/components/schemas/ResponseMetadata'
      title: ApiResponseEntitySearchSubscription
      description: Issuer response entity
    ApiResponseEntityCreateSubscription:
      type: object
      required:
      - responseMetadata
      properties:
        data:
          $ref: '#/components/schemas/SubscriptionResponse'
        responseMetadata:
          $ref: '#/components/schemas/ResponseMetadata'
      title: ApiResponseEntityCreateSubscription
      description: Issuer response entity
    ApiResponseEntityDeleteSubscription:
      type: object
      required:
      - responseMetadata
      properties:
        data:
          $ref: '#/components/schemas/SubscriptionResponse'
        responseMetadata:
          $ref: '#/components/schemas/ResponseMetadata'
      title: ApiResponseEntityDeleteSubscription
      description: Issuer response entity
    SubscriptionEvent:
      type: object
      required:
      - eventName
      properties:
        eventName:
          type: string
          example: XX_Approve_FO
        externalReference:
          type: string
          description: Optional external event identifier
        parameters:
          type: array
          description: Optional list of parameters to customize the criteria values for events
          items:
            $ref: '#/components/schemas/SubscriptionParameter'
        subscriptionEventIdentifier:
          $ref: '#/components/schemas/SubscriptionEventIdentifier'
      title: SubscriptionEvent
    SubscriptionService:
      type: object
      required:
      - serviceType
      properties:
        contacts:
          type: array
          description: List of addresses for an ALERT subscription (required if serviceType is ALERT)
          items:
            $ref: '#/components/schemas/SubscriptionContact'
        events:
          type: array
          description: List of events this subscription will be notified for
          items:
            $ref: '#/components/schemas/SubscriptionEvent'
        packet:
          type: string
          description: ALERT packet name from the issuer configuration (required if serviceType is ALERT)
        serviceType:
          type: string
          example: MESSAGE_SERVICE
          enum:
          - ALERT
          - INSTALMENT
          - MESSAGE_SERVICE
        subscriptionServiceIdentifier:
          $ref: '#/components/schemas/SubscriptionServiceIdentifier'
      title: SubscriptionService
    BadGatewayResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 502
          description: HTTP status code
        statusMessage:
          type: string
          example: Bad Gateway
          description: Executed REST API status message
      title: BadGatewayResponseMetadata
    Subscription:
      type: object
      required:
      - cardContractReference
      - services
      properties:
        cardContractReference:
          type: string
          example: 9.9999e+20
        customerInfo:
          type: object
          example:
            additionalKey1: some-value
            additionalKey2: another-value
          description: Key/value object, entries will be part of each notification for this subscription (max. length of the keys is 32 characters)
          additionalProperties:
            type: string
        services:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionService'
        subscriptionIdentifier:
          $ref: '#/components/schemas/SubscriptionIdentifier'
      title: Subscription
  securitySchemes:
    basic:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/token
