swagger: '2.0'
info:
  description: 'The current set of APIs will be available in Q2 2026 on Worldline Global Issuing Platforms.

    Additional APIs are under construction and planned to be available in 2026.'
  version: 2.41.1
  title: Worldline Card Issuing Account - AccountState Transaction - Global Search API
  contact: {}
host: sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing
basePath: /api/v2
schemes:
- https
tags:
- name: Transaction - Global Search
  description: Transaction Global Search  API Controller
paths:
  /search-transactions:
    post:
      tags:
      - Transaction - Global Search
      summary: Search transactions
      operationId: searchTransaction
      description: "The API provides possibility to retrieve a list of transactions (original first presentments or fee collections received from the card schemes), based on certain criteria. \n\nTo prevent overly broad searches, at least one of the following conditional search criteria must be provided :\n•\tPAN\n•\tPAN token\n•\tTransaction identifier\n•\tAcquirer reference number\n•\tVirtual Service Card Number\n•\tCard Identifier\n•\tAccount Identifier\n•\tRelated Transaction\n\nTo retrieve fee collections, at least one of the following criteria must be also provided :\n- acquirer member Id\n- reason code\n- event date\n\nIf requested, the API allows also to:\n•\tsearch from an issuer and optionally with sub-issuers OR search from a list of issuers (by default, the search is performed on all issuers allowed for the user depending on its rights)\n•\treturn only certain transactions (disputed transactions, fraudulent transactions) \n•\trequest to enrich the response with additional data relative to addendum (to retrieve lodging information, car rental information, air itinerary information) by using embedded fields\n\nThe API response contains all matched transactions sorted by descending transaction date."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: page
        in: query
        description: '0'
        required: false
        type: integer
        default: 0
        format: int32
      - name: offset
        in: query
        description: '100'
        required: false
        type: integer
        default: 100
        format: int32
      - name: embed
        in: query
        description: 'Available values for embed : addendum (to retrieve lodgingInformation, carRentalInformation, airItineraryInformation) '
        required: false
        type: array
        items:
          type: string
          enum:
          - addendum
        collectionFormat: multi
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GlobalSearchTransactionRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseSearchTransaction'
      security:
      - basic: []
      deprecated: false
definitions:
  CardIdentifier:
    type: object
    description: Identification of the card either by Issuer card external reference or by card reference
    properties:
      cardReference:
        type: string
        description: 'Reference of the card generated by our system, unique per platform.

          This reference is calculated sequentially by an internal algorithm on 16 digits (e.g. 2000000000096013).'
      issuerCardExternalReference:
        type: string
        description: 'External reference of the card provided by the issuer or calculated by the system if the external reference generation algorithm is configured for the issuer.

          This reference is unique per issuer and may be used to carry out research and find information.'
    title: CardIdentifier
  Transaction:
    type: object
    properties:
      issuerId:
        type: string
        description: Issuer identifier (unique per platform)
      transactionIdentifier:
        description: Internal identifier associated to the transaction
        allOf:
        - $ref: '#/definitions/TransactionIdentifier'
      acquirerReferenceData:
        type: string
        description: 'Acquirer Reference Number (ARN) associated to the transaction


          MCI : DE 031 - Acquirer Reference Data

          VISA : TCR0 Acquirer Reference Number pos. 27-49'
      acquisitionMaterial:
        type: string
        description: 'Type of material used to realize the transaction.

          Possible values:

          ATM, POS, INTERNET, MANUAL, VOICE_PHONE, UNATTENDED_TERMINAL, MOBILE, UNKNOWN'
      cardAcceptorCity:
        type: string
        description: 'Card Acceptor Location (City) associated to the transaction


          MCI : DE 43 - Card Acceptor Name/Location s3 - Card Acceptor City

          VISA : TCR0 - Merchant City'
      cardAcceptorCountry:
        type: string
        description: 'Card Acceptor Country Code associated to the transaction


          MCI : DE 43 - Card Acceptor Name/Location s6 - Card Acceptor Country Code

          VISA : TCR0 - Merchant Country'
      cardAcceptorIdCode:
        type: string
        description: 'Identifies the card acceptor ID assigned by the acquirer. This ID must represent a unique identifier for each merchant name/location within the acquiring BIN.

          Card Acceptor (Merchant) Identifier associated to the transaction


          MCI : DE 042 - Card Acceptor ID Code

          VISA : TCR5 - Acquirer''s Business ID'
      cardAcceptorName:
        type: string
        description: 'Complete Card Acceptor Name / Location (Merchant) associated to the transaction


          MCI : DE 43 - Card Acceptor Name/Location s1 to s6 - Card Acceptor Name/Location

          VISA : TCR0'
      cardAcceptorZipCode:
        type: string
        description: 'Card Acceptor ZIP Code associated to the transaction


          MCI : DE 43 - Card Acceptor Name/Location s4 - Card Acceptor Postal (ZIP) Code

          VISA : TCR0 - Merchant zip code'
      cardScheme:
        type: string
        description: Short name of national or international network, if implicated.
      debit:
        type: boolean
        description: 'Sign associated to the transaction according to the Cardholder side

          * true = Cardholder debited

          * false = Cardholder credited'
      maskedPan:
        type: string
        description: Masked Primary Account Number (PAN) of card present in the transaction
      merchantCategoryCode:
        type: string
        description: Classifies the type of business applicable to the card acceptor
      pan:
        type: string
        description: 'Primary Account Number (PAN) present in the transaction


          MCI : DE 02  PrimaryAccountNumber

          VISA : TCR0 pos. 5-20 AccountNumber'
      reconciliationAmount:
        description: 'Transaction amount provided by the scheme in the currency agreed between the scheme and the issuer/WL.

          Mandatory for 1st presentment.

          Scheme Reconciliation Amount / Currency / Exponent


          MCI: DE 005 / DE 050 / associated PDS 0148

          VISA: Destination Amount / Destination Currency'
        allOf:
        - $ref: '#/definitions/Amount'
      reversal:
        type: boolean
        description: This flag indicates if this operation is a reversal (true) or not (false)
      transactionAmount:
        description: 'DE 4 (Amount, Transaction) is the amount of funds the cardholder requested in the currency appearing on the transaction information document (TID), which may be the acquirer’s local currency or a currency acceptable to the cardholder and card acceptor that the acquirer supports, exclusive of PDS 0146 (Amounts, Transaction Fee). If no currency is identified on the TID, the transaction is deemed to have taken place in the currency that is legal tender at the point of interaction.

          Amount of the transaction. This field contains numerics. Two decimal positions are implied. If the Original Source Currency code is 392 (Japanese Yen), any value other than zero after the decimal produces an Invalid Amount error.

          MCI DE 004

          VISA TCR0

          '
        allOf:
        - $ref: '#/definitions/Amount'
      transactionDate:
        type: string
        format: date-time
        description: 'Transaction Date in Merchant site when transaction has been performed

          E.g. : 2023-02-04T00:00:00+01:00

          - MCI: DE 012 (Date and Time, Local Transaction)

          - VISA : TCR0 pos. 58-61'
      walletId:
        type: string
        description: 'Indicates the identifier of the wallet (Apple Pay or other token requestor) used for the transaction

          '
      approvalCode:
        type: string
        description: 'Authorization Approval Code associated to the transaction


          MCI : DE 038 - Approval Code

          VISA : TCR0 Authorization Code pos. 152-157'
      pointOfSaleEnvironment:
        type: string
        description: 'Recurring transaction indicator, indicating that the cardholder

          and merchant have agreed to periodic billing for goods and services, such as

          utility bills, internet connection, and magazine subscriptions.

          Values:

          Space = default

          R = Recurring Payment Transaction

          I = Installment Payment

          C = Credential on File'
      mailPhoneEcommerceAndPaymentIndicator:
        type: string
        description: "Mail Phone Ecommerce and Payment Indicator indicates if transaction was initiated as mail order, telephone order or electronic commerce. \nUsed in Visa interchange validation and determination.  \nRequired in input for Visa transactions. \nBase II mapped from Draft data TCR1 position 116. \nDomain: \nSpace - Field not applicable or acquirer did not specify.  \n1 - Mail/Phone Order (MO/TO). \n2 - Recurring transaction (valid only for U.S. acquired transactions). \n3 - Instalment payment.  \n4 - Unknown classification/other mail order.  \n5 - Secure Electronic Commerce Transaction. \n6 - Non-Authenticated Security Transaction at a 3-D Secure-capable merchant, and merchant attempted to authenticate the cardholder using 3-D secure. \n7 - Non-Authenticated Security Transaction \n8 - Non-secure transaction. \n9 - For optional regional use only."
      pointOfService:
        description: 'Represent the card entry mode information


          MCI DE22 Point of Service (POS) Entry Mode

          VISA TCR0 160 CardholderIDMethod, 162-163 PosEntryMode '
        allOf:
        - $ref: '#/definitions/PointOfService'
      acquirerId:
        type: string
        description: 'VISA mapping is the following: TC05, TCR0 Field: Acquirer Reference Number POS 27-49. Should be taken positions 2-7 of this field (Acquirer BIN)

          MCI mapping is the following: DE 31 Acquirer Reference Data, Positions 2-7 of the field'
      destinationId:
        description: 'VISA mapping is the following: Determined based on transaction data.

          MCI mapping is the following: DE 93 transaction Destination Institution ID code.'
        type: string
      authorizationBusinessCaseIdentifier:
        description: Internal identifier provided by the WLP Front Office in each Authorisation Message received. Only present if transaction (first presentment) matched with an authorization.
        allOf:
        - $ref: '#/definitions/AuthorizationBusinessCaseIdentifier'
      cardIdentifier:
        description: Refer to Card.cardIdentifier
        allOf:
        - $ref: '#/definitions/CardIdentifier'
      panTokenIdentifier:
        description: 'Token Requestor Identifier value associated to the transaction


          MCI : PDS 0059 - Token Requestor ID

          VISA : TCR5 Token Requestor ID pos. 149-159'
        allOf:
        - $ref: '#/definitions/PanTokenIdentifier'
      lodgingInformation:
        description: 'The list of lodging information parameters from the clearing file.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        allOf:
        - $ref: '#/definitions/LodgingInformation'
      carRentalInformation:
        description: 'The list of car rental information parameters from the clearing file.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        allOf:
        - $ref: '#/definitions/CarRentalInformation'
      airItineraryInformation:
        description: 'The list of air itinerary parameters from the clearing file.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        allOf:
        - $ref: '#/definitions/AirItineraryInformation'
      eCommerceSecurityLevelIndicator:
        description: 'Information about security protocol for internet transactions

          MCI only : PDS 0052 - Electronic Commerce Security Level Indicator'
        allOf:
        - $ref: '#/definitions/ECommerceSecurityLevelIndicator'
      transactionCategory:
        type: string
        description: 'Internal transaction category. Possible values : BILL_PAYMENT, CASH, CASH_WITHDRAWAL, CREDIT, CREDIT_ADJUSTMENT, CREDIT_FEE, CREDIT_PAYMENT, DEBIT_ADJUSTMENT, DEBIT_FEE, DEBIT_PAYMENT, FUND_TRANSFER, LOAD, PAYMENT, REFUND_PURCHASE, SALES, SALES_CASHBACK'
      status:
        type: string
        description: "Transaction status in the system \n\nPossible values : \n- CREATED\n- ABANDON\n- IN_ERROR\n- DELETED\n- REPROCESS\n- PROCESSED\n- EMBARGO_WAIT"
      transmissionDate:
        type: string
        format: date-time
        description: 'Transmission date from the scheme


          MCI : PDS 0158 - s5 Central Site Business Date

          VISA : TCR0 164-167 Central Processing Date (YDDD)'
      billingAmount:
        description: 'Transaction amount converted to the cardholder billing currency

          MCI only - DE6 Amount, Cardholder Billing'
        allOf:
        - $ref: '#/definitions/Amount'
      recalculatedBillingAmount:
        description: Refer to Operation.referenceAmount if transaction has been posted on an account
        allOf:
        - $ref: '#/definitions/Amount'
      disputeStatus:
        type: string
        description: "Indicate status of dispute folder in case transaction has been disputed\nPossible values : \n- OPEN\n- CLOSED"
      fraudStatus:
        type: string
        description: " Indicate if transaction is fraudulent\n\nPossible values : \n- FRAUDULENT"
      accountIdentifier:
        description: "Identifier of the entry account configured for the card number provided in the transaction. \n\nRefer to Account.accountIdentifier"
        allOf:
        - $ref: '#/definitions/AccountIdentifier'
      action:
        type: string
        description: "Action done by the system on the transaction\n\nPossible values : \n•\tPOST_TO_ACCOUNT_SERVICE\n•\tOPEN_FRAUD_CASE\n•\tOPEN_DISPUTE_CASE_AND_POST_TO_ACCOUNT_SERVICE\n•\tOPEN_DISPUTE_CASE\n•\tOPEN_FRAUD_CASE_AND_POST_TO_ACCOUNT_SERVICE\n•\tOPEN_DISPUTE_CASE_AND_OPEN_FRAUD_CASE\n•\tPOST_TO_ACCOUNT_SERVICE_AND_FRAUD_SERVICE\n•\tSUSPEND_TRANSACTION_BY_ACTION_CODE\n•\tNO_POST"
      panToken:
        type: string
        description: 'MCI : PDS 0001 Mastercard Mapping Service Account Number

          VISA : TCR5  pos.150-165 panToken'
      processingDate:
        type: string
        format: date-time
        description: Date the transaction has been processed by the system
      virtualServiceCardNumber:
        type: string
        description: Virtual Service Card Number of the transaction (returned only if the user is allowed to see the clear Virtual Service Card Number). Also referred as VCC PAN
      virtualServiceCardReference:
        type: string
        description: Virtual service card reference of the transaction generated by our system
      acquirerMemberId:
        type: string
        description: Acquirer Member Id of the transaction
      reasonCode:
        type: string
        description: 'Reason code of the transaction.

          MCI : DE25 - Message Reason Code

          VISA : N/A for first presentment, TC10/TC20 TCR0 pos17-20'
      eventDate:
        type: string
        format: date-time
        description: 'Relevant for collection fee

          Reference date related to the reason code

          MCI : DE73 - Action date

          VISA : TC10/TC20 TCR0 pos24-27 - Event date'
      reversed:
        type: boolean
        description: Indicates if the transaction is reversed
      singleMessage:
        type: boolean
      authorized:
        type: boolean
        description: "Authorized flag Calculated by IBO\n*\ttrue : when matched with an authorization\n*\tfalse : default value"
      authorizationIdentifier:
        description: Identifier of authorization matched with this transaction
        allOf:
        - $ref: '#/definitions/AuthorizationIdentifier'
      creationDate:
        type: string
        format: date-time
        description: Date the transaction has been created in the system
    title: Transaction
  NotFoundErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/NotFoundResponseMetadata'
    title: NotFoundErrorApiResponse
  BadGatewayErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/BadGatewayResponseMetadata'
    title: BadGatewayErrorApiResponse
  InternalServerErrorErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/InternalServerErrorResponseMetadata'
    title: InternalServerErrorErrorApiResponse
  InternalServerErrorResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 500
        description: HTTP status code
      statusMessage:
        type: string
        example: Internal server error
        description: Executed REST API status message
    title: InternalServerErrorResponseMetadata
  UnauthorizedErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/UnauthorizedResponseMetadata'
    title: UnauthorizedResponseMetadata
  GlobalSearchTransactionRequestRelatedTransaction:
    type: object
    required:
    - transactionIdentifier
    - relationshipType
    properties:
      transactionIdentifier:
        allOf:
        - $ref: '#/definitions/TransactionIdentifier'
        description: The unique identifier of the reference transaction. All returned transactions will have a relationship to this transaction based on the specified relationshipType
      relationshipType:
        type: string
        enum:
        - SAME_PAN_OR_TOKEN
        description: 'Specifies how transactions should be related to the reference transaction.Possible value : SAME_PAN_OR_TOKEN: transactions sharing the same pan or panToken as the reference transaction.'
    title: GlobalSearchTransactionRequest.RelatedTransaction
  GlobalSearchTransactionRequest:
    type: object
    properties:
      issuerId:
        type: string
        description: 'The search is performed by default on all issuers allowed for the user (depending on its rights)

          - The user can limit the search to one issuer (optional).

          - If provided, the list of issuerIds must not be provided, otherwise the search is not performed (an error is generated).'
      includeSubIssuers:
        type: boolean
        description: 'The user can request to include in the search the sub issuers of an issuer, limited to issuers allowed for the user depending on its rights, only if an issuerId is provided.

          Default value is false.'
        default: false
      issuerIds:
        type: array
        description: 'The search is performed by default on all issuers allowed for the user (depending on its rights)

          - The user can limit the search to a list of issuers (optional)

          - If provided, the issuerId must not be provided, otherwise the search is not performed (an error is generated).

          - If at least one issuer is not allowed for this user among the provided list of issuers, the search is not performed (an error is generated).'
        items:
          type: string
      pan:
        type: string
        description: 'Refer to Transaction.pan

          Conditional search criteria, see general description of the endpoint.'
      cardScheme:
        type: string
        description: Refer to Transaction.cardScheme
      merchantCategoryCode:
        type: string
        description: Refer to Transaction.merchantCategoryCode
      cardAcceptorName:
        type: string
        description: Refer to Transaction.cardAcceptorName
      panToken:
        type: string
        description: 'Refer to Transaction.panToken

          Conditional search criteria, see general description of the endpoint.'
      acquirerReferenceDataList:
        type: array
        description: 'Refer to Transaction.acquirerReferenceData

          Conditional search criteria, see general description of the endpoint.'
        items:
          type: string
      transactionAmount:
        description: Refer to Transaction.transactionAmount
        allOf:
        - $ref: '#/definitions/Amount'
      transactionAmountCurrency:
        type: string
        description: Used to search on the transaction original amount currency. In ISO4217 alphabetic format.
      transactionIdentifiers:
        type: array
        description: 'Refer to Transaction.transactionIdentifier

          Conditional search criteria, see general description of the endpoint.'
        items:
          $ref: '#/definitions/TransactionIdentifier'
      transactionDateFrom:
        type: string
        format: date-time
        description: Refer to Transaction.transactionDate
      transactionDateTo:
        type: string
        format: date-time
        description: Refer to Transaction.transactionDate
      disputedTransactions:
        type: string
        description: "To search transaction based on dispute status.\n\nPossible values : \n- \"ALL\" : all transaction regardless the dispute status\n- \"YES\" : only disputed transactions \n- \"NO\" : only non disputed transactions\n\nDefault value : \"ALL"
      fraudulentTransactions:
        type: string
        description: "To search transaction based on fraudulent status.\n\nPossible values : \n- \"ALL\" : all transaction regardless the fraud status\n- \"YES\" : only fraudulent transactions \n- \"NO\" : only non fraudulent transactions\n\nDefault value : \"ALL"
      virtualServiceCardNumber:
        type: string
        description: 'Refer to Transaction.virtualServiceCardNumber

          Conditional search criteria, see general description of the endpoint.'
      acquirerMemberId:
        type: string
        description: Acquirer Member Id of the transaction
      reasonCode:
        type: string
        description: 'Only used now for fee collection

          Indicates the reason code of the transaction'
      eventDate:
        type: string
        format: date-time
        description: 'Relevant only for fee collection

          Reference date related to the reason code'
      status:
        type: string
        description: 'Refer to Transaction.status


          Possible values :

          - CREATED

          - ABANDON

          - IN_ERROR

          - DELETED

          - REPROCESS

          - PROCESSED

          - EMBARGO_WAIT


          Default value : "PROCESSED'
      processingDateFrom:
        type: string
        format: date-time
        description: Date the transaction has been processed by the system
      processingDateTo:
        type: string
        format: date-time
        description: Date the transaction has been processed by the system
      transactionTypes:
        type: array
        items:
          type: string
        description: 'Internal transaction type

          Possible values : BILL_PAYMENT, CASH, CASH_WITHDRAWAL, CREDIT, CREDIT_ADJUSTMENT, CREDIT_FEE, CREDIT_PAYMENT, DEBIT_ADJUSTMENT, DEBIT_FEE, DEBIT_PAYMENT, FUND_TRANSFER, LOAD, PAYMENT, REFUND_PURCHASE, SALES, SALES_CASHBACK'
      cardIdentifier:
        description: 'Identification of the card either by Issuer card external reference or by card reference

          Conditional search criteria, see general description of the endpoint.'
        allOf:
        - $ref: '#/definitions/CardIdentifier'
      accountIdentifier:
        description: 'Identification of the account either by Issuer account external reference or by account reference

          Conditional search criteria, see general description of the endpoint.'
        allOf:
        - $ref: '#/definitions/AccountIdentifier'
      relatedTransaction:
        description: 'Identification of the account either by Issuer account external reference or by account reference

          Conditional search criteria, see general description of the endpoint.'
        allOf:
        - $ref: '#/definitions/GlobalSearchTransactionRequestRelatedTransaction'
      transactionAmountFrom:
        description: 'Refer to Transaction.transactionAmount

          Either the transactionAmount range or transactionAmount should be provided'
        allOf:
        - $ref: '#/definitions/Amount'
      transactionAmountTo:
        description: 'Refer to Transaction.transactionAmount

          Either the transactionAmount range or transactionAmount should be provided'
        allOf:
        - $ref: '#/definitions/Amount'
  Links:
    type: object
    required:
    - self
    properties:
      self:
        type: string
        example: /x/{x}?x=x
        description: Service method URL
      next:
        type: string
        example: /x/{x}?page[offset]=2
        description: URL pagination query parameter next page
    title: Links
  TravelDetailLeg:
    type: object
    properties:
      flightNumber:
        type: string
        description: Number of the airline flight to be taken. The mapping to each leg from VISA  and MCI file is present in general specification document
      carrier:
        type: string
        description: Code indicating name of carrier. The mapping to each leg from VISA  and MCI file is present in general specification document
      class:
        type: string
        description: Indicates service class (first class, business class, etc.). The mapping to each leg from VISA  and MCI file is present in general specification document
      stopOver:
        type: string
        description: Indicates whether a stopover is allowed on this ticket. The mapping to each leg from VISA  and MCI file is present in general specification document
      destination:
        type: string
        description: Indicates destination city's airport code. The mapping to each leg from VISA  and MCI file is present in general specification document
      fareCode:
        type: string
        description: Fare basis code used for the trip. The mapping to each leg from VISA  and MCI file is present in general specification document
    title: TravelDetailLeg
  ECommerceSecurityLevelIndicator:
    type: object
    properties:
      securityProtocol:
        type: string
        description: 'MCI : PDS 0052 s1 - Security Protocol indicates the presence and type of security protocol present in the authorization process.'
      cardHolderAuthentication:
        type: string
        description: 'MCI : PDS 0052 s2 - Cardholder Authentication indicates the type of cardholder authentication used in the authorization process'
      ucafCollectionIndicator:
        type: string
        description: 'MCI : PDS 0052 s3 - UCAF Collection Indicator identifies the level of UCAF supported in the authorization process'
    title: ECommerceSecurityLevelIndicator
  UnauthorizedResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 401
        description: HTTP status code
      statusMessage:
        type: string
        example: Unauthorized
        description: Executed REST API status message
    title: UnauthorizedResponseMetadata
  LodgingInformation:
    type: object
    properties:
      businessFormatCode:
        type: string
        description: 'The fields represents additional data from VISA clearing file addendum.

          VISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Business Format Code (Value: CA); POS: 17-18.'
      noShowIndicator:
        type: string
        description: 'The fields represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Lodging No-Show Indicator; POS 27.

          MCI mapping is the following: PDS 0690. PDS 0690 (No Show Indicator) provides an indicator noting that the individual did not show up after making a reservation for a vehicle or lodging.'
      extraCharges:
        type: string
        description: 'The fields represents additional data from VISA clearing file addendum.

          VISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Lodging Extra Charges; POS 28–33.'
      checkInDate:
        type: string
        description: 'The fields represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Lodging Check-in Date (YYMMDD); POS 38-43.

          MCI mapping is the following: PDS 0574. PDS 0574 (Arrival Date) contains the cardholder check-in date (YYMMDD).'
      dailyRoomRate:
        type: string
        description: 'The fields represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Daily Room Rate; POS 44-55.

          MCI mapping is the following: PDS 0580. PDS 0580 (Room Rate) contains the daily room charges exclusive of taxes and fees. This PDS consists of two subfields:

          1. Room Rate Amount; POS: 1-12

          2. Room Rate Exponent; POS: 13'
      totalTax:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Total Tax; POS 56-67.

          MCI mapping is the following: PDS 0597. PDS 0597 (Total Tax Amount) contains the total amount of sales tax or value added tax (VAT) on the total purchase amount.'
      prepaidExpenses:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Prepaid Expenses; POS 68-79.

          MCI mapping is the following: PDS 0704. PDS 0704 (Prepaid Expenses) provides the amount of deposit or other prepaid amounts for the lodging stay.'
      foodBeverageCharge:
        type: string
        description: 'The field represents additional data from VISA clearing file addendum.

          VISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Food/Beverage Charges; POS 80-91.'
      folioCashAdvances:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Folio Cash Advances; POS 92-103.

          MCI mapping is the following: PDS 0706. PDS 0706 (Cash Advances) provides the amount of cash received during the lodging stay.'
      totalRoomNights:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Room Nights; POS 104-105.

          MCI mapping is the following: PDS 0703. PDS 0703 (Total Room Nights) provides the total number of nights for which a room was contracted during a lodging stay.'
      totalRoomTax:
        type: string
        description: "The field represents additional data from VISA and MCI clearing file addendum.\nVISA mapping is the following: TC05, TCR3 - INDUSTRY-SPECIFIC DATA - LODGING; Field: Total Room Tax; POS 106-117.\nMCI mapping is the following: PDS 0581. PDS 0581 (Total Room Tax) contains tax amount information such as the daily room tax, occupancy tax, energy tax, and tourist tax amounts. This PDS consists of three subfields:\n1. Total Room Tax Amount; POS: 1-12\n2. Total Room Tax Exponent; POS: 13\n 3. Total Room Tax Sign; POS: 14"
    title: LodgingInformation
  NotFoundResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 404
        description: HTTP status code
      statusMessage:
        type: string
        example: Not found
        description: Executed REST API status message
    title: NotFoundResponseMetadata
  ResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      links:
        description: Metadata Links
        allOf:
        - $ref: '#/definitions/Links'
      statusMessage:
        type: string
        example: Executed successfully
        description: Executed REST API status message
      statusCode:
        type: integer
        format: int32
        example: 200
        description: HTTP status code
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      timeTakenMs:
        type: integer
        format: int64
        example: 12
        description: Wall clock time required from service to generate the response
    title: ResponseMetadata
  AccountIdentifier:
    type: object
    properties:
      accountReference:
        type: string
        description: Account reference is to identify the Account calculated by the system (algorithm is configurable per issuer). Either the account number or the issuerAccountExternalReference is provided, or, if both are provided then only the account number is used.
      issuerAccountExternalReference:
        type: string
        description: Issuer account external reference is to identify the Account. Either the account number or the issuerAccountExternalReference is provided, or, if both are provided then only the account number is used. Algorithm configurable by issuer, can be generated by the system if there is an externalReferenceGeneratorAlgorithm.
    title: AccountIdentifier
  TransactionIdentifier:
    type: object
    properties:
      transactionId:
        type: string
        description: Internal transaction identifier generated by our system. 17-digit incremental number (10000000000000001)
    title: TransactionIdentifier
  CarRentalInformation:
    type: object
    properties:
      businessFormatCode:
        type: string
        description: 'The fields represents additional data from VISA clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Business Format Code (Value: CA); POS 17-18.'
      days:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Days Rented; POS 19-20.

          MCI mapping is the following: PDS 0691. PDS 0691 (Days Rented) provides the number of days that the vehicle was rented.'
      noShowIndicator:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Car Rental No-Show Indicator; POS 27.

          MCI mapping is the following: PDS 0690. PDS 0690 (No Show Indicator) provides an indicator noting that the individual did not show up after making a reservation for a vehicle or lodging.'
      extraCharges:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Car Rental Extra Charges; POS 28-33.

          MCI mapping is the following: PDS 0701. PDS 0701 (Extra Charges) provides the extra charges associated with the vehicle rental.'
      checkOutDate:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Car Rental Check-out Date (YYMMDD); POS 38-43.

          MCI mapping is the following: PDS 0551. PDS 0551 (Rental Check-Out Date) is the date when the vehicle was originally rented (YYMMDD).'
      dailyRentRate:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Daily Rental Rate; POS 44-55.

          MCI mapping is the following: PDS 0553. PDS 0553 (Rental Rate) contains the rental rate charged for the vehicle and indicates whether it is a daily, weekly, or monthly rate. This PDS consists of two subfields:

          1. Rental Rate Indicator; POS: 1

          - D: Daily rate

          - W: Weekly rate

          - M: Monthly rate

          - space: Unknown or unreported

          2. Rental Rate; POS: 2-13'
      weeklyRentRate:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Weekly Rental Rate; POS 56-67.

          MCI mapping is the following: PDS 0692. PDS 0692 (Weekly Rental Amount) provides the amount charged for a seven-day rental period.'
      insuranceCharge:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Insurance Charges; POS 68-79.

          MCI mapping is the following: PDS 0559. PDS 0559 (Vehicle Insurance) contains an indicator of whether the customer purchased insurance and of the insurance amount. This PDS consists of two subfields:

          1. Insurance Indicator; POS: 1

          - Y: Yes (insurance was purchased)

          - N: No (insurance was not purchased)

          - spaces: Unknown or unreported

          2. Insurance Charges; POS: 2-13'
      fuelCharge:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Fuel Charges; POS 80-91.

          MCI mapping is the following: PDS 0698. PDS 0698 (Fuel Charge) provides the amount charged for fuel used during vehicle rental.'
      classCode:
        type: string
        description: "The field represents additional data from VISA and MCI clearing file addendum.\n VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Car Class Code; POS 92-93.\nMCI mapping is the following: PDS 0568. PDS 0568 (Rental Class ID) contains the classification, such as midsize or luxury, of the vehicle rented."
      oneWayDropCharge:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: One-Way Drop-off Charges; POS 94-105.

          MCI mapping is the following: PDS 0694. PDS 0694 (One Way Drop Off Charge) provides a charge associated with not returning a vehicle to the original rental location.'
      renterName:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - CAR RENTAL; Field: Renter Name; POS 106-145.

          MCI mapping is the following: PDS 0545. PDS 0545 (Renter Name) is the name of the individual making the vehicle rental agreement.'
    title: CarRentalInformation
  Amount:
    type: object
    required:
    - value
    - exponent
    - isoCode
    properties:
      value:
        type: integer
        format: int64
        description: Integer amount value. Ex. if it is two hundred euros and 17 cents, then amount value is 20017 (exponent = 2 digits for currency=EUR)
      exponent:
        type: integer
        format: int32
        description: Exponent of Amount. Number of decimal digits.
      isoCode:
        type: string
        description: 'Currency code of amount

          The currency in ISO4217 alphabetic format.

          Example: EUR for Euro'
    title: Amount
  ForbiddenErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/ForbiddenResponseMetadata'
    title: ForbiddenErrorApiResponse
  PanTokenIdentifier:
    type: object
    required:
    - panTokenReference
    properties:
      panTokenReference:
        type: string
        description: Pan Token Reference
    title: PanTokenIdentifier
  PointOfService:
    type: object
    properties:
      entryModePan:
        type: string
        description: VISA TCR0 PosEntryMode.
      entryModePin:
        type: string
        description: VISA TCR0 CardholderIDMethod.
      conditionCode:
        type: string
        description: VISA. Field equals to "02" if PosEntryMode is populated, "00" if not populated.
      posTerminalCapability:
        type: string
        description: VISA TCR0 PosTerminalCapability
      cardDataInputCapability:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 1 indicates the set of methods supported by the terminal for the input of account number, card, or mobile device data.
      cardholderAuthenticationCapability:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 2 describes the capability of the terminal device to support/accept authentication data.
      cardCaptureCapability:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 3 indicates whether the terminal has card capture capabilities.
      terminalOperatingEnvironment:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 4 indicates whether the card acceptor is attending the terminal and the location of the terminal.
      cardholderPresentData:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 5 indicates whether the cardholder is present at the point of service and explains the condition if the cardholder is not present.
      cardPresentData:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 6 indicates if the card is present at the point of service.
      cardDataInputMode:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 7 indicates the method used for PAN entry to initiate a transaction.
      cardholderAuthenticationMethod:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 8 indicates the method by which the cardholder’s identity was verified at the point of service.
      cardholderAuthenticationEntity:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 9 indicates the entity through which the cardholder’s identity was verified at the point of service.
      cardDataOutputCapability:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 10 indicates the ability of the terminal to write or output data to a card.
      terminalDataOutputCapability:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 11 indicates the print and display capabilities of the terminal.
      pinCaptureCapability:
        type: string
        description: MCI DE 22 (Point of Service [POS] Entry Mode), subfield 12 indicates the maximum number of PIN characters that the POS terminal can capture.
    title: PointOfService
  AuthorizationBusinessCaseIdentifier:
    type: object
    required:
    - businessCaseId
    properties:
      businessCaseId:
        type: string
        description: 'Business case to which the transaction belongs.

          The provided information reflects its status after transaction completion.

          A business case is a group of transactions which logically belong together (e.g. original transaction and reversal of original transaction)'
    title: AuthorizationBusinessCaseIdentifier
  AirItineraryInformation:
    type: object
    properties:
      businessFormatCode:
        type: string
        description: 'The fields represents additional data from VISA clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - PASSENGER ITINERARY DATA; Field: Business Format Code; POS 17-18.'
      travelAgent:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - PASSENGER ITINERARY DATA; Field: Travel Agency Name; POS 92-116.

          MCI mapping is the following: PDS 0511. PDS 0511 (Travel Agency Name) is the name of the travel agency that issued the ticket.'
      travelAgentCode:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - PASSENGER ITINERARY DATA; Field: Travel Agency Code; POS 84-91.

          MCI mapping is the following: PDS 0510. PDS 0510 (Travel Agency Code) is a code assigned to the travel agency.'
      passengerName:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - PASSENGER ITINERARY DATA; Field: Passenger Name; POS 27-46.

          MCI mapping is the following: PDS 0505. PDS 0505 (Passenger Name) contains the name of the passenger to whom the ticket was issued.'
      departureDate:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - PASSENGER ITINERARY DATA; Field: Departure Date (MMDDYY); POS 47-52.

          MCI mapping is the following: PDS 0520. PDS 0520 (Travel Date) is the effective ticket date, also referred as departure date (YYMMDD).'
      originCityCode:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - PASSENGER ITINERARY DATA; Field: Origination City/Airport Code; POS 53-55.

          MCI mapping is the following: PDS 0523. PDS 0523 (City of Origin/Airport Code) is the originating airport or railway name standard abbreviation.'
      restrictedTicketIndicator:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - PASSENGER ITINERARY DATA; Field: Restricted Ticket Indicator; POS 117.

          MCI mapping is the following: PDS 0713. PDS 0713 (Restricted Ticket Indicator) provides the identifier noting that the ticket purchased has some restriction associated with its use.'
      reservationSystem:
        type: string
        description: 'The fields represents additional data from VISA clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - PASSENGER ITINERARY DATA; Field: Computerized Reservation System; POS 142-145.'
      creditReasonIndicator:
        type: string
        description: 'The fields represents additional data from VISA clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - PASSENGER ITINERARY DATA; Field: Credit Reason Indicator; POS 166.'
      ticketChangeIndicator:
        type: string
        description: 'The fields represents additional data from VISA clearing file addendum.

          VISA mapping is the following: TC05, TCR 3 - INDUSTRY-SPECIFIC DATA - PASSENGER ITINERARY DATA; Field: Ticket Change Indicator; POS 167.'
      ticketNumber:
        type: string
        description: 'The field represents additional data from VISA and MCI clearing file addendum.

          VISA mapping is the following: TC05, TCR0; Field: Merchant Name POS 92-116; POS 13-25 of this field should be taken as input.

          MCI mapping is the following: PDS 0506. PDS 0506 (Ticket Number) contains the number on the ticket.'
      IATACode:
        type: string
        description: 'The field represents additional data from MCI clearing file addendum.

          MCI mapping is the following: PDS 0717. PDS 0717 (IATA Client Code) provides the International Air Transport Association (IATA) code identifying the company that purchased the ticket.'
      leg1:
        allOf:
        - $ref: '#/definitions/TravelDetailLeg'
        description: Description of first leg of trip
      leg2:
        allOf:
        - $ref: '#/definitions/TravelDetailLeg'
        description: Description of second leg of trip
      leg3:
        allOf:
        - $ref: '#/definitions/TravelDetailLeg'
        description: Description of third leg of trip
      leg4:
        allOf:
        - $ref: '#/definitions/TravelDetailLeg'
        description: Description of fourth leg of trip
    title: AirItineraryInformation
  BadRequestResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 400
        description: HTTP status code
      statusMessage:
        type: string
        example: Bad request
        description: Executed REST API status message
    title: BadRequestResponseMetadata
  BadGatewayResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 502
        description: HTTP status code
      statusMessage:
        type: string
        example: Bad Gateway
        description: Executed REST API status message
    title: BadGatewayResponseMetadata
  ApiResponseSearchTransaction:
    x-wl-api-response: true
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        description: Response metadata
        allOf:
        - $ref: '#/definitions/ResponseMetadata'
      data:
        type: array
        description: Response data
        items:
          $ref: '#/definitions/Transaction'
    description: Issuer transaction response entity
    title: ApiResponseEntityListTransaction
  AuthorizationIdentifier:
    type: object
    properties:
      transactionId:
        type: string
        description: 'minLength: 18

          maxLength: 18

          Unique identifier of notified transaction in WLP FO. '
      issuerExternalAuthorizationReference:
        type: string
        description: Issuer external authorization reference
    title: AuthorizationIdentifier
  BadRequestErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/BadRequestResponseMetadata'
    title: BadRequestErrorApiResponse
  ForbiddenResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 403
        description: HTTP status code
      statusMessage:
        type: string
        example: Forbidden
        description: Executed REST API status message
    title: ForbiddenResponseMetadata
securityDefinitions:
  basic:
    type: oauth2
    flow: application
    tokenUrl: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/token
