openapi: 3.2.0
info:
  description: This is the API server supplied by Equens.
  version: '2.0'
  title: Merchant payments - InterchangeFee Interchange fee API
  contact:
    name: equensWorldline API team. See developer portal
servers:
- url: https://developer.equensworldline.com/MerchantApiInterchangeFee/api
tags:
- name: Interchange fee
paths:
  /acquiring/interchangefees/v2.0/acquirers/{acquirerId}/transactions/{transactionId}:
    get:
      tags:
      - Interchange fee
      summary: Based on TransactionID
      description: "This API call will retrieve the interchange fee for a single transaction. \n"
      operationId: getInterchangeFee
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        example: '671234567'
        schema:
          type: string
      - name: transactionId
        in: path
        description: The Transaction ID identifies a presentment
        required: true
        example: TDS17133017774902264
        schema:
          type: string
      - name: transactionDate
        in: query
        description: Transaction Date (yyyy-mm-dd), known as transaction posting date
        required: true
        example: '2017-05-01'
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterchangeFee'
        '400':
          description: Invalid input provided
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: No results found
        '500':
          description: Unexpected error
        '502':
          description: Backend service problem
  /acquiring/interchangefees/v2.0/acquirers/{acquirerId}/payments:
    get:
      tags:
      - Interchange fee
      summary: Based on a Payment Id
      description: "Use this operation to retrieve the interchange fees for a Payment\n\n- The result of this operation is a list of interchange fees that belongs to a payment\n- If there is a previous and/or next page the http response header will have a link (url) to this data \n"
      operationId: getInterchangeFeeListForPayment
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        example: '671234567'
        schema:
          type: string
      - name: paymentId
        in: query
        description: Unique identification of the payment in which this transaction has been paid out
        required: true
        example: SO-000000017036619028
        schema:
          type: string
      - name: paymentDate
        in: query
        description: Payment Date (yyyy-mm-dd)
        required: true
        example: '2017-05-01'
        schema:
          type: string
          format: date
      - name: sortField
        in: query
        description: Sort field
        required: false
        schema:
          type: string
          enum:
          - InterchangeFeeId
          - TransactionId
          - TransactionDateTime
          - InterchangeFeeType
          - InterchangeRateDesignator
          - Amount
      - name: sortOrder
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size
        required: false
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterchangeFee'
        '400':
          description: Invalid input provided
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: No results found
        '500':
          description: Unexpected error
        '502':
          description: Backend service problem
  /acquiring/interchangefees/v2.0/acquirers/{acquirerId}/holdings/{holdingId}:
    get:
      tags:
      - Interchange fee
      summary: holding level
      description: "This operation retrieves all interchange fees on merchant hierarchy (for example holding) level\n\n- The result of this operation is a list of interchange fees that belongs to a contract level.\n- If there is a previous and/or next page the http response header will have a link (url) to this data \n"
      operationId: getInterchangeFeeOnMerchantHierarchyLevel
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        example: '671234567'
        schema:
          type: string
      - name: holdingId
        in: path
        description: Unique identification of the holdingId, determined by equensWorldline
        required: true
        example: 200
        schema:
          type: integer
          format: int32
      - name: startDateTime
        in: query
        description: Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)
        required: true
        example: '2019-03-01 12:30:00'
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)
        required: true
        example: '2019-03-01 13:30:00'
        schema:
          type: string
          format: date-time
      - name: sortField
        in: query
        description: Sort field
        required: false
        schema:
          type: string
          enum:
          - InterchangeFeeId
          - TransactionId
          - TransactionDateTime
          - InterchangeFeeType
          - InterchangeRateDesignator
          - Amount
      - name: sortOrder
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size
        required: false
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterchangeFee'
        '400':
          description: Invalid input provided
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: No results found
        '500':
          description: Unexpected error
        '502':
          description: Backend service problem
  /acquiring/interchangefees/v2.0/acquirers/{acquirerId}/merchants/{merchantId}:
    get:
      tags:
      - Interchange fee
      summary: Merchant level
      description: "This operation retrieves all interchange fees on merchant level\n\n- The result of this operation is a list of interchange fees that belongs to a contract level.\n- If there is a previous and/or next page the http response header will have a link (url) to this data \n"
      operationId: getInterchangeFeeOnMerchantLevel
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        example: '671234567'
        schema:
          type: string
      - name: merchantId
        in: path
        description: Unique identification of the merchant, determined by equensWorldline
        required: true
        example: '1280300'
        schema:
          type: string
      - name: startDateTime
        in: query
        description: Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)
        required: true
        example: '2019-03-01 12:30:00'
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)
        required: true
        example: '2019-03-01 13:30:00'
        schema:
          type: string
          format: date-time
      - name: sortField
        in: query
        description: Sort field
        required: false
        schema:
          type: string
          enum:
          - InterchangeFeeId
          - TransactionId
          - TransactionDateTime
          - InterchangeFeeType
          - InterchangeRateDesignator
          - Amount
      - name: sortOrder
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size
        required: false
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterchangeFee'
        '400':
          description: Invalid input provided
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: No results found
        '500':
          description: Unexpected error
        '502':
          description: Backend service problem
  /acquiring/interchangefees/v2.0/acquirers/{acquirerId}/contracts/{contractId}:
    get:
      tags:
      - Interchange fee
      summary: Contract level
      description: "This operation retrieves all interchange fees on contract level\n\n- The result of this operation is a list of interchange fees that belongs to a contract level.\n- If there is a previous and/or next page the http response header will have a link (url) to this data \n"
      operationId: getInterchangeFeeOnContractLevel
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        example: '671234567'
        schema:
          type: string
      - name: contractId
        in: path
        description: Unique identification of the contract, determined by the acquirer
        required: true
        example: '12872'
        schema:
          type: string
      - name: startDateTime
        in: query
        description: Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)
        required: true
        example: '2019-03-01 12:30:00'
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)
        required: true
        example: '2019-03-01 13:30:00'
        schema:
          type: string
          format: date-time
      - name: sortField
        in: query
        description: Sort field
        required: false
        schema:
          type: string
          enum:
          - InterchangeFeeId
          - TransactionId
          - TransactionDateTime
          - InterchangeFeeType
          - InterchangeRateDesignator
          - Amount
      - name: sortOrder
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size
        required: false
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterchangeFee'
        '400':
          description: Invalid input provided
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: No results found
        '500':
          description: Unexpected error
        '502':
          description: Backend service problem
  /acquiring/interchangefees/v2.0/acquirers/{acquirerId}/contracts/{contractId}/sites/{siteId}:
    get:
      tags:
      - Interchange fee
      summary: Site level
      description: "This operation retrieves all interchange fees on site level\n\n- The result of this operation is a list of interchange fees that belongs to a contract level.\n- If there is a previous and/or next page the http response header will have a link (url) to this data \n"
      operationId: getInterchangeFeeOnSiteLevel
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        example: '671234567'
        schema:
          type: string
      - name: contractId
        in: path
        description: Unique identification of the contract, determined by the acquirer
        required: true
        example: '12872'
        schema:
          type: string
      - name: siteId
        in: path
        description: Unique identification of the site within the contract
        required: true
        example: 30010
        schema:
          type: integer
          format: int32
      - name: startDateTime
        in: query
        description: Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)
        required: true
        example: '2019-03-01 12:30:00'
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)
        required: true
        example: '2019-03-01 13:30:00'
        schema:
          type: string
          format: date-time
      - name: sortField
        in: query
        description: Sort field
        required: false
        schema:
          type: string
          enum:
          - InterchangeFeeId
          - TransactionId
          - TransactionDateTime
          - InterchangeFeeType
          - InterchangeRateDesignator
          - Amount
      - name: sortOrder
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size
        required: false
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterchangeFee'
        '400':
          description: Invalid input provided
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: No results found
        '500':
          description: Unexpected error
        '502':
          description: Backend service problem
  /acquiring/interchangefees/v2.0/acquirers/{acquirerId}/contracts/{contractId}/sites/{siteId}/terminals/{terminalId}:
    get:
      tags:
      - Interchange fee
      summary: Terminal level
      description: "This operation retrieves all interchange fees on terminal level\n\n- The result of this operation is a list of interchange fees that belongs to a contract level.\n- If there is a previous and/or next page the http response header will have a link (url) to this data \n"
      operationId: getInterchangeFeeOnTerminalLevel
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        example: '671234567'
        schema:
          type: string
      - name: contractId
        in: path
        description: Unique identification of the contract, determined by the acquirer
        required: true
        example: '12872'
        schema:
          type: string
      - name: siteId
        in: path
        description: Unique identification of the site within the contract
        required: true
        example: 30010
        schema:
          type: integer
          format: int32
      - name: terminalId
        in: path
        description: Unique code identifying the terminal at the Card acceptor location
        required: true
        example: 20YT45
        schema:
          type: string
      - name: startDateTime
        in: query
        description: Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)
        required: true
        example: '2019-03-01 12:30:00'
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)
        required: true
        example: '2019-03-01 13:30:00'
        schema:
          type: string
          format: date-time
      - name: sortField
        in: query
        description: Sort field
        required: false
        schema:
          type: string
          enum:
          - InterchangeFeeId
          - TransactionId
          - TransactionDateTime
          - InterchangeFeeType
          - InterchangeRateDesignator
          - Amount
      - name: sortOrder
        in: query
        description: Sort order
        required: false
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size
        required: false
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InterchangeFee'
        '400':
          description: Invalid input provided
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: No results found
        '500':
          description: Unexpected error
        '502':
          description: Backend service problem
components:
  schemas:
    InterchangeFee:
      type: object
      properties:
        transactionIdentification:
          $ref: '#/components/schemas/TransactionIdentification'
        contractIdentification:
          $ref: '#/components/schemas/ContractIdentification'
        postingDate:
          type: string
          format: date
          description: Date when this transaction is posted on the merchant balance (yyyy-mm-dd)
          example: 2016-08-21
        transactionFeeType:
          type: string
          description: Type of transaction fee.
          example: '02'
        transactionDateTime:
          type: string
          format: date-time
          description: transaction posting datetime (yyyy-mm-dd hh:mm:ss)
          example: 2016-08-21 09:30:47
        interchangeFeeAmount:
          $ref: '#/components/schemas/Amount'
        interchangeRateDesignatorCode:
          type: string
          description: Interchange Rate Designator Code
          example: '85'
        issuerRegion:
          type: string
          description: Region of the issuer
          example: Europe
        issuerRegionCode:
          type: string
          description: Region of the issuer code
          example: EU
        paymentProductCode:
          type: string
          description: Payment product code
          example: Maes
        creditDebitIndicator:
          type: string
          description: Credit or Debit indicator. i.e. C = Credit. D = Debit
          example: D
        paymentProductTypeCode:
          type: string
          description: Card product type code
          example: '2'
        region:
          type: string
          description: Region of the payment scheme. Regional classification used by the schemes which indicates the location of the acquirer compared to the issuer. i.e. VPAY Netherland, Intra-European, VISA Germany
          example: VISA Netherland
        regionCode:
          type: string
          description: Region of the payment scheme code
          example: A
        channel:
          type: string
          description: Processing channel for transactions
          example: Point of Sail
        transactionConditionCode:
          type: string
          description: Code for Condition in which the transaction took place
          example: '23'
        brand:
          type: string
          description: Brand
          example: MAES
    Amount:
      type: object
      properties:
        amount:
          type: string
          format: unlimited size decimal
          description: 'Amount in the major units of the currency according to ISO 4217.


            In case of euro, "3.10" (is 3.10 euro)

            '
          example: '3.00'
        currency:
          type: string
          description: Currency of the amount
          example: EUR
    ContractIdentification:
      type: object
      properties:
        acquirerId:
          type: string
          description: Unique identification of the acquirer, determined by equensWorldline
          example: '671234567'
        holdingId:
          type: integer
          format: int32
          description: Unique identification of the holding, determined by equensWorldline
          example: 200
        merchantId:
          type: string
          description: Unique identification of the merchant, determined by the acquirer
          example: '1280300'
        contractId:
          type: string
          description: Unique identification of the contract, determined by the acquirer
          example: '12872'
        cardAcceptorId:
          type: string
          description: Unique identification of the cardAcceptor within the contract
          example: '30010'
        siteId:
          type: integer
          format: int32
          description: Unique identification of the site within the contract
          example: 30010
        terminalId:
          type: string
          description: Unique code identifying the terminal at the Card acceptor location
          example: 20YT45
    TransactionIdentification:
      type: object
      properties:
        transactionId:
          type: string
          description: Unique identification for a Cardholder Initiated Transaction
          example: TDS16172008721825920
