openapi: 3.2.0
info:
  description: 'The current set of APIs will be available in Q2 2026 on Worldline Global Issuing Platforms.

    Additional APIs are under construction and planned to be available in 2026.'
  version: 2.41.1
  title: Worldline Card Issuing Message - Subscription Event API
  contact: {}
servers:
- url: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing/api/v2
tags:
- name: Message - Subscription Event
  description: Message Subscription Event Api Controller
paths:
  /issuers/{issuerId}/subscriptions/{subscriptionReference}/services/{subscriptionServiceReference}/events:
    get:
      tags:
      - Message - Subscription Event
      summary: Retrieve subscription events by subscription service reference
      operationId: getSubscriptionEventsBySubscriptionServiceReference
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        schema:
          type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        schema:
          type: string
      - name: subscriptionServiceReference
        in: path
        description: Reference of the subscription service
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntitySubscriptionEvents'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
    post:
      tags:
      - Message - Subscription Event
      summary: Create new event subscription
      operationId: createSubscriptionEvent
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        schema:
          type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        schema:
          type: string
      - name: subscriptionServiceReference
        in: path
        description: Reference of the subscription service
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityCreateSubscriptionEvent'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionEvent'
        description: subscriptionEvent
        required: true
  ? /issuers/{issuerId}/subscriptions/{subscriptionReference}/services/{subscriptionServiceReference}/events/{subscriptionEventReference}
  : get:
      tags:
      - Message - Subscription Event
      summary: Retrieve event for a subscription service
      operationId: getSubscriptionEventByReference
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        schema:
          type: string
      - name: subscriptionEventReference
        in: path
        description: Reference of the subscription event
        required: true
        schema:
          type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        schema:
          type: string
      - name: subscriptionServiceReference
        in: path
        description: Reference of the subscription service
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntitySubscriptionEvent'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
    put:
      tags:
      - Message - Subscription Event
      summary: Modify subscription event by reference
      operationId: modifySubscriptionEventByReference
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        schema:
          type: string
      - name: subscriptionEventReference
        in: path
        description: Reference of the subscription event
        required: true
        schema:
          type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        schema:
          type: string
      - name: subscriptionServiceReference
        in: path
        description: Reference of the subscription service
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityModifySubscriptionEvent'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionEvent'
        description: subscriptionEvent
        required: true
    delete:
      tags:
      - Message - Subscription Event
      summary: Delete subscription event by reference
      operationId: deleteSubscriptionEventByReference
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        schema:
          type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        schema:
          type: string
      - name: subscriptionEventReference
        in: path
        description: Reference of the subscription event
        required: true
        schema:
          type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        schema:
          type: string
      - name: subscriptionServiceReference
        in: path
        description: Reference of the subscription service
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityDeleteSubscriptionEvent'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
components:
  schemas:
    InternalServerErrorResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 500
          description: HTTP status code
        statusMessage:
          type: string
          example: Internal server error
          description: Executed REST API status message
      title: InternalServerErrorResponseMetadata
    SubscriptionParameter:
      type: object
      required:
      - criteria
      - value
      properties:
        criteria:
          type: string
        value:
          type: string
      title: SubscriptionParameter
    ResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        links:
          description: Metadata Links
          allOf:
          - $ref: '#/components/schemas/Links'
        statusMessage:
          type: string
          example: Executed successfully
          description: Executed REST API status message
        statusCode:
          type: integer
          format: int32
          example: 200
          description: HTTP status code
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        timeTakenMs:
          type: integer
          format: int64
          example: 12
          description: Wall clock time required from service to generate the response
      title: ResponseMetadata
    BadRequestErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/BadRequestResponseMetadata'
      title: BadRequestErrorApiResponse
    NotFoundErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/NotFoundResponseMetadata'
      title: NotFoundErrorApiResponse
    ApiResponseEntityModifySubscriptionEvent:
      type: object
      required:
      - responseMetadata
      properties:
        data:
          $ref: '#/components/schemas/SubscriptionEventResponse'
        responseMetadata:
          $ref: '#/components/schemas/ResponseMetadata'
      title: ApiResponseEntityModifySubscriptionEvent
      description: Issuer response entity
    ForbiddenErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/ForbiddenResponseMetadata'
      title: ForbiddenErrorApiResponse
    NotFoundResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 404
          description: HTTP status code
        statusMessage:
          type: string
          example: Not found
          description: Executed REST API status message
      title: NotFoundResponseMetadata
    Links:
      type: object
      required:
      - self
      properties:
        self:
          type: string
          example: /x/{x}?x=x
          description: Service method URL
        next:
          type: string
          example: /x/{x}?page[offset]=2
          description: URL pagination query parameter next page
      title: Links
    ForbiddenResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 403
          description: HTTP status code
        statusMessage:
          type: string
          example: Forbidden
          description: Executed REST API status message
      title: ForbiddenResponseMetadata
    ApiResponseEntityCreateSubscriptionEvent:
      type: object
      required:
      - responseMetadata
      properties:
        data:
          $ref: '#/components/schemas/SubscriptionEventResponse'
        responseMetadata:
          $ref: '#/components/schemas/ResponseMetadata'
      title: ApiResponseEntityCreateSubscriptionEvent
      description: Issuer response entity
    ApiResponseEntitySubscriptionEvents:
      type: object
      required:
      - responseMetadata
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionEvent'
        responseMetadata:
          $ref: '#/components/schemas/ResponseMetadata'
      title: ApiResponseEntitySubscriptionEvents
      description: Issuer response entity
    InternalServerErrorErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/InternalServerErrorResponseMetadata'
      title: InternalServerErrorErrorApiResponse
    UnauthorizedResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 401
          description: HTTP status code
        statusMessage:
          type: string
          example: Unauthorized
          description: Executed REST API status message
      title: UnauthorizedResponseMetadata
    SubscriptionEventResponse:
      type: object
      properties:
        subscriptionIdentifier:
          $ref: '#/components/schemas/SubscriptionEventIdentifier'
      title: SubscriptionEventResponse
    ApiResponseEntitySubscriptionEvent:
      type: object
      required:
      - responseMetadata
      properties:
        data:
          $ref: '#/components/schemas/SubscriptionEvent'
        responseMetadata:
          $ref: '#/components/schemas/ResponseMetadata'
      title: ApiResponseEntitySubscriptionEvent
      description: Issuer response entity
    BadGatewayErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/BadGatewayResponseMetadata'
      title: BadGatewayErrorApiResponse
    SubscriptionEventIdentifier:
      type: object
      properties:
        subscriptionEventReference:
          type: string
      title: SubscriptionEventIdentifier
    BadRequestResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 400
          description: HTTP status code
        statusMessage:
          type: string
          example: Bad request
          description: Executed REST API status message
      title: BadRequestResponseMetadata
    SubscriptionEvent:
      type: object
      required:
      - eventName
      properties:
        eventName:
          type: string
          example: XX_Approve_FO
        externalReference:
          type: string
          description: Optional external event identifier
        parameters:
          type: array
          description: Optional list of parameters to customize the criteria values for events
          items:
            $ref: '#/components/schemas/SubscriptionParameter'
        subscriptionEventIdentifier:
          $ref: '#/components/schemas/SubscriptionEventIdentifier'
      title: SubscriptionEvent
    BadGatewayResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 502
          description: HTTP status code
        statusMessage:
          type: string
          example: Bad Gateway
          description: Executed REST API status message
      title: BadGatewayResponseMetadata
    ApiResponseEntityDeleteSubscriptionEvent:
      type: object
      required:
      - responseMetadata
      properties:
        data:
          $ref: '#/components/schemas/SubscriptionEventResponse'
        responseMetadata:
          $ref: '#/components/schemas/ResponseMetadata'
      title: ApiResponseEntityDeleteSubscriptionEvent
      description: Issuer response entity
  securitySchemes:
    basic:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/token
