openapi: 3.2.0
info:
  title: Wordline Transaction API
  version: '1.0'
  description: 'Operations tagged Transaction across 2 of this provider''s published API definitions: worldline-card-issuing-api-2.41.1.json, worldline-transactions-api-2.0.2.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing/api/v2
- url: /MerchantApiTransaction/api
tags:
- name: Transaction
  description: Transaction API Controller
paths:
  /issuers/{issuerId}/transactions/{transactionId}:
    get:
      tags:
      - Transaction
      summary: Retrieve transaction details
      operationId: retrieveTransactionDetailsByTransactionId
      description: "The API allows the transaction details to be retrieved. \nThe main input fields are:\n•\tThe issuer ID\n•\tThe transaction for which the detail is requested: It is provided by using the transaction Id. \n\nIt is also possible to request some additional data relative to addendum (to retrieve lodging information, car rental information, air itinerary information) by using the embedded fields.\n\nIn return, the interface provides the generic information (mainly master data) relevant to the transaction."
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        description: Unique id of specific transaction
        required: true
        schema:
          type: string
      - name: embed
        in: query
        description: 'Available values for embed : addendum (to retrieve lodgingInformation, carRentalInformation, airItineraryInformation) '
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - addendum
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityTransactionDetails'
      security:
      - basic: []
      deprecated: false
    servers:
    - url: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing/api/v2
  /issuers/{issuerId}/transactions/{transactionId}/dispute:
    post:
      x-wl-idempotent: true
      tags:
      - Transaction
      summary: Create a dispute from a transaction
      operationId: createDisputeFromTransaction
      description: "The API allows an issuer to create a dispute folder in the system for a given operation. This API enables the issuer to initiate the dispute from its application.\nSeveral actions can be performed :\n- Dispute only \n- Dispute + refund/redebit (full or partial)\n- Dispute + write-off (full or partial)\n- Dispute + fraud declaration\n- Dispute + event creation\n- Dispute + attach documents \n- Dispute + combination of above options\n\nMain data in input are :\n- the external operation reference which can be retrieved using a search operation in the system, for example using the API retrieves list of operations for an account.\n- in option, several fields in the case additional actions have to be done besides the dispute folder creation (e.g operation(s) posting, event(s) creation, add document(s)).\n\nIn response, the created dispute folder identifier is provided back systematically; then depending on the additional requests, the response includes also the posting, event creation and documents add response.\n\nIdempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once.The response will be retrieved directly from our system."
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        description: Transaction Id
        required: true
        schema:
          type: string
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityCreateDisputeResponse'
      security:
      - basic: []
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDisputeRequest'
    get:
      tags:
      - Transaction
      summary: Get the dispute information of the transaction
      operationId: getDisputeFolderInfoByTransactionId
      description: 'The API returns the dispute folder information if the transaction identified by its transaction Identifier is disputed. If so, it provides access to the full dispute content, including:

        - General dispute folder details such as the dispute reason and status

        - Cardholder information including card status and billing amount

        - The issuer accounting balance

        - Transaction details including the reconciliation amount, transaction type, and merchant information

        The response may also be enriched (when embed fields are specified in the input) with additional data related to added events, performed postings, attached documents, and messages exchanged with the scheme, representing the dispute cycle history.

        If the transaction is not disputed, a 404 response code is returned along with a status message indicating that no Dispute Folder has been found.'
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        schema:
          type: string
      - name: WL-Origin
        in: header
        required: false
        schema:
          type: string
      - name: WL-Username
        in: header
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        description: Transaction Id
        required: true
        schema:
          type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - events
            - postings
            - documents
            - messages
      responses:
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayErrorApiResponse'
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseEntityDispute'
      security:
      - basic: []
      deprecated: false
    servers:
    - url: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing/api/v2
  /acquiring/transaction/v2.0/acquirers/{acquirerId}/transactions/{transactionId}:
    get:
      tags:
      - Transaction
      summary: Retrieve a transaction (deprecated, please use v2.1 call)
      description: 'This operation uses the unique transactionId to retrieve the transaction data

        '
      operationId: getTransaction
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        description: 'Unique identification of the transaction


          examples TDS16172008721825920, TDS16172008721825921

          '
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction_2'
              example:
                transactionIdentification:
                  transactionId: TDS16172008721825920
                  actionId: 432956ee-6974-42d2-bfdb-878997f21653
                  acquirerReferenceNumber: '11223344662288134679854'
                  merchantReference: trx reference by merchant
                  merchantTransactionReference: DEPRECATED. Not available in v2.1. Please use merchantReference
                  pspReference: string
                  retrievalReferenceNumber: string
                  stan: 12752
                contractIdentification:
                  acquirerId: '315000001'
                  pspId: string
                  holdingId: 200
                  merchantId: '1001'
                  contractId: '10011'
                  cardAcceptorId: '1001'
                  siteId: 100111
                  terminalId: W01AB01
                approvalCode: AB90EF
                brand: MAES
                cardAcceptorNameLocation: Purchase Merchant/ CC \ARNHEM       \NLD
                channel: 1
                contactlessIndicator: 1
                creditDebitIndicator: D
                forwardingInstitutionId: '671734512'
                matStatus: '1'
                merchantCategoryCode: 7000
                paymentFacilitatorId: '10000000000'
                paymentInfo:
                - merchantPaymentId: SO-000000017036619028
                  merchantPaymentAggregationLevelCode: '02'
                  paymentType: '03'
                  paymentDate: '2024-02-21T00:00:00+01:00'
                  paymentCrossReferenceURI: acquiring/payment/v2.0/payments/acquirers/XXX/payment/XXX?paymentDate=YYYY-MM-DD
                paymentProductTypeCode: '2'
                posEntryMode: 79x
                pricePlanTarifId: tarifId
                processingDateTimeScheme: '2024-03-21T15:52:01+01:00'
                region: Netherlands Maestro
                regionCode: '31'
                subMerchantId: '734188'
                terminalBatchReference: '0000000216'
                terminalProtocol: '02'
                transactionDateTime: '2024-03-21T15:52:01+01:00'
                transactionDescription: ''
                transactionFeePricePlanTypeCode: '01'
                transactionLevel: Contract
                transactionStatus: TFEE
                transactionType: Purchase Presentment
                transactionTypeCode: '904'
                truncatedPan: '6731230000000123'
                vatLabel: ''
                result3ds: ''
                version3ds: ''
                cavv: string
                xid: string
                ucaf: string
                mitCause: Unscheduled
                initiatorType: Cardholder
                captureSequenceNumber: 2
                captureSequenceCount: 3
                schemeMerchantId: string
                schemeTransactionId: string
                paymentInitiationChannel: '0'
                transactionAmount:
                  amount: '3.00'
                  currency: EUR
                transactionVatAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeVatAmount:
                  amount: '3.00'
                  currency: EUR
                netAmount:
                  amount: '3.00'
                  currency: EUR
                schemeMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                interchangeFeeAmount:
                  amount: '3.00'
                  currency: EUR
                cashBackAmount:
                  amount: '3.00'
                  currency: EUR
                acquirerMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionAmount:
                  amount: '3.00'
                  currency: EUR
        400:
          description: Invalid input provided
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource not found
          content: {}
        500:
          description: Unexpected error or Internal error
          content: {}
        502:
          description: Backend service problem
          content: {}
    servers:
    - url: /MerchantApiTransaction/api
  /acquiring/transaction/v2.1/acquirers/{acquirerId}/transactions/{transactionId}:
    get:
      tags:
      - Transaction
      summary: Retrieve a transaction
      description: 'This operation uses the unique transactionId to retrieve the transaction data. A list will be returned.

        '
      operationId: getTransactionById
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        schema:
          type: string
      - name: transactionId
        in: path
        description: 'Unique identification of the transaction


          examples TDS16172008721825920, TDS16172008721825921

          '
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction_2'
              examples:
                POS:
                  value:
                  - transactionIdentification:
                      transactionId: TDS16172008721825920
                      actionId: 432956ee-6974-42d2-bfdb-878997f21653
                      acquirerReferenceNumber: '11223344662288134679854'
                      merchantReference: trx reference by merchant
                      merchantTransactionReference: DEPRECATED. Not available in v2.1. Please use merchantReference
                      pspReference: string
                      retrievalReferenceNumber: string
                      stan: 12752
                    contractIdentification:
                      acquirerId: '315000001'
                      pspId: string
                      holdingId: 200
                      merchantId: '1001'
                      contractId: '10011'
                      cardAcceptorId: '1001'
                      siteId: 100111
                      terminalId: W01AB01
                    approvalCode: AB90EF
                    brand: MAES
                    cardAcceptorNameLocation: Purchase Merchant/ CC \ARNHEM       \NLD
                    channel: 1
                    contactlessIndicator: 1
                    creditDebitIndicator: D
                    forwardingInstitutionId: '671734512'
                    matStatus: '1'
                    merchantCategoryCode: 7000
                    paymentFacilitatorId: '10000000000'
                    paymentInfo:
                    - merchantPaymentId: SO-000000017036619028
                      merchantPaymentAggregationLevelCode: '02'
                      paymentType: '03'
                      paymentDate: '2024-02-14T00:00:00+01:00'
                      paymentCrossReferenceURI: acquiring/payment/v2.0/payments/acquirers/XXX/payment/XXX?paymentDate=YYYY-MM-DD
                    paymentProductTypeCode: '2'
                    posEntryMode: 79x
                    pricePlanTarifId: tarifId
                    processingDateTimeScheme: '2024-02-14T12:20:56+01:00'
                    region: Netherlands Maestro
                    regionCode: '31'
                    subMerchantId: '734188'
                    terminalBatchReference: '0000000216'
                    terminalProtocol: '02'
                    transactionDateTime: '2024-02-14T12:20:56+01:00'
                    transactionDescription: ''
                    transactionFeePricePlanTypeCode: '01'
                    transactionLevel: Contract
                    transactionStatus: TFEE
                    transactionType: Purchase Presentment
                    transactionTypeCode: '904'
                    truncatedPan: '6731230000000123'
                    vatLabel: ''
                    result3ds: ''
                    version3ds: ''
                    cavv: string
                    xid: string
                    ucaf: string
                    mitCause: Unscheduled
                    initiatorType: Cardholder
                    captureSequenceNumber: 2
                    captureSequenceCount: 3
                    schemeMerchantId: string
                    schemeTransactionId: string
                    paymentInitiationChannel: '0'
                    transactionAmount:
                      amount: '3.00'
                      currency: EUR
                    transactionVatAmount:
                      amount: '3.00'
                      currency: EUR
                    merchantTransactionFeeAmount:
                      amount: '3.00'
                      currency: EUR
                    merchantTransactionFeeVatAmount:
                      amount: '3.00'
                      currency: EUR
                    netAmount:
                      amount: '3.00'
                      currency: EUR
                    schemeMarkupAmount:
                      amount: '3.00'
                      currency: EUR
                    interchangeFeeAmount:
                      amount: '3.00'
                      currency: EUR
                    cashBackAmount:
                      amount: '3.00'
                      currency: EUR
                    acquirerMarkupAmount:
                      amount: '3.00'
                      currency: EUR
                    merchantTransactionAmount:
                      amount: '3.00'
                      currency: EUR
                CNP:
                  value:
                  - transactionIdentification:
                      transactionId: ACQ_EU2-20230926085528-000000000000106006
                      actionId: 4bcccd2c-b364-4b4d-b64d-c266914e70ba
                      acquirerReferenceNumber: '11223344662288134679854'
                      merchantReference: trx reference by merchant
                      merchantTransactionReference: DEPRECATED. Not available in v2.1. Please use merchantReference
                      pspReference: string
                      retrievalReferenceNumber: string
                      stan: 12752
                    contractIdentification:
                      acquirerId: '315000001'
                      pspId: PSP11112222
                      holdingId: 200
                      merchantId: '1001'
                      contractId: '10011'
                      cardAcceptorId: '90100110'
                      siteId: 100111
                      terminalId: W01AB01
                    approvalCode: AB90EF
                    brand: MAST
                    cardAcceptorNameLocation: Event Payment Solutions 1 Rotterdam
                    channel: 2
                    contactlessIndicator: null
                    creditDebitIndicator: D
                    forwardingInstitutionId: '671734512'
                    matStatus: ''
                    merchantCategoryCode: 7999
                    paymentFacilitatorId: '10000000000'
                    paymentInfo:
                    - merchantPaymentId: SO-000000017036619028
                      merchantPaymentAggregationLevelCode: '02'
                      paymentType: '03'
                      paymentDate: '2024-02-14T00:00:00+01:00'
                      paymentCrossReferenceURI: acquiring/payment/v2.0/payments/acquirers/XXX/payment/XXX?paymentDate=YYYY-MM-DD
                    paymentProductTypeCode: '2'
                    posEntryMode: ''
                    pricePlanTarifId: tarifId
                    processingDateTimeScheme: '2024-02-14T12:20:56+01:00'
                    region: Netherlands Maestro
                    regionCode: '31'
                    subMerchantId: '734188'
                    terminalBatchReference: ''
                    terminalProtocol: ''
                    transactionDateTime: '2024-03-21T15:52:01+01:00'
                    transactionDescription: ''
                    transactionFeePricePlanTypeCode: '01'
                    transactionLevel: Contract
                    transactionStatus: TFEE
                    transactionType: Purchase Presentment
                    transactionTypeCode: '904'
                    truncatedPan: '6731230000000123'
                    vatLabel: ''
                    result3ds: Full
                    version3ds: V2
                    cavv: string
                    xid: string
                    ucaf: string
                    mitCause: Unscheduled
                    initiatorType: Cardholder
                    captureSequenceNumber: 2
                    captureSequenceCount: 3
                    schemeMerchantId: string
                    schemeTransactionId: string
                    paymentInitiationChannel: ''
                    transactionAmount:
                      amount: '3.00'
                      currency: EUR
                    transactionVatAmount:
                      amount: '3.00'
                      currency: EUR
                    merchantTransactionFeeAmount:
                      amount: '3.00'
                      currency: EUR
                    merchantTransactionFeeVatAmount:
                      amount: '3.00'
                      currency: EUR
                    netAmount:
                      amount: '3.00'
                      currency: EUR
                    schemeMarkupAmount:
                      amount: '3.00'
                      currency: EUR
                    interchangeFeeAmount:
                      amount: '3.00'
                      currency: EUR
                    acquirerMarkupAmount:
                      amount: '3.00'
                      currency: EUR
                    merchantTransactionAmount:
                      amount: '3.00'
                      currency: EUR
        400:
          description: Invalid input provided
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource not found
          content: {}
        500:
          description: Unexpected error or Internal error
          content: {}
        502:
          description: Backend service problem
          content: {}
    servers:
    - url: /MerchantApiTransaction/api
  /acquiring/transaction/v2.0/acquirers/{acquirerId}/transactions:
    get:
      tags:
      - Transaction
      summary: Retrieve transactions on search criteria
      description: "This operation uses query parameters to retrieve the associated transaction(s) data. \nFor example, with a MC 2nd Chargeback the unique AcquirerRefNo retrieves the unique transactionId’s and associated transaction data of all the different stages in the dispute life cycle.\nIf there is a previous and/or next page the http response header will have a link (url) to this data. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Link#pagination_through_links.\nNote, startDateTime and endDateTime must be present AND at least one of these query parameters: acquirerRefNo, merchantReference, actionId, pspReference\n"
      operationId: getTransactionBySearchCriteria
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        schema:
          type: string
      - name: acquirerRefNo
        in: query
        description: 'Data supplied by an acquirer to assist in identifying a transaction, e.g. for researching retrievals and chargebacks.

          (Note: acquirerRefNo = acquirerReferenceNumber)

          '
        schema:
          type: string
      - name: merchantReference
        in: query
        description: 'This is a reference that the merchant can add to an authorization request towards the terminal by entering it via the keyboard of the merchant.

          '
        schema:
          type: string
      - name: merchantTransactionRefNo
        in: query
        description: '***DEPRECATED*** (please use merchantReference)


          This is a reference that the merchant can add to an authorization request towards the terminal by entering it via the keyboard of the merchant.

          '
        schema:
          type: string
      - name: actionId
        in: query
        description: 'Action ID (example 432956ee-6974-42d2-bfdb-878997f21653)

          '
        schema:
          type: string
      - name: pspReference
        in: query
        description: 'Additional information provided by the concentrator to return on his statement

          '
        schema:
          type: string
      - name: startDateTime
        in: query
        description: 'Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)


          Note, startDateTime and endDateTime must be present AND at least one of these query parameters: acquirerRefNo, merchantReference, actionId, pspReference

          '
        required: true
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: 'End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)


          Note, startDateTime and endDateTime must be present AND at least one of these query parameters: acquirerRefNo, merchantReference, actionId, pspReference

          '
        required: true
        schema:
          type: string
          format: date-time
      - name: transactionAmountFrom
        in: query
        description: Transaction amount (whole units), amount should be greater than or equal to this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountTo
        in: query
        description: Transaction amount (whole units), amount should be less than this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountCurrency
        in: query
        description: Transaction amount currency, according to ISO 4217. Required if search amount is available. Example EUR
        schema:
          type: string
      - name: sortField
        in: query
        description: Sort field
        schema:
          type: string
          enum:
          - TransactionId
          - TransactionDateTime
          - TransactionType
          - Brand
          - TruncatedPan
      - name: sortOrder
        in: query
        description: Sort order
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size (max 300)
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        schema:
          type: string
      responses:
        200:
          description: Successful
          headers:
            Link:
              description: Link header for pagination. Only available if there is a next and/or prev page.
              schema:
                type: string
              example: </acquiring/transaction/v2.0/acquirers/abc/transactions&pageNumber=3>; rel="next", </acquiring/transaction/v2.0/acquirers/abc/transactions&pageNumber=1>; rel="prev"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction_2'
              example:
              - transactionIdentification:
                  transactionId: TDS16172008721825920
                  actionId: 432956ee-6974-42d2-bfdb-878997f21653
                  acquirerReferenceNumber: '11223344662288134679854'
                  merchantReference: trx reference by merchant
                  merchantTransactionReference: DEPRECATED. Not available in v2.1. Please use merchantReference
                  pspReference: string
                  retrievalReferenceNumber: string
                  stan: 12752
                contractIdentification:
                  acquirerId: '315000001'
                  pspId: string
                  holdingId: 200
                  merchantId: '1001'
                  contractId: '10011'
                  cardAcceptorId: '1001'
                  siteId: 100111
                  terminalId: W01AB01
                approvalCode: AB90EF
                brand: MAES
                cardAcceptorNameLocation: Purchase Merchant/ CC \ARNHEM       \NLD
                channel: 1
                contactlessIndicator: 1
                creditDebitIndicator: D
                forwardingInstitutionId: '671734512'
                matStatus: '1'
                merchantCategoryCode: 7000
                paymentFacilitatorId: '10000000000'
                paymentInfo:
                - merchantPaymentId: SO-000000017036619028
                  merchantPaymentAggregationLevelCode: '02'
                  paymentType: '03'
                  paymentDate: '2024-02-21T00:00:00+01:00'
                  paymentCrossReferenceURI: acquiring/payment/v2.0/payments/acquirers/XXX/payment/XXX?paymentDate=YYYY-MM-DD
                paymentProductTypeCode: '2'
                posEntryMode: 79x
                pricePlanTarifId: tarifId
                processingDateTimeScheme: '2024-03-21T15:52:01+01:00'
                region: Netherlands Maestro
                regionCode: '31'
                subMerchantId: '734188'
                terminalBatchReference: '0000000216'
                terminalProtocol: '02'
                transactionDateTime: '2024-03-21T15:52:01+01:00'
                transactionDescription: ''
                transactionFeePricePlanTypeCode: '01'
                transactionLevel: Contract
                transactionStatus: TFEE
                transactionType: Purchase Presentment
                transactionTypeCode: '904'
                truncatedPan: '6731230000000123'
                vatLabel: ''
                result3ds: ''
                version3ds: ''
                cavv: string
                xid: string
                ucaf: string
                mitCause: Unscheduled
                initiatorType: Cardholder
                captureSequenceNumber: 2
                captureSequenceCount: 3
                schemeMerchantId: string
                schemeTransactionId: string
                paymentInitiationChannel: '0'
                transactionAmount:
                  amount: '3.00'
                  currency: EUR
                transactionVatAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeVatAmount:
                  amount: '3.00'
                  currency: EUR
                netAmount:
                  amount: '3.00'
                  currency: EUR
                schemeMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                interchangeFeeAmount:
                  amount: '3.00'
                  currency: EUR
                cashBackAmount:
                  amount: '3.00'
                  currency: EUR
                acquirerMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionAmount:
                  amount: '3.00'
                  currency: EUR
        400:
          description: Invalid input provided
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource not found
          content: {}
        500:
          description: Unexpected error or Internal error
          content: {}
        502:
          description: Backend service problem
          content: {}
    servers:
    - url: /MerchantApiTransaction/api
  /acquiring/transaction/v2.0/acquirers/{acquirerId}/payments/{paymentId}/transactions:
    get:
      tags:
      - Transaction
      summary: Retrieve transactions for payment id
      description: "This operation uses the paymentId to retrieve the associated transaction(s) data. \nIf there is a previous and/or next page the http response header will have a link (url) to this data. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Link#pagination_through_links\n"
      operationId: getTransactionListByPaymentId
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        schema:
          type: string
      - name: paymentId
        in: path
        description: 'Unique identification of the payment in which this transaction has been paid out


          If present, the paymentDate must be present too

          '
        required: true
        schema:
          type: string
      - name: paymentDate
        in: query
        description: 'Payment Date (yyyy-mm-dd), known as payment posting date (required for search on paymentId)


          If present, the paymentId must be present too

          '
        required: true
        schema:
          type: string
          format: date
      - name: transactionAmountFrom
        in: query
        description: Transaction amount (whole units), amount should be greater than or equal to this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountTo
        in: query
        description: Transaction amount (whole units), amount should be less than this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountCurrency
        in: query
        description: Transaction amount currency, according to ISO 4217. Required if search amount is available. Example EUR
        schema:
          type: string
      - name: sortField
        in: query
        description: Sort field
        schema:
          type: string
          enum:
          - TransactionId
          - TransactionDateTime
          - TransactionType
          - Brand
          - TruncatedPan
      - name: sortOrder
        in: query
        description: Sort order
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size (max 300)
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        schema:
          type: string
      responses:
        200:
          description: Successful
          headers:
            Link:
              description: Link header for pagination. Only available if there is a next and/or prev page.
              schema:
                type: string
              example: </acquiring/transaction/v2.0/acquirers/aid/payments/pid/transactions&pageNumber=3>; rel="next", </acquiring/transaction/v2.0/acquirers/aid/payments/pid/transactions&pageNumber=1>; rel="prev"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction_2'
              example:
              - transactionIdentification:
                  transactionId: TDS16172008721825920
                  actionId: 432956ee-6974-42d2-bfdb-878997f21653
                  acquirerReferenceNumber: '11223344662288134679854'
                  merchantReference: trx reference by merchant
                  merchantTransactionReference: DEPRECATED. Not available in v2.1. Please use merchantReference
                  pspReference: string
                  retrievalReferenceNumber: string
                  stan: 12752
                contractIdentification:
                  acquirerId: '315000001'
                  pspId: string
                  holdingId: 200
                  merchantId: '1001'
                  contractId: '10011'
                  cardAcceptorId: '1001'
                  siteId: 100111
                  terminalId: W01AB01
                approvalCode: AB90EF
                brand: MAES
                cardAcceptorNameLocation: Purchase Merchant/ CC \ARNHEM       \NLD
                channel: 1
                contactlessIndicator: 1
                creditDebitIndicator: D
                forwardingInstitutionId: '671734512'
                matStatus: '1'
                merchantCategoryCode: 7000
                paymentFacilitatorId: '10000000000'
                paymentInfo:
                - merchantPaymentId: SO-000000017036619028
                  merchantPaymentAggregationLevelCode: '02'
                  paymentType: '03'
                  paymentDate: '2024-02-21T00:00:00+01:00'
                  paymentCrossReferenceURI: acquiring/payment/v2.0/payments/acquirers/XXX/payment/XXX?paymentDate=YYYY-MM-DD
                paymentProductTypeCode: '2'
                posEntryMode: 79x
                pricePlanTarifId: tarifId
                processingDateTimeScheme: '2024-03-21T15:52:01+01:00'
                region: Netherlands Maestro
                regionCode: '31'
                subMerchantId: '734188'
                terminalBatchReference: '0000000216'
                terminalProtocol: '02'
                transactionDateTime: '2024-03-21T15:52:01+01:00'
                transactionDescription: ''
                transactionFeePricePlanTypeCode: '01'
                transactionLevel: Contract
                transactionStatus: TFEE
                transactionType: Purchase Presentment
                transactionTypeCode: '904'
                truncatedPan: '6731230000000123'
                vatLabel: ''
                result3ds: ''
                version3ds: ''
                cavv: string
                xid: string
                ucaf: string
                mitCause: Unscheduled
                initiatorType: Cardholder
                captureSequenceNumber: 2
                captureSequenceCount: 3
                schemeMerchantId: string
                schemeTransactionId: string
                paymentInitiationChannel: '0'
                transactionAmount:
                  amount: '3.00'
                  currency: EUR
                transactionVatAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeVatAmount:
                  amount: '3.00'
                  currency: EUR
                netAmount:
                  amount: '3.00'
                  currency: EUR
                schemeMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                interchangeFeeAmount:
                  amount: '3.00'
                  currency: EUR
                cashBackAmount:
                  amount: '3.00'
                  currency: EUR
                acquirerMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionAmount:
                  amount: '3.00'
                  currency: EUR
        400:
          description: Invalid input provided
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource not found
          content: {}
        500:
          description: Unexpected error or Internal error
          content: {}
        502:
          description: Backend service problem
          content: {}
    servers:
    - url: /MerchantApiTransaction/api
  /acquiring/transaction/v2.0/acquirers/{acquirerId}/holdings/{holdingId}/transactions:
    get:
      tags:
      - Transaction
      summary: Retrieve transactions on holding level
      description: 'This operation retrieves all transaction(s) on specific holding level.

        If there is a previous and/or next page the http response header will have a link (url) to this data. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Link#pagination_through_links

        '
      operationId: getTransactionsOnHoldingLevel
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        schema:
          type: string
      - name: holdingId
        in: path
        description: Unique identification of the holding, determined by equensWorldline
        required: true
        schema:
          type: integer
          format: int32
      - name: startDateTime
        in: query
        description: Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)
        required: true
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)
        required: true
        schema:
          type: string
          format: date-time
      - name: transactionAmountFrom
        in: query
        description: Transaction amount (whole units), amount should be greater than or equal to this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountTo
        in: query
        description: Transaction amount (whole units), amount should be less than this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountCurrency
        in: query
        description: Transaction amount currency, according to ISO 4217. Required if search amount is available. Example EUR
        schema:
          type: string
      - name: cardNumberLast4
        in: query
        description: Last 4 digits from the cardnumber
        schema:
          type: string
      - name: refundOnly
        in: query
        description: Return refunds only indicator. (0 = return all transactions, 1 = refunds only)
        schema:
          type: string
      - name: sortField
        in: query
        description: 'Sort field

          '
        schema:
          type: string
          enum:
          - TransactionId
          - TransactionDateTime
          - TransactionType
          - Brand
          - TruncatedPan
      - name: sortOrder
        in: query
        description: Sort order
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size (max 300)
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        schema:
          type: string
      responses:
        200:
          description: Successful
          headers:
            Link:
              description: Link header for pagination. Only available if there is a next and/or prev page.
              schema:
                type: string
              example: </acquiring/transaction/v2.0/acquirers/abc/holdings/hid/transactions&pageNumber=3>; rel="next", </acquiring/transaction/v2.0/acquirers/abc/holdings/hid/transactions&pageNumber=1>; rel="prev"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction_2'
              example:
              - transactionIdentification:
                  transactionId: TDS16172008721825920
                  actionId: 432956ee-6974-42d2-bfdb-878997f21653
                  acquirerReferenceNumber: '11223344662288134679854'
                  merchantReference: trx reference by merchant
                  merchantTransactionReference: DEPRECATED. Not available in v2.1. Please use merchantReference
                  pspReference: string
                  retrievalReferenceNumber: string
                  stan: 12752
                contractIdentification:
                  acquirerId: '315000001'
                  pspId: string
                  holdingId: 200
                  merchantId: '1001'
                  contractId: '10011'
                  cardAcceptorId: '1001'
                  siteId: 100111
                  terminalId: W01AB01
                approvalCode: AB90EF
                brand: MAES
                cardAcceptorNameLocation: Purchase Merchant/ CC \ARNHEM       \NLD
                channel: 1
                contactlessIndicator: 1
                creditDebitIndicator: D
                forwardingInstitutionId: '671734512'
                matStatus: '1'
                merchantCategoryCode: 7000
                paymentFacilitatorId: '10000000000'
                paymentInfo:
                - merchantPaymentId: SO-000000017036619028
                  merchantPaymentAggregationLevelCode: '02'
                  paymentType: '03'
                  paymentDate: '2024-02-21T00:00:00+01:00'
                  paymentCrossReferenceURI: acquiring/payment/v2.0/payments/acquirers/XXX/payment/XXX?paymentDate=YYYY-MM-DD
                paymentProductTypeCode: '2'
                posEntryMode: 79x
                pricePlanTarifId: tarifId
                processingDateTimeScheme: '2024-03-21T15:52:01+01:00'
                region: Netherlands Maestro
                regionCode: '31'
                subMerchantId: '734188'
                terminalBatchReference: '0000000216'
                terminalProtocol: '02'
                transactionDateTime: '2024-03-21T15:52:01+01:00'
                transactionDescription: ''
                transactionFeePricePlanTypeCode: '01'
                transactionLevel: Contract
                transactionStatus: TFEE
                transactionType: Purchase Presentment
                transactionTypeCode: '904'
                truncatedPan: '6731230000000123'
                vatLabel: ''
                result3ds: ''
                version3ds: ''
                cavv: string
                xid: string
                ucaf: string
                mitCause: Unscheduled
                initiatorType: Cardholder
                captureSequenceNumber: 2
                captureSequenceCount: 3
                schemeMerchantId: string
                schemeTransactionId: string
                paymentInitiationChannel: '0'
                transactionAmount:
                  amount: '3.00'
                  currency: EUR
                transactionVatAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeVatAmount:
                  amount: '3.00'
                  currency: EUR
                netAmount:
                  amount: '3.00'
                  currency: EUR
                schemeMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                interchangeFeeAmount:
                  amount: '3.00'
                  currency: EUR
                cashBackAmount:
                  amount: '3.00'
                  currency: EUR
                acquirerMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionAmount:
                  amount: '3.00'
                  currency: EUR
        400:
          description: Invalid input provided
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource not found
          content: {}
        500:
          description: Unexpected error or Internal error
          content: {}
        502:
          description: Backend service problem
          content: {}
    servers:
    - url: /MerchantApiTransaction/api
  /acquiring/transaction/v2.0/acquirers/{acquirerId}/merchants/{merchantId}/transactions:
    get:
      tags:
      - Transaction
      summary: Retrieve transactions on merchant level
      description: 'This operation retrieves all transaction(s) on specific merchant level.

        If there is a previous and/or next page the http response header will have a link (url) to this data. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Link#pagination_through_links

        '
      operationId: getTransactionsOnMerchantLevel
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        schema:
          type: string
      - name: merchantId
        in: path
        description: Unique identification of the merchant, determined by equensWorldline
        required: true
        schema:
          type: string
      - name: startDateTime
        in: query
        description: 'Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)

          Either the update (start/end) time or the creation (start/end) time is required

          '
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: 'End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)

          Either the update (start/end) time or the creation (start/end) time is required

          '
        schema:
          type: string
          format: date-time
      - name: updateStartDateTime
        in: query
        description: 'Update start Datetime of processing (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)

          Either the update (start/end) time or the creation (start/end) time is required

          '
        schema:
          type: string
          format: date-time
      - name: updateEndDateTime
        in: query
        description: 'Update end Datetime of processing (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)

          Either the update (start/end) time or the creation (start/end) time is required

          '
        schema:
          type: string
          format: date-time
      - name: transactionAmountFrom
        in: query
        description: Transaction amount (whole units), amount should be greater than or equal to this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountTo
        in: query
        description: Transaction amount (whole units), amount should be less than this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountCurrency
        in: query
        description: Transaction amount currency, according to ISO 4217. Required if search amount is available. Example EUR
        schema:
          type: string
      - name: cardNumberLast4
        in: query
        description: Last 4 digits from the cardnumber
        schema:
          type: string
      - name: refundOnly
        in: query
        description: Return refunds only indicator. (0 = return all transactions, 1 = refunds only)
        schema:
          type: string
      - name: sortField
        in: query
        description: 'Sort field

          '
        schema:
          type: string
          enum:
          - TransactionId
          - TransactionDateTime
          - TransactionType
          - Brand
          - TruncatedPan
      - name: sortOrder
        in: query
        description: Sort order
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size (max 300)
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        schema:
          type: string
      responses:
        200:
          description: Successful
          headers:
            Link:
              description: Link header for pagination. Only available if there is a next and/or prev page.
              schema:
                type: string
              example: </acquiring/transaction/v2.0/acquirers/abc/merchants/mid/transactions&pageNumber=3>; rel="next", </acquiring/transaction/v2.0/acquirers/abc/merchants/mid/transactions&pageNumber=1>; rel="prev"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction_2'
              example:
              - transactionIdentification:
                  transactionId: TDS16172008721825920
                  actionId: 432956ee-6974-42d2-bfdb-878997f21653
                  acquirerReferenceNumber: '11223344662288134679854'
                  merchantReference: trx reference by merchant
                  merchantTransactionReference: DEPRECATED. Not available in v2.1. Please use merchantReference
                  pspReference: string
                  retrievalReferenceNumber: string
                  stan: 12752
                contractIdentification:
                  acquirerId: '315000001'
                  pspId: string
                  holdingId: 200
                  merchantId: '1001'
                  contractId: '10011'
                  cardAcceptorId: '1001'
                  siteId: 100111
                  terminalId: W01AB01
                approvalCode: AB90EF
                brand: MAES
                cardAcceptorNameLocation: Purchase Merchant/ CC \ARNHEM       \NLD
                channel: 1
                contactlessIndicator: 1
                creditDebitIndicator: D
                forwardingInstitutionId: '671734512'
                matStatus: '1'
                merchantCategoryCode: 7000
                paymentFacilitatorId: '10000000000'
                paymentInfo:
                - merchantPaymentId: SO-000000017036619028
                  merchantPaymentAggregationLevelCode: '02'
                  paymentType: '03'
                  paymentDate: '2024-02-21T00:00:00+01:00'
                  paymentCrossReferenceURI: acquiring/payment/v2.0/payments/acquirers/XXX/payment/XXX?paymentDate=YYYY-MM-DD
                paymentProductTypeCode: '2'
                posEntryMode: 79x
                pricePlanTarifId: tarifId
                processingDateTimeScheme: '2024-03-21T15:52:01+01:00'
                region: Netherlands Maestro
                regionCode: '31'
                subMerchantId: '734188'
                terminalBatchReference: '0000000216'
                terminalProtocol: '02'
                transactionDateTime: '2024-03-21T15:52:01+01:00'
                transactionDescription: ''
                transactionFeePricePlanTypeCode: '01'
                transactionLevel: Contract
                transactionStatus: TFEE
                transactionType: Purchase Presentment
                transactionTypeCode: '904'
                truncatedPan: '6731230000000123'
                vatLabel: ''
                result3ds: ''
                version3ds: ''
                cavv: string
                xid: string
                ucaf: string
                mitCause: Unscheduled
                initiatorType: Cardholder
                captureSequenceNumber: 2
                captureSequenceCount: 3
                schemeMerchantId: string
                schemeTransactionId: string
                paymentInitiationChannel: '0'
                transactionAmount:
                  amount: '3.00'
                  currency: EUR
                transactionVatAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeVatAmount:
                  amount: '3.00'
                  currency: EUR
                netAmount:
                  amount: '3.00'
                  currency: EUR
                schemeMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                interchangeFeeAmount:
                  amount: '3.00'
                  currency: EUR
                cashBackAmount:
                  amount: '3.00'
                  currency: EUR
                acquirerMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionAmount:
                  amount: '3.00'
                  currency: EUR
        400:
          description: Invalid input provided
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource not found
          content: {}
        500:
          description: Unexpected error or Internal error
          content: {}
        502:
          description: Backend service problem
          content: {}
    servers:
    - url: /MerchantApiTransaction/api
  /acquiring/transaction/v2.0/acquirers/{acquirerId}/contracts/{contractId}/transactions:
    get:
      tags:
      - Transaction
      summary: Retrieve transactions on contract level
      description: 'This operation retrieves all transaction(s) on specific contract level.

        If there is a previous and/or next page the http response header will have a link (url) to this data. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Link#pagination_through_links

        '
      operationId: getTransactionsOnContractLevel
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        schema:
          type: string
      - name: contractId
        in: path
        description: Unique identification of the contract, determined by the acquirer
        required: true
        schema:
          type: string
      - name: startDateTime
        in: query
        description: Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)
        required: true
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)
        required: true
        schema:
          type: string
          format: date-time
      - name: transactionAmountFrom
        in: query
        description: Transaction amount (whole units), amount should be greater than or equal to this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountTo
        in: query
        description: Transaction amount (whole units), amount should be less than this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountCurrency
        in: query
        description: Transaction amount currency, according to ISO 4217. Required if search amount is available. Example EUR
        schema:
          type: string
      - name: cardNumberLast4
        in: query
        description: Last 4 digits from the cardnumber
        schema:
          type: string
      - name: refundOnly
        in: query
        description: Return refunds only indicator. (0 = return all transactions, 1 = refunds only)
        schema:
          type: string
      - name: sortField
        in: query
        description: 'Sort field

          '
        schema:
          type: string
          enum:
          - TransactionId
          - TransactionDateTime
          - TransactionType
          - Brand
          - TruncatedPan
      - name: sortOrder
        in: query
        description: Sort order
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size (max 300)
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        schema:
          type: string
      responses:
        200:
          description: Successful
          headers:
            Link:
              description: Link header for pagination. Only available if there is a next and/or prev page.
              schema:
                type: string
              example: </acquiring/transaction/v2.0/acquirers/abc/contracts/cid/transactions&pageNumber=3>; rel="next", </acquiring/transaction/v2.0/acquirers/abc/contracts/cid/transactions&pageNumber=1>; rel="prev"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction_2'
              example:
              - transactionIdentification:
                  transactionId: TDS16172008721825920
                  actionId: 432956ee-6974-42d2-bfdb-878997f21653
                  acquirerReferenceNumber: '11223344662288134679854'
                  merchantReference: trx reference by merchant
                  merchantTransactionReference: DEPRECATED. Not available in v2.1. Please use merchantReference
                  pspReference: string
                  retrievalReferenceNumber: string
                  stan: 12752
                contractIdentification:
                  acquirerId: '315000001'
                  pspId: string
                  holdingId: 200
                  merchantId: '1001'
                  contractId: '10011'
                  cardAcceptorId: '1001'
                  siteId: 100111
                  terminalId: W01AB01
                approvalCode: AB90EF
                brand: MAES
                cardAcceptorNameLocation: Purchase Merchant/ CC \ARNHEM       \NLD
                channel: 1
                contactlessIndicator: 1
                creditDebitIndicator: D
                forwardingInstitutionId: '671734512'
                matStatus: '1'
                merchantCategoryCode: 7000
                paymentFacilitatorId: '10000000000'
                paymentInfo:
                - merchantPaymentId: SO-000000017036619028
                  merchantPaymentAggregationLevelCode: '02'
                  paymentType: '03'
                  paymentDate: '2024-02-21T00:00:00+01:00'
                  paymentCrossReferenceURI: acquiring/payment/v2.0/payments/acquirers/XXX/payment/XXX?paymentDate=YYYY-MM-DD
                paymentProductTypeCode: '2'
                posEntryMode: 79x
                pricePlanTarifId: tarifId
                processingDateTimeScheme: '2024-03-21T15:52:01+01:00'
                region: Netherlands Maestro
                regionCode: '31'
                subMerchantId: '734188'
                terminalBatchReference: '0000000216'
                terminalProtocol: '02'
                transactionDateTime: '2024-03-21T15:52:01+01:00'
                transactionDescription: ''
                transactionFeePricePlanTypeCode: '01'
                transactionLevel: Contract
                transactionStatus: TFEE
                transactionType: Purchase Presentment
                transactionTypeCode: '904'
                truncatedPan: '6731230000000123'
                vatLabel: ''
                result3ds: ''
                version3ds: ''
                cavv: string
                xid: string
                ucaf: string
                mitCause: Unscheduled
                initiatorType: Cardholder
                captureSequenceNumber: 2
                captureSequenceCount: 3
                schemeMerchantId: string
                schemeTransactionId: string
                paymentInitiationChannel: '0'
                transactionAmount:
                  amount: '3.00'
                  currency: EUR
                transactionVatAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeVatAmount:
                  amount: '3.00'
                  currency: EUR
                netAmount:
                  amount: '3.00'
                  currency: EUR
                schemeMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                interchangeFeeAmount:
                  amount: '3.00'
                  currency: EUR
                cashBackAmount:
                  amount: '3.00'
                  currency: EUR
                acquirerMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionAmount:
                  amount: '3.00'
                  currency: EUR
        400:
          description: Invalid input provided
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource not found
          content: {}
        500:
          description: Unexpected error or Internal error
          content: {}
        502:
          description: Backend service problem
          content: {}
    servers:
    - url: /MerchantApiTransaction/api
  /acquiring/transaction/v2.0/acquirers/{acquirerId}/contracts/{contractId}/sites/{siteId}/transactions:
    get:
      tags:
      - Transaction
      summary: Retrieve transactions on site level
      description: 'This operation retrieves all transaction(s) on specific site level.

        If there is a previous and/or next page the http response header will have a link (url) to this data. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Link#pagination_through_links

        '
      operationId: getTransactionsOnSiteLevel
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        schema:
          type: string
      - name: contractId
        in: path
        description: Unique identification of the contract, determined by the acquirer
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        description: Unique identification of the site within the contract
        required: true
        schema:
          type: integer
          format: int32
      - name: startDateTime
        in: query
        description: Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)
        required: true
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)
        required: true
        schema:
          type: string
          format: date-time
      - name: transactionAmountFrom
        in: query
        description: Transaction amount (whole units), amount should be greater than or equal to this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountTo
        in: query
        description: Transaction amount (whole units), amount should be less than this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountCurrency
        in: query
        description: Transaction amount currency, according to ISO 4217. Required if search amount is available. Example EUR
        schema:
          type: string
      - name: cardNumberLast4
        in: query
        description: Last 4 digits from the cardnumber
        schema:
          type: string
      - name: refundOnly
        in: query
        description: Return refunds only indicator. (0 = return all transactions, 1 = refunds only)
        schema:
          type: string
      - name: sortField
        in: query
        description: 'Sort field

          '
        schema:
          type: string
          enum:
          - TransactionId
          - TransactionDateTime
          - TransactionType
          - Brand
          - TruncatedPan
      - name: sortOrder
        in: query
        description: Sort order
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size (max 300)
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        schema:
          type: string
      responses:
        200:
          description: Successful
          headers:
            Link:
              description: Link header for pagination. Only available if there is a next and/or prev page.
              schema:
                type: string
              example: </acquiring/transaction/v2.0/acquirers/abc/contracts/cid/sites/sid/transactions&pageNumber=3>; rel="next", </acquiring/transaction/v2.0/acquirers/abc/contracts/cid/sites/sid/transactions&pageNumber=1>; rel="prev"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction_2'
              example:
              - transactionIdentification:
                  transactionId: TDS16172008721825920
                  actionId: 432956ee-6974-42d2-bfdb-878997f21653
                  acquirerReferenceNumber: '11223344662288134679854'
                  merchantReference: trx reference by merchant
                  merchantTransactionReference: DEPRECATED. Not available in v2.1. Please use merchantReference
                  pspReference: string
                  retrievalReferenceNumber: string
                  stan: 12752
                contractIdentification:
                  acquirerId: '315000001'
                  pspId: string
                  holdingId: 200
                  merchantId: '1001'
                  contractId: '10011'
                  cardAcceptorId: '1001'
                  siteId: 100111
                  terminalId: W01AB01
                approvalCode: AB90EF
                brand: MAES
                cardAcceptorNameLocation: Purchase Merchant/ CC \ARNHEM       \NLD
                channel: 1
                contactlessIndicator: 1
                creditDebitIndicator: D
                forwardingInstitutionId: '671734512'
                matStatus: '1'
                merchantCategoryCode: 7000
                paymentFacilitatorId: '10000000000'
                paymentInfo:
                - merchantPaymentId: SO-000000017036619028
                  merchantPaymentAggregationLevelCode: '02'
                  paymentType: '03'
                  paymentDate: '2024-02-21T00:00:00+01:00'
                  paymentCrossReferenceURI: acquiring/payment/v2.0/payments/acquirers/XXX/payment/XXX?paymentDate=YYYY-MM-DD
                paymentProductTypeCode: '2'
                posEntryMode: 79x
                pricePlanTarifId: tarifId
                processingDateTimeScheme: '2024-03-21T15:52:01+01:00'
                region: Netherlands Maestro
                regionCode: '31'
                subMerchantId: '734188'
                terminalBatchReference: '0000000216'
                terminalProtocol: '02'
                transactionDateTime: '2024-03-21T15:52:01+01:00'
                transactionDescription: ''
                transactionFeePricePlanTypeCode: '01'
                transactionLevel: Contract
                transactionStatus: TFEE
                transactionType: Purchase Presentment
                transactionTypeCode: '904'
                truncatedPan: '6731230000000123'
                vatLabel: ''
                result3ds: ''
                version3ds: ''
                cavv: string
                xid: string
                ucaf: string
                mitCause: Unscheduled
                initiatorType: Cardholder
                captureSequenceNumber: 2
                captureSequenceCount: 3
                schemeMerchantId: string
                schemeTransactionId: string
                paymentInitiationChannel: '0'
                transactionAmount:
                  amount: '3.00'
                  currency: EUR
                transactionVatAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeVatAmount:
                  amount: '3.00'
                  currency: EUR
                netAmount:
                  amount: '3.00'
                  currency: EUR
                schemeMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                interchangeFeeAmount:
                  amount: '3.00'
                  currency: EUR
                cashBackAmount:
                  amount: '3.00'
                  currency: EUR
                acquirerMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionAmount:
                  amount: '3.00'
                  currency: EUR
        400:
          description: Invalid input provided
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource not found
          content: {}
        500:
          description: Unexpected error or Internal error
          content: {}
        502:
          description: Backend service problem
          content: {}
    servers:
    - url: /MerchantApiTransaction/api
  ? /acquiring/transaction/v2.0/acquirers/{acquirerId}/contracts/{contractId}/sites/{siteId}/terminals/{terminalId}/transactions
  : get:
      tags:
      - Transaction
      summary: Retrieve transactions on terminal level
      description: 'This operation retrieves all transaction(s) on specific terminal level.

        If there is a previous and/or next page the http response header will have a link (url) to this data. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Reference/Headers/Link#pagination_through_links

        '
      operationId: getTransactionsOnTerminalLevel
      parameters:
      - name: acquirerId
        in: path
        description: Unique identification of the acquirer, determined by equensWorldline
        required: true
        schema:
          type: string
      - name: contractId
        in: path
        description: Unique identification of the contract, determined by the acquirer
        required: true
        schema:
          type: string
      - name: siteId
        in: path
        description: Unique identification of the site within the contract
        required: true
        schema:
          type: integer
          format: int32
      - name: terminalId
        in: path
        description: Unique code identifying the terminal at the Card acceptor location
        required: true
        schema:
          type: string
      - name: startDateTime
        in: query
        description: Start DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (greater or equals to this value)
        required: true
        schema:
          type: string
          format: date-time
      - name: endDateTime
        in: query
        description: End DateTime the transaction was created (yyyy-mm-dd hh:mm:ss) (until this value, so not incuded)
        required: true
        schema:
          type: string
          format: date-time
      - name: transactionAmountFrom
        in: query
        description: Transaction amount (whole units), amount should be greater than or equal to this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountTo
        in: query
        description: Transaction amount (whole units), amount should be less than this value
        schema:
          type: integer
          format: int32
      - name: transactionAmountCurrency
        in: query
        description: Transaction amount currency, according to ISO 4217. Required if search amount is available. Example EUR
        schema:
          type: string
      - name: cardNumberLast4
        in: query
        description: Last 4 digits from the cardnumber
        schema:
          type: string
      - name: refundOnly
        in: query
        description: Return refunds only indicator. (0 = return all transactions, 1 = refunds only)
        schema:
          type: string
      - name: sortField
        in: query
        description: 'Sort field

          '
        schema:
          type: string
          enum:
          - TransactionId
          - TransactionDateTime
          - TransactionType
          - Brand
          - TruncatedPan
      - name: sortOrder
        in: query
        description: Sort order
        schema:
          type: string
          enum:
          - Ascending
          - Descending
      - name: pageSize
        in: query
        description: Page size (max 300)
        schema:
          type: string
      - name: pageNumber
        in: query
        description: Page number
        schema:
          type: string
      responses:
        200:
          description: Successful
          headers:
            Link:
              description: Link header for pagination. Only available if there is a next and/or prev page.
              schema:
                type: string
              example: </acquiring/transaction/v2.0/acquirers/abc/contracts/cid/sites/sid/terminals/tid/transactions&pageNumber=3>; rel="next", </acquiring/transaction/v2.0/acquirers/abc/contracts/cid/sites/sid/terminals/tid/transactions&pageNumber=1>; rel="prev"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction_2'
              example:
              - transactionIdentification:
                  transactionId: TDS16172008721825920
                  actionId: 432956ee-6974-42d2-bfdb-878997f21653
                  acquirerReferenceNumber: '11223344662288134679854'
                  merchantReference: trx reference by merchant
                  merchantTransactionReference: DEPRECATED. Not available in v2.1. Please use merchantReference
                  pspReference: string
                  retrievalReferenceNumber: string
                  stan: 12752
                contractIdentification:
                  acquirerId: '315000001'
                  pspId: string
                  holdingId: 200
                  merchantId: '1001'
                  contractId: '10011'
                  cardAcceptorId: '1001'
                  siteId: 100111
                  terminalId: W01AB01
                approvalCode: AB90EF
                brand: MAES
                cardAcceptorNameLocation: Purchase Merchant/ CC \ARNHEM       \NLD
                channel: 1
                contactlessIndicator: 1
                creditDebitIndicator: D
                forwardingInstitutionId: '671734512'
                matStatus: '1'
                merchantCategoryCode: 7000
                paymentFacilitatorId: '10000000000'
                paymentInfo:
                - merchantPaymentId: SO-000000017036619028
                  merchantPaymentAggregationLevelCode: '02'
                  paymentType: '03'
                  paymentDate: '2024-02-21T00:00:00+01:00'
                  paymentCrossReferenceURI: acquiring/payment/v2.0/payments/acquirers/XXX/payment/XXX?paymentDate=YYYY-MM-DD
                paymentProductTypeCode: '2'
                posEntryMode: 79x
                pricePlanTarifId: tarifId
                processingDateTimeScheme: '2024-03-21T15:52:01+01:00'
                region: Netherlands Maestro
                regionCode: '31'
                subMerchantId: '734188'
                terminalBatchReference: '0000000216'
                terminalProtocol: '02'
                transactionDateTime: '2024-03-21T15:52:01+01:00'
                transactionDescription: ''
                transactionFeePricePlanTypeCode: '01'
                transactionLevel: Contract
                transactionStatus: TFEE
                transactionType: Purchase Presentment
                transactionTypeCode: '904'
                truncatedPan: '6731230000000123'
                vatLabel: ''
                result3ds: ''
                version3ds: ''
                cavv: string
                xid: string
                ucaf: string
                mitCause: Unscheduled
                initiatorType: Cardholder
                captureSequenceNumber: 2
                captureSequenceCount: 3
                schemeMerchantId: string
                schemeTransactionId: string
                paymentInitiationChannel: '0'
                transactionAmount:
                  amount: '3.00'
                  currency: EUR
                transactionVatAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionFeeVatAmount:
                  amount: '3.00'
                  currency: EUR
                netAmount:
                  amount: '3.00'
                  currency: EUR
                schemeMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                interchangeFeeAmount:
                  amount: '3.00'
                  currency: EUR
                cashBackAmount:
                  amount: '3.00'
                  currency: EUR
                acquirerMarkupAmount:
                  amount: '3.00'
                  currency: EUR
                merchantTransactionAmount:
                  amount: '3.00'
                  currency: EUR
        400:
          description: Invalid input provided
          content: {}
        401:
          description: Unauthorized
          content: {}
        403:
          description: Forbidden
          content: {}
        404:
          description: Resource not found
          content: {}
        500:
          description: Unexpected error or Internal error
          content: {}
        502:
          description: Backend service problem
          content: {}
    servers:
    - url: /MerchantApiTransaction/api
components:
  schemas:
    InternalServerErrorResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 500
          description: HTTP status code
        statusMessage:
          type: string
          example: Internal server error
          description: Executed REST API status message
      title: InternalServerErrorResponseMetadata
    ResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        links:
          description: Metadata Links
          allOf:
          - $ref: '#/components/schemas/Links'
        statusMessage:
          type: string
          example: Executed successfully
          description: Executed REST API status message
        statusCode:
          type: integer
          format: int32
          example: 200
          description: HTTP status code
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        timeTakenMs:
          type: integer
          format: int64
          example: 12
          description: Wall clock time required from service to generate the response
      title: ResponseMetadata
    DisputeFolderIdentifier:
      type: object
      required:
      - disputeFolderReference
      properties:
        disputeFolderReference:
          type: string
          description: "The Dispute Folder Reference \nPresent if \"Dispute Folder\" creation is successful. \nThe value of this field is constructed by algorithm. Example for IDM4Sempris, it is like this : D-V-6500-1234-1 (D = for Dispute / M = MCI , V= VISA / 6500 = issuerId / 1234 = YDDD = julien date / 1 = the sequence  is constructed under (D-scheme Id- Issuer Id))"
        issuerDisputeExternalReference:
          type: string
          description: The issuer Dispute External Reference, Present if provided in the request.
      title: DisputeFolderIdentifier
    BadRequestErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/BadRequestResponseMetadata'
      title: BadRequestErrorApiResponse
    ECommerceSecurityLevelIndicator:
      type: object
      properties:
        securityProtocol:
          type: string
          description: 'MCI : PDS 0052 s1 - Security Protocol indicates the presence and type of security protocol present in the authorization process.'
        cardHolderAuthentication:
          type: string
          description: 'MCI : PDS 0052 s2 - Cardholder Authentication indicates the type of cardholder authentication used in the authorization process'
        ucafCollectionIndicator:
          type: string
          description: 'MCI : PDS 0052 s3 - UCAF Collection Indicator identifies the level of UCAF supported in the authorization process'
      title: ECommerceSecurityLevelIndicator
    NotFoundErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/NotFoundResponseMetadata'
      title: NotFoundErrorApiResponse
    ForbiddenErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/ForbiddenResponseMetadata'
      title: ForbiddenErrorApiResponse
    NotFoundResponseMetadata:
      type: object
      required:
      - correlationId
      - responseDateTime
      - statusCode
      - statusMessage
      properties:
        correlationId:
          type: string
          description: Correlation Identifier
        responseDateTime:
          type: string
          example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
          description: Timestamp when response date was generated
        statusCode:
          type: integer
          format: int32
          example: 404
          description: HTTP status code
        statusMessage:
          type: string
          example: Not found
          description: Executed REST API status message
      title: NotFoundResponseMetadata
    ApiResponseEntityTransactionDetails:
      x-wl-api-response: true
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          description: Response metadata
          allOf:
          - $ref: '#/components/schemas/ResponseMetadata'
        data:
          description: Response data
          allOf:
          - $ref: '#/components/schemas/TransactionDetails'
      description: Transaction Details entity
      title: ApiResponseEntityTransactionDetails
    CreateDocumentRequest:
      type: object
      required:
      - data
      - type
      - fileName
      properties:
        data:
          type: string
          description: 'The issuer must provide the data of the document in Base64 encoding format that has to be attached to the Dispute Folder.

            The maximum size per document is:

            - 10 Mo for PDF, TIFF or JPEG format (for Visa or Mastercard)

            - 15 Mo for ZIP format (only for Mastercard)'
        type:
          type: string
          description: 'The issuer must provide the document type,  Possible values:

            - ''image/jpeg'':  data of attached document in JPEG format

            - ''image/tiff'':  data of attached document in TIFF format

            - ''application/pdf'':  data of attached document in PDF format

            - ''application/zip'': data of attached document in ZIP format for Mastercard only'
        label:
          type: string
          description: Contains optional label to be displayed on the event generated in the Dispute Folder
        fileName:
          type: string
          description: 'Contains Mandatory File Name of the document to be displayed on the event generated in the Dispute Folder

            Only for a Mastercard operation, the file name must have a maximum lenght of 16 with only alpha and numeric values (no constraint for a VISA operation)'
        documentTypeId:
          type: string
          description: Contains optional document type Id
      title: CreateDocumentRequest
    UnauthorizedErrorApiResponse:
      type: object
      required:
      - responseMetadata
      properties:
        responseMetadata:
          allOf:
          - $ref: '#/components/schemas/UnauthorizedResponseMetadata'
      title: UnauthorizedResponseMetadata
    InterchangeFee:
      type: object
      properties:
        type:
          type: string
          description: 'Indicates the type of the interchange fee Possible value : EXTERNAL (interchange fee coming from the scheme).'
        code:
          type: string
          description: Interchange fee code.
        amount:
          description: Interchange fee amount
          allOf:
          - $ref: '#/components/schemas/Amount'
      title: InterchangeFee
    Dispute:
      type: object
      properties:
        issuerId:
          type: string
          description: Issuer Identifier (unique per platform)
        disputeFolderIdentifier:
          description: Dispute Folder Identifier
          allOf:
          - $ref: '#/components/schemas/DisputeFolderIdentifier'
        events:
          type: array
          description: 'Events attached to the dispute folder.Event can be triggered by our system or  added by the issuer (purpose can to indicate a communication from/to cardholder)

            _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
          items:
            $ref: '#/components/schemas/DisputeEvent'
        postings:
          type: array
          description: "Posted operation on the dispute folder, example : Do a refund towards the cardholder account, \nDo a write-off towards an issuer account (Profit and Loss, Fraud,..), \ndo a Foreign exchange fee, Financial Advice Exchange Rate Difference\n_Embedded property, only filled when available for the endpoint and explicitly requested in the 'embed' query parameter._"
          items:
            $ref: '#/components/schemas/DisputePosting'
        documents:
          type: array
          description: 'Documents added to the dispute folder.

            _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
          items:
            $ref: '#/components/schemas/DisputeDocument'
        messages:
          type: array
          description: 'Messages exchanged with the scheme linked to the dispute folder.

            _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
          items:
            $ref: '#/components/schemas/DisputeMessage'
        acquirerReferenceData:
          type: string
          description: Acquiring Reference Number (ARN) related to the disputed transaction
        transactionType:
          type: string
          description: DEPRECATED
        transactionTime:
          type: string
          format: date-time
          description: Transaction Date and Time on the Merchant site related to the disputed transaction
        transactionAmount:
          description: Transaction Amount (Value/Currency/Currency Exponent) related to the disputed transaction
          allOf:
          - $ref: '#/components/schemas/Amount'
        reconciliationAmount:
          description: Scheme Reconciliation Amount (Value/Currency/Currency Exponent) related to the disputed transaction
          allOf:
          - $ref: '#/components/schemas/Amount'
        billingAmount:
          description: Cardholder Billing Amount (Value/Currency/Currency Exponent) related to the disputed transaction on Cardholder point of view
          allOf:
          - $ref: '#/components/schemas/Amount'
        billingFees:
          description: Cardholder Billing Fees Amount (Value/Currency/Currency Exponent)  associated to the disputed transaction on Cardholder point of view
          allOf:
          - $ref: '#/components/schemas/Amount'
        outstandingBalance:
          description: Cardholder Outstanding balance (Value/Currency/Currency Exponent) associated to the disputed transaction
          allOf:
          - $ref: '#/components/schemas/Amount'
        issuerAccountingBalance:
          description: Issuer Accounting Balance (Value/Currency/Currency Exponent) related to the dispute on issuer point of view
          allOf:
          - $ref: '#/components/schemas/Amount'
        statusCode:
          type: string
          description: Dispute status (open, closed) associated to the Dispute Folder
        reason:
          type: string
          description: Dispute Reason associated to the Dispute Folder
        creationDate:
          type: string
          format: date-time
          description: Date of the Dispute Folder creation
        cardAcceptorName:
          type: string
          description: Merchant Address Name related to the disputed transaction
        cardAcceptorCity:
          type: string
          description: Merchant Address City related to the disputed transaction
        cardAcceptorCountry:
          type: string
          description: Merchant Address Country Code (num-3) related to the disputed transaction
[...]
