swagger: '2.0'
info:
  description: 'The current set of APIs will be available in Q2 2026 on Worldline Global Issuing Platforms.

    Additional APIs are under construction and planned to be available in 2026.'
  version: 2.41.1
  title: Worldline Card Issuing Account - AccountState Contract API
  contact: {}
host: sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing
basePath: /api/v2
schemes:
- https
tags:
- name: Contract
  description: Contract Api Controller
paths:
  /issuers/{issuerId}/contracts/brand-advice:
    post:
      tags:
      - Contract
      summary: Get a brand selection advice (beta)
      operationId: getBrandAdvice
      description: "This API allows getting an advice on which brand to select for a card creation (either first card along new contract, additional card or replacement card). This is applicable for products on which brand selection is configured. \nThe API returns the product extension for the advised card brand"
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/BrandAdviceRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityBrandAdvice'
      security:
      - basic: []
      deprecated: true
  /issuers/{issuerId}/contracts/advise-product-extension:
    post:
      tags:
      - Contract
      summary: Advice a product extension (beta)
      operationId: adviceProductExtension
      description: "This API is used to get the product extension for a card creation depending on the configured algorithm. It can be used for the first card or additional card. \nThe main input fields are:\n- The issuer ID\n- The issuer product external reference for which the advice is requested.\nThe API returns the product extension advised for the card creation."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AdviceProductExtensionRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAdviceProductExtensionResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/brand-advice-config/{issuerProductExternalReference}:
    get:
      tags:
      - Contract
      summary: Retrieve brand advice algorithm configuration by issuer product external reference (beta)
      operationId: retrieveBrandAdviceConfigByIssuerProductExtRef
      description: 'The API allows the brand advice configuration to be retrieved.

        The main input fields are:

        - The issuer ID

        - The issuer product external reference for which the configuration details are requested.'
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerProductExternalReference
        in: path
        description: Issuer Product External Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityBrandAdviceConfig'
      security:
      - basic: []
      deprecated: true
    patch:
      tags:
      - Contract
      summary: Update brand advice algorithm configuration by issuer product external reference (beta)
      operationId: modifyBrandAdviceConfigByIssuerProductExtRef
      description: 'The API allows a list of pre-defined parameters (attributes) of a brand advice configuration to be updated.

        The main input fields are:

        - The issuer ID

        - The issuer product external reference for which configuration updates are required.

        - Parameters to be updated


        The brand advice configuration parameters can be retrieved using the Retrieve brand advice detail API.

        The updated parameters should be consistent with the initial product configuration defined in the system (e.g., the profiles to be updated must exist in the system to be found).'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerProductExternalReference
        in: path
        description: Issuer Product External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyBrandAdviceConfigRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyBrandAdviceConfigResponse'
      security:
      - basic: []
      deprecated: true
  /issuers/{issuerId}/contracts/create-consumer-contract:
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      x-wl-lra-interface: true
      tags:
      - Contract
      summary: Create consumer contract
      description: "The Create Consumer Contract API allows the creation of a new consumer contract already signed by the customer or not, and its first card(s), either with physical support (plastic) or not (virtual card).\n\nPre-conditions: \n- The request correlation ID, if provided by the issuer, must be unique. \nIn case of re-use of a request correlation ID from an existing contract, the system will return the data from the existing contract (e.g., if the API call returns a \"time-out“ response, the same request correlation ID can be provided to retrieve contract data from WL system for further checks).\n Idempotency is managed by the API; that is, if the request with the same WL-Correlation-ID is sent multiple times, it will be executed only once. The response will be retrieved directly from our system.\n- An active consumer product exists with a physical or pure virtual card.\n\nThe issuer can request the creation of a new consumer contract from the provided active consumer product with additional information such as\n- the contract is already signed (status as \"SIGNED\") by the customer or not (status as \"AWAITING_SIGNATURE\")\n- The issuer can provide a list of new customers or the references to existing customers in Worldline system\n\nAs a result, the contract is created\n- with the provided status by the issuer: either the contract is already signed (its account hierarchy is immediately in \"ACTIVE\" status) or not  (its account hierarchy is in \"AWAITING_SIGNATURE\" status)\n- with each card and its status set to created or active, depending on the card product configuration \n- with related card order to produce the physical card, if plastic required and the pin mailer order if required. \n\nThe API response returns newly created contract information such as\n- the new contract itself\n- the different identifiers such as the contract reference, contract owner, account owner, add-on, card contract, card and cardholder. Each identifier is composed of the Worldline internal reference and the external reference (is not present if not provided by the issuer and not generated by any algorithm) \n\nThe references are used to: retrieve/update/close contracts, list accounts for a contract, retrieve the contract owner for a contract, retrieve/update legitimacy documents, etc.. "
      operationId: createConsumerContract
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CreateConsumerContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCreateConsumerContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/{contractReference}/sign:
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      tags:
      - Contract
      summary: Sign Contract
      description: "The API allows to \n- sign a contract, identified by the Issuer Contract external reference or the Contract reference (the contract must be in \"awaiting signature\" status)\n- request to activate all cards within this contract simultaneously\n\nAs a result :\n- the contract is signed\n- the accounts within the contract are activated\n- the cards within the contract are activated if requested\n- the contract can be updated"
      operationId: signContract
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/SignContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntitySignContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/sign:
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      tags:
      - Contract
      summary: Sign Contract by external reference
      description: "The API allows to \n- sign a contract, identified by the Issuer Contract external reference or the Contract reference (the contract must be in \"awaiting signature\" status)\n- request to activate all cards within this contract simultaneously\n\nAs a result :\n- the contract is signed\n- the accounts within the contract are activated\n- the cards within the contract are activated if requested\n- the contract can be updated"
      operationId: signExternalContract
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/SignContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntitySignContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}:
    get:
      tags:
      - Contract
      summary: Retrieve contract by external reference
      operationId: retrieveContractByIssuerExtRef
      description: 'This API allows retrieving a particular contract from its reference or its issuer external reference.

        The API response contains contract information such as:

        - contract identifier with the contract reference and the issuer external contract reference if previously provided

        - product change information if any, such as its current status (scheduled, done, cancelled), new product, new contract if it exists

        - embedded fields if requested such as list of all customers or identifiers  linked to this contract (e.g. contract owner, root account owner, cardholder(s)), card contracts'
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: relatedResourceIdentifiersOnly
        in: query
        description: "If relatedResourceIdentifiersOnly is true, the API returns only identifiers related to the embedded resources (for example, if embedded fields cardContracts.cards are requested and relatedResourceIdentifiersOnly is true, only cardContractIdentifier in CardContract and cardIdentifier in Card will be returned). \nIf relatedResourceIdentifiersOnly is false, the API returns all resource information (for example, if embedded fields cardContracts.cards are requested and relatedResourceIdentifiersOnly is false, all information in CardContract and all information in Card will be returned).\nBy default, relatedResourceIdentifiersOnly is false."
        required: false
        default: false
        type: boolean
      - name: relatedResourceBaseInfoOnly
        in: query
        description: 'relatedResourceBaseInfoOnly (cannot be used with relatedResourceIdentifiersOnly):<br/><br/>If relatedResourceBaseInfoOnly is true, the API returns only main information related to the embedded resources (for example, if embedded fields accounts and cardContracts are requested and relatedResourceBaseInfoOnly is true, only main information of Account and Card Contract will be returned).<br/><br/>The main information is as follows :<br/><br/>- For Account: accountIdentifier, root, status, accountOwnerIdentifier and accountGuarantorIdentifier<br/>- For Card Contract: cardContractIdentifier, cardHolderIdentifier and status<br/>- For Card: cardIdentifier, pan, maskedPan, expiryDate, panSequenceNumber, status, externalStatus, panReference and blockingReason<br/>- For Customer: customerIdentifier, courtesyTitle, firstName and lastName<br/><br/>If relatedResourceBaseInfoOnly is false, the API returns all resource information (for example, if embedded fields accounts and cardContracts are requested and relatedResourceBaseInfoOnly is false, all information in Account and all information in CardContract will be returned).<br/><br/>By default, relatedResourceBaseInfoOnly is false.'
        required: false
        default: false
        type: boolean
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - advertisementFlags
          - deliveryChannel
          - legitimacyDocuments
          - contractFees
          - accountIdentifiers
          - accounts
          - cardContractIdentifiers
          - cardContracts
          - dataAnalysisFlags
          - contractCustomerIdentifiers
          - contractCustomers
          - addonSubscriptions
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityContract'
      security:
      - basic: []
      deprecated: false
    patch:
      tags:
      - Contract
      summary: Update contract by external reference
      operationId: modifyContractByIssuerExtRef
      description: 'The API allows to update certain data of an existing consumer contract, identified by the Issuer Contract external reference or the Contract reference :

        - allowed advertisement channels (flags)

        - allowed data analysis

        - the issuer branch code (e.g. bank agency in charge of this contract)

        - allowed delivery channel for possible letters

        - if the membership fee should be reimbursed when a card contract is closed

        - how many cards should free of membership fee and/or account setup fee

        - if the primary card should be considered as the first to be free for membership/account setup fees or if only additional cards should be considered

        - if both membership and account setup fees should be waived during contract lifecycle (can be changed at any moment)

        - the membership fee anniversary date can be changed

        - pass-through data can be updated (specificFields)


        As a result the contract is immediately updated with provided data in our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/accounts:
    get:
      tags:
      - Contract
      summary: List accounts for contract by external reference
      operationId: listAccountsForContractByIssuerExtRef
      description: 'The API allows the list of accounts for a contract, identified by the Issuer Contract external reference or the Contract reference, to be retrieved. '
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - hierarchyOperationStatusHistory
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListAccount'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/addon-subscriptions:
    get:
      tags:
      - Contract
      summary: Retrieve the list of add-on services by external reference
      operationId: listAddonsSubscriptionsForContractByIssuerExtRef
      description: "The API allows the list of additional service subscriptions (e.g. new letter, travel insurance) for the contract to be retrieved.\n\nThe main input fields requested by the API are:\n• The issuer ID\n• The contract for which the add-on subscriptions are requested: It can be provided by using the contract reference or the issuer external contract reference\n\nThe API response contains add-on subscription information such as:\n•\tThe reference of the additional service subscription\n•\tThe service type reference\n•\tThe card contract or the account on which the subscription has been done\n•\tThe date of subscription to the add-on service\n•\tThe list of add-on service parameters if any"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListAddonSubscription'
      security:
      - basic: []
      deprecated: false
    post:
      x-wl-lra-operation: true
      tags:
      - Contract
      summary: Subscribe to add-on by external reference
      operationId: createAddOnSubscriptionByIssuerExtRef
      description: "The API allows a cardholder to subscribe to an additional service (e.g. new letter, travel insurance) for the contract during all contract life cycle.\nThe list of allowed additional services are defined on the product (e.g. PORTAL_ACCESS, ALERT, NOTIFICATION).\n\nThe main input fields requested by the API are:\n• The issuer ID\n• The contract for which the add-on subscription is requested: It can be provided by using the contract reference or the issuer external contract reference\n• The identifier of the entity for which the add-on subscription is requested: Either the card contract by providing the card contract reference or the issuer external card contract reference, \n  OR the account by providing the account reference or the issuer external account reference\n• The corresponding reference of the additional service\n• The service type reference defined at product level\nDepending on the service type, the issuer can add additional parameters to the add-on service.\n\nAs a result:\n- The new add-on subscription for the contract is available and can be unsubscribed during all contract life cycle\n- A fee can be generated and posted to the cardholder account if required for the product."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CreateAddOnSubscriptionRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCreateAddOnSubscriptionResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/addon-subscriptions/unsubscribe:
    post:
      x-wl-lra-operation: true
      tags:
      - Contract
      summary: Unsubscribe add-on by external reference
      operationId: removeAddOnSubscriptionByIssuerExtRef
      description: "The API allows a cardholder to unsubscribe from an additional service (e.g. new letter, travel insurance) for the contract during all contract life cycle.\n\nThe main input fields requested by the API are:\n• The issuer ID\n• The contract for which the add-on unsubscription is requested: It can be provided by using the contract reference or the issuer external contract reference\n• The identifier of the entity for which the add-on subscription is requested: Either the card contract by providing the card contract reference or the issuer external card contract reference, \n  OR the account by providing the account reference or the issuer external account reference\n• The reference of the additional service\n• The service type reference \n\nAs a result, the existing add-on subscription for the contract is no longer available."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/RemoveAddOnSubscriptionRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityRemoveAddOnSubscriptionResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/add-cards-accounts:
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      tags:
      - Contract
      summary: Add cards and accounts to a contract by external reference
      description: "This API allows an issuer to add a new card (debit, credit, prepaid, either physical or virtual), a new account to an existing contract, together or independantly, from a product extension among those allowed by the product used to instantiate the contract. \n\nThis product extension is usually composed of both card and account products, but can be composed of a card or several cards only, or of one or several accounts only or combination of both cards and accounts. It leads to create a new card and a new card account within the the contract (multiple contents of product extensions can be configured depending on issuer's needs)\n\nThe new card account is in most of the cases attached to the root account of the hierarchy (default behaviour) but the issuer can provide its parent account if it is not the root (complex account hierarchy with more than 2 account levels).\nThe issuer shall provide required data for each account and card contract/card if required (depends on product extension configuration).\n\nThe issuer can provide \n- a list of new customers or the references to existing customers in Worldline system\n- the legitimacy document(s) per customer\n- different membership fee and account setup fee (contract fees) if needed per account\n\nThe issuer can choose to receive in response for the extended/updated contract new resources created only or all resources (e.g. already existing accounts, card contracts, cards).\n\nIn case it is configured that adding additional card and account should trigger a product change, and there is an already scheduled product change, then the product change will be initiated and the new card and account will be created in the new contract.\n\nThe API response returns the extended contract with information related to account(s), card contract(s) and card(s) (limited to newly created account(s) and card contract(s)/card(s) if requested)."
      operationId: addCardsAccountsByIssuerExtRef
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: newResourcesOnly
        in: query
        description: 'If newResourcesOnly is true, the API returns only information related to new resources.

          If newResourcesOnly is false, the API returns all contract information.

          By default, newResourcesOnly is false.'
        required: false
        default: false
        type: boolean
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AddCardsAccountsRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAddCardsAccountsResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/card-contracts:
    get:
      tags:
      - Contract
      summary: List card contracts for contract by external reference
      operationId: listCardContractsForContractByIssuerExtRef
      description: 'The API allows the list of card contract linked to a contract, identified by the Issuer Contract external reference or the Contract reference, to be retrieved. '
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListCardContract'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/close:
    post:
      tags:
      - Contract
      summary: Close contract by external reference
      operationId: closeContractByIssuerExtRef
      description: "The API allows to close a contract identified by the Issuer Contract external reference or the Contract reference. \nThe contract can be closed immediately or in the future at a date provided by the issuer or at the card expiry date. \nThe contract must not be closed or awaiting signature.\n\nAs a result,\nFor immediate closure :\nThe contract is closed, the cards within the contract are deactivated, the closing is triggered for the accounts.\n\nFor scheduled closure :\nThe contract is not changed until the closing date is reached.\nOnce the closing date is reached, the contract is closed, the cards within the contract are deactivated, the closing is triggered for the accounts."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CloseContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCloseContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/update-all-customers-addresses:
    post:
      x-wl-lra-operation: true
      tags:
      - Contract
      summary: Update addresses of all customers linked to the contract by external reference
      operationId: updateAllCustomersAddressesByIssuerExtRef
      description: "This API is used to update all members of a given contract with same provided addresses (including address usages).\nE.g. for Contract A, contract owner, cardholders 1 and 2 are updated simultaneously with the same Main postal address data.\n\nThis API is used also: \n- to invalidate a particular address of all members of a contract by setting the flag \"invalid\" to True and providing only the address label and the address type (limited to address type as postalAddress). All the other data are ignored.\n- or to provide a valid address for all contract members by setting the flag \"invalid\" to False (default value) and providing the address label, the address type and the valid address (limited to address type as postalAddress)’\n\nEach provided address must have \n- an addressLabel among the ones configured such as MAIN_POSTAL_ADDRESS \n- an address type to indicate whether it a postal, an e-mail or a phone number \n- the address itself depending on its type: MailAddress, EmailAddress or PhoneNumber \nEach provided address can have :\n- none, 1,... N address usages. Such address usages can be used to retrieve the address related to a business process (e.g. CARD_DELIVERY used to identify the address to be used to send the card to the cardholder).\n- startDate: this is the date when the provided address becomes valid. If not provided this is by default the current date."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyContractCustomersAddressesRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyContractCustomersAddressesResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/suspend:
    post:
      tags:
      - Contract
      summary: Suspend contract by external reference
      operationId: suspendContractByIssuerExtRef
      description: 'The API allows a contract, identified by the Issuer Contract external reference or the Contract reference, to be suspended.

        It is possible to indicate whether membership/account setup fees must be partially reimbursed with the contract suspension.


        The contract suspension has the following effects:

        - the contract closure is scheduled according a delay configurable at issuer level

        - Immediate temporary card blocking

        - Renewal and replacement of all cards blocking

        - Account Setup Fee (AS-Fee) and Membership Fee (MF) are suppressed.

        - An Outgoing Credit Transfer (OCT) is automatically generated if the account has a credit balance.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/SuspendContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntitySuspendContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/cancel-close:
    post:
      tags:
      - Contract
      summary: Cancel contract Closing by external reference
      operationId: cancelContractClosingByIssuerExtRef
      description: "This API enables to cancel a contract closing with a scheduled date in the future. \nThe main input fields are:\n- The issuer ID\n- The issuer contract external reference or the contract reference\nAs a result, no closing date is planned anymore for the contract."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCancelContractClosingResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/cancel-suspend:
    post:
      tags:
      - Contract
      summary: Cancel contract Suspension by external reference
      operationId: cancelContractSuspensionByIssuerExtRef
      description: "As long as the closure date is not reached, contract suspension can be removed.\nThe contract suspension cancellation has the following effects: \n- The scheduled contract closure date is removed\n- Renewal is unblocked\n- Replacement is unblocked\n- Cards linked to the contract are unblocked\n\nThe API allows a contract suspension process to be cancelled. \nThe contract is identified by the Issuer Contract external reference or the Contract reference,"
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCancelContractSuspensionResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/contract-fees:
    get:
      tags:
      - Contract
      summary: List contract fees for a contract (Membership fee and Account setup fee models) by external reference
      operationId: listContractFeesByIssuerExtRef
      description: "The API allows the list of contract fees linked to a contract, identified by the Issuer Contract external reference or the Contract reference, to be retrieved. \n\nIn response, the model references are provided for each account part of the contract."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListContractFee'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/contract-fees/{accountReference}:
    patch:
      tags:
      - Contract
      summary: Update contract fees for an account (Membership fee and Account setup fee models) by contract external reference
      operationId: modifyContractFeeByContractIssExtRef
      description: 'This API enables the contract fees (Membership fee and account set-up fee) to be updated for a given contract and given card account in the contract.

        This is done by providing in input the new model reference and the type to be used.

        This model has to be configured previously for the product.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: accountReference
        in: path
        description: Account Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyContractFeeRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModifyContractFeeResponse'
      security:
      - basic: []
      deprecated: false
  ? /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/contract-fees/external-accounts/{issuerAccountExternalReference}
  : patch:
      tags:
      - Contract
      summary: Update contract fees for an account (Membership fee and Account setup fee models) by contract external reference and account external reference
      operationId: modifyContractFeeByContractAndAccountIssExtRef
      description: 'This API enables the contract fees (Membership fee and account set-up fee) to be updated for a given contract and given card account in the contract.

        This is done by providing in input the new model reference and the type to be used.

        This model has to be configured previously for the product.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: issuerAccountExternalReference
        in: path
        description: Issuer Account External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyContractFeeRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ModifyContractFeeResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/contract-owner:
    get:
      tags:
      - Contract
      summary: Retrieve contract owner for a contract by external reference
      operationId: retrieveContractOwnerByIssuerExtRef
      description: This API allows the contract owner for a contract identified by the Issuer Contract external reference or the Contract reference, to be retrieved.
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - addressIdentifiers
          - addresses
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCustomer'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/legitimacy-documents:
    get:
      tags:
      - Contract
      summary: List legitimacy documents for a contract by external reference
      operationId: listLegitimacyDocumentsByIssuerExtRef
      description: "Legitimacy documents correspond to documents that prove the identity of a customer (pass ID, national card ID)\nThe document type, The document ID, the expiry date of the document, its issuing date can be stored in our system.\nThis API is used to get the customers legitimacy documents of a contract.\n\nThe input parameters are: \n- the contract reference for which information is requested: It can be provided by using the contract reference or the issuer external contract reference."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListLegitimacyDocuments'
      security:
      - basic: []
      deprecated: false
  ? /issuers/{issuerId}/contracts/external-contracts/{issuerContractExternalReference}/legitimacy-documents/external-customers/{issuerCustomerExternalReference}
  : put:
      tags:
      - Contract
      summary: Update legitimacy document of a contract customer by contract external reference and customer external reference
      operationId: modifyLegitimacyDocumentByIssuerExtRef
      description: "This API is used to update the customers legitimacy documents of a contract.\nThe input parameters are: \n- the contract reference and the customer reference for which information must be updated.\n\nThey can be provided by using the internal references or the issuer external references:\n- contract reference and customer reference\nor\n- issuer contract external reference and issuer customer external reference"
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerContractExternalReference
        in: path
        description: Issuer Contract External Reference
        required: true
        type: string
      - name: issuerCustomerExternalReference
        in: path
        description: Issuer Customer External Reference
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ModifyLegitimacyDocumentRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyLegitimacyDocumentResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/search:
    post:
      tags:
      - Contract
      summary: Retrieve contracts by criteria
      operationId: searchContract
      description: "This API can be used but it will no longer evolve. It is recommended to use the Global Search for Contracts API (POST /search-contracts), which has the same functionality and also allows searching from an issuer and optionally with sub-issuers or searching from a list of issuers.\n\nThe API provides possibility to retreive a list of consumer contracts for an issuer, based on certain criteria. \n\nOne of the following criteria for searching must be provided:\n- either account's criteria\n- or customer's criteria\n- or card's criteria\n\nFor searching with account's criteria, only one of the following data must be provided :\n•\tIBAN \n•\tor account identifier : either account reference or issuer account external reference\n•\tor account membership number1\n•\tor account membership number 2 \n\nFor searching with customer's criteria, only one of the following data must be provided :\n•\tCustomer Attributes with last name and first name (and optionally with birth date, postal address : postal code, street name and/or building number, phonetic criteria : phonetic search and/or phonetic algorithm)\n•\tor customer identifier : either customer reference or issuer customer external reference\n•\tor partner external reference\n\nFor searching with card's criteria, only one of the following data must be provided :\n•\tPAN\n•\tor card contract identifier : either card contract reference or issuer card contract external reference\n•\tor card identifier : either card reference or issuer card external reference\n\nIf requested, the API input parameters allows also to:\n* limit the list of returned cards per card contract to either the latest card only or all previous cards\n* return the direct parent account in the hierarchy of the account and/or the list of child accounts of the account matching the criteria if the research is based on account's criteria\n* request to enrich the response with additional data relative to the accounts, the card contracts, the cards and the customers by using embedded fields\n\nThe API response contains all matched contracts and for each returned contract some information is provided such as\n- contract identifier with the contract reference, the issuer external contract reference if originally provided\n- product change information if any, such as its current status, new product, new contract if it exists\n- embedded fields if requested such as list of all customers or identifiers linked to this contract (e.g. contract owner, root account owner, cardholder(s)), accounts and account identifiers, card contracts, cards"
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: embed
        in: query
        description: "Embedded Fields. \n Intermediate embed properties doesn't need to be provided if sub property already requested (For example :  When requesting 'cards.statusHistory' there is no need to also request 'cardContracts' and 'cardContracts.cards', it will be done automatically."
        required: false
        type: array
        items:
          type: string
          enum:
          - advertisementFlags
          - deliveryChannel
          - legitimacyDocuments
          - contractFees
          - accountIdentifiers
          - accounts
          - accounts.selectedModels
          - cardContractIdentifiers
          - cardContracts
          - cardContracts.cards
          - dataAnalysisFlags
          - contractCustomerIdentifiers
          - contractCustomers
          - addonSubscriptions
          - contractCustomers.addresses
          - cardContracts.relatedAccounts
          - cardContracts.selectedModels
          - cardContracts.cardIdentifiers
          - cards.statusHistory
          - cards.renewedBy
          - cards.renewedFor
          - cards.replacementBy
          - cards.replacementFor
          - cards.orderIdentifiers
          - cards.orders
        collectionFormat: multi
      - name: page
        in: query
        description: '0'
        required: false
        type: integer
        default: 0
        format: int32
      - name: offset
        in: query
        description: '10'
        required: false
        type: integer
        default: 10
        format: int32
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/SearchContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListContract'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/{contractReference}:
    get:
      tags:
      - Contract
      summary: Retrieve contract
      operationId: retrieveContract
      description: 'This API allows retrieving a particular contract from its reference or its issuer external reference.

        The API response contains contract information such as:

        - contract identifier with the contract reference and the issuer external contract reference if previously provided

        - product change information if any, such as its current status (scheduled, done, cancelled), new product, new contract if it exists

        - embedded fields if requested such as list of all customers or identifiers  linked to this contract (e.g. contract owner, root account owner, cardholder(s)), card contracts'
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: relatedResourceIdentifiersOnly
        in: query
        description: "If relatedResourceIdentifiersOnly is true, the API returns only identifiers related to the embedded resources (for example, if embedded fields cardContracts.cards are requested and relatedResourceIdentifiersOnly is true, only cardContractIdentifier in CardContract and cardIdentifier in Card will be returned). \nIf relatedResourceIdentifiersOnly is false, the API returns all resource information (for example, if embedded fields cardContracts.cards are requested and relatedResourceIdentifiersOnly is false, all information in CardContract and all information in Card will be returned).\nBy defalut, relatedResourceIdentifiersOnly is false."
        required: false
        default: false
        type: boolean
      - name: relatedResourceBaseInfoOnly
        in: query
        description: 'relatedResourceBaseInfoOnly (cannot be used with relatedResourceIdentifiersOnly):<br/><br/>If relatedResourceBaseInfoOnly is true, the API returns only main information related to the embedded resources (for example, if embedded fields accounts and cardContracts are requested and relatedResourceBaseInfoOnly is true, only main information of Account and Card Contract will be returned).<br/><br/>The main information is as follows :<br/><br/>- For Account: accountIdentifier, root, status, accountOwnerIdentifier and accountGuarantorIdentifier<br/>- For Card Contract: cardContractIdentifier, cardHolderIdentifier and status<br/>- For Card: cardIdentifier, pan, maskedPan, expiryDate, panSequenceNumber, status, externalStatus, panReference and blockingReason<br/>- For Customer: customerIdentifier, courtesyTitle, firstName and lastName<br/><br/>If relatedResourceBaseInfoOnly is false, the API returns all resource information (for example, if embedded fields accounts and cardContracts are requested and relatedResourceBaseInfoOnly is false, all information in Account and all information in CardContract will be returned).<br/><br/>By default, relatedResourceBaseInfoOnly is false.'
        required: false
        default: false
        type: boolean
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - advertisementFlags
          - deliveryChannel
          - legitimacyDocuments
          - contractFees
          - accountIdentifiers
          - accounts
          - cardContractIdentifiers
          - cardContracts
          - dataAnalysisFlags
          - contractCustomerIdentifiers
          - contractCustomers
          - addonSubscriptions
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityContract'
      security:
      - basic: []
      deprecated: false
    patch:
      tags:
      - Contract
      summary: Update contract
      operationId: modifyContract
      description: 'The API allows to update certain data of an existing consumer contract, identified by the Issuer Contract external reference or the Contract reference :

        - allowed advertisement channels (flags)

        - allowed data analysis

        - the issuer branch code (e.g. bank agency in charge of this contract)

        - allowed delivery channel for possible letters

        - if the membership fee should be reimbursed when a card contract is closed

        - how many cards should free of membership fee and/or account setup fee

        - if the primary card should be considered as the first to be free for membership/account setup fees or if only additional cards should be considered

        - if both membership and account setup fees should be waived during contract lifecycle (can be changed at any moment)

        - the membership fee anniversary date can be changed

        - pass-through data can be updated (specificFields)


        As a result the contract is immediately updated with provided data in our system.'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/{contractReference}/accounts:
    get:
      tags:
      - Contract
      summary: List accounts for contract
      operationId: listAccountsForContract
      description: 'The API allows the list of accounts for a contract, identified by the Issuer Contract external reference or the Contract reference, to be retrieved. '
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - hierarchyOperationStatusHistory
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListAccount'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/{contractReference}/add-cards-accounts:
    post:
      x-wl-idempotent: true
      x-wl-lra-operation: true
      tags:
      - Contract
      summary: Add cards and accounts to a contract
      description: "This API allows an issuer to add a new card (debit, credit, prepaid, either physical or virtual), a new account to an existing contract, together or independently, from a product extension among those allowed by the product used to instantiate the contract. \n\nThis product extension is usually composed of both card and account products, but can be composed of a card or several cards only, or of one or several accounts only or combination of both cards and accounts. It leads to create a new card and a new card account within the the contract (multiple contents of product extensions can be configured depending on issuer's needs)\n\nThe new card account is in most of the cases attached to the root account of the hierarchy (default behaviour) but the issuer can provide its parent account if it is not the root (complex account hierarchy with more than 2 account levels).\nThe issuer shall provide required data for each account and card contract/card if required (depends on product extension configuration).\n\nThe issuer can provide \n- a list of new customers or the references to existing customers in Worldline system\n- the legitimacy document(s) per customer\n- different membership fee and account setup fee (contract fees) if needed per account\n\nThe issuer can choose to receive in response for the extended/updated contract new resources created only or all resources (e.g. already existing accounts, card contracts, cards).\n\nIn case it is configured that adding additional card and account should trigger a product change, and there is an already scheduled product change, then the product change will be initiated and the new card and account will be created in the new contract.\n\nThe API response returns the extended contract with information related to account(s), card contract(s) and card(s) (limited to newly created account(s) and card contract(s)/card(s) if requested)."
      operationId: addCardsAccounts
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
        required: true
        type: string
      - name: newResourcesOnly
        in: query
        description: 'If newResourcesOnly is true, the API returns only information related to new resources.

          If newResourcesOnly is false, the API returns all contract information.

          By default, newResourcesOnly is false.'
        required: false
        default: false
        type: boolean
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AddCardsAccountsRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityAddCardsAccountsResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/contracts/{contractReference}/addon-subscriptions:
    get:
      tags:
      - Contract
      summary: Retrieve the list of add-on services
      operationId: listAddonsSubscriptionsForContract
      description: "The API allows the list of additional service subscriptions (e.g. new letter, travel insurance) for the contract to be retrieved.\n\nThe main input fields requested by the API are:\n• The issuer ID\n• The contract for which the add-on subscriptions are requested: It can be provided by using the contract reference or the issuer external contract reference\n\nThe API response contains add-on subscription information such as:\n•\tThe reference of the additional service subscription\n•\tThe service type reference\n•\tThe card contract or the account on which the subscription has been done\n•\tThe date of subscription to the add-on service\n•\tThe list of add-on service parameters if any"
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: contractReference
        in: path
        description: Contract Reference
[...]
