openapi: 3.2.0
info:
  title: Worldline FIDO server Relying Party Resource API
  version: 1.0.0
  contact:
    email: dl-ita-fido-server-sm@worldline.com
servers:
- url: https://fido.worldline-solutions.com
tags:
- name: Relying Party Resource
paths:
  /v1.0/admin/relying-parties:
    post:
      summary: Create RP
      tags:
      - Relying Party Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelyingPartyDTO'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '401':
          description: Not Authorized
        '403':
          description: Not Allowed
      security:
      - SecurityScheme: []
  /v1.0/admin/relying-parties/{id}/origins:
    patch:
      summary: Declare RP origins
      tags:
      - Relying Party Resource
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/UUID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OriginDTO'
      responses:
        '204':
          description: No Content
        '401':
          description: Not Authorized
        '403':
          description: Not Allowed
      security:
      - SecurityScheme: []
components:
  schemas:
    RelyingPartyDTO:
      required:
      - id
      - name
      type: object
      properties:
        id:
          minLength: 1
          type: string
        name:
          minLength: 1
          type: string
    OriginDTO:
      required:
      - origin
      type: object
      properties:
        origin:
          minLength: 1
          type: string
    UUID:
      format: uuid
      pattern: '[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}'
      type: string
