swagger: '2.0'
info:
  description: 'The current set of APIs will be available in Q2 2026 on Worldline Global Issuing Platforms.

    Additional APIs are under construction and planned to be available in 2026.'
  version: 2.41.1
  title: Worldline Card Issuing Account - AccountState Message - Subscription Event API
  contact: {}
host: sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing
basePath: /api/v2
schemes:
- https
tags:
- name: Message - Subscription Event
  description: Message Subscription Event Api Controller
paths:
  /issuers/{issuerId}/subscriptions/{subscriptionReference}/services/{subscriptionServiceReference}/events:
    get:
      tags:
      - Message - Subscription Event
      summary: Retrieve subscription events by subscription service reference
      operationId: getSubscriptionEventsBySubscriptionServiceReference
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        type: string
      - name: subscriptionServiceReference
        in: path
        description: Reference of the subscription service
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntitySubscriptionEvents'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
    post:
      tags:
      - Message - Subscription Event
      summary: Create new event subscription
      operationId: createSubscriptionEvent
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        type: string
      - in: body
        name: subscriptionEvent
        description: subscriptionEvent
        required: true
        schema:
          $ref: '#/definitions/SubscriptionEvent'
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        type: string
      - name: subscriptionServiceReference
        in: path
        description: Reference of the subscription service
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCreateSubscriptionEvent'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
  ? /issuers/{issuerId}/subscriptions/{subscriptionReference}/services/{subscriptionServiceReference}/events/{subscriptionEventReference}
  : get:
      tags:
      - Message - Subscription Event
      summary: Retrieve event for a subscription service
      operationId: getSubscriptionEventByReference
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        type: string
      - name: subscriptionEventReference
        in: path
        description: Reference of the subscription event
        required: true
        type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        type: string
      - name: subscriptionServiceReference
        in: path
        description: Reference of the subscription service
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntitySubscriptionEvent'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
    put:
      tags:
      - Message - Subscription Event
      summary: Modify subscription event by reference
      operationId: modifySubscriptionEventByReference
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        type: string
      - in: body
        name: subscriptionEvent
        description: subscriptionEvent
        required: true
        schema:
          $ref: '#/definitions/SubscriptionEvent'
      - name: subscriptionEventReference
        in: path
        description: Reference of the subscription event
        required: true
        type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        type: string
      - name: subscriptionServiceReference
        in: path
        description: Reference of the subscription service
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifySubscriptionEvent'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
    delete:
      tags:
      - Message - Subscription Event
      summary: Delete subscription event by reference
      operationId: deleteSubscriptionEventByReference
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        description: WL-Correlation-ID
        required: false
        type: string
      - name: issuerId
        in: path
        description: Id of the issuing bank
        required: true
        type: string
      - name: subscriptionEventReference
        in: path
        description: Reference of the subscription event
        required: true
        type: string
      - name: subscriptionReference
        in: path
        description: Reference of the subscription
        required: true
        type: string
      - name: subscriptionServiceReference
        in: path
        description: Reference of the subscription service
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityDeleteSubscriptionEvent'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedResponseMetadata'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
definitions:
  NotFoundErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/NotFoundResponseMetadata'
    title: NotFoundErrorApiResponse
  BadGatewayErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/BadGatewayResponseMetadata'
    title: BadGatewayErrorApiResponse
  ApiResponseEntitySubscriptionEvent:
    type: object
    required:
    - responseMetadata
    properties:
      data:
        $ref: '#/definitions/SubscriptionEvent'
      responseMetadata:
        $ref: '#/definitions/ResponseMetadata'
    title: ApiResponseEntitySubscriptionEvent
    description: Issuer response entity
  InternalServerErrorErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/InternalServerErrorResponseMetadata'
    title: InternalServerErrorErrorApiResponse
  InternalServerErrorResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 500
        description: HTTP status code
      statusMessage:
        type: string
        example: Internal server error
        description: Executed REST API status message
    title: InternalServerErrorResponseMetadata
  ApiResponseEntitySubscriptionEvents:
    type: object
    required:
    - responseMetadata
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/SubscriptionEvent'
      responseMetadata:
        $ref: '#/definitions/ResponseMetadata'
    title: ApiResponseEntitySubscriptionEvents
    description: Issuer response entity
  Links:
    type: object
    required:
    - self
    properties:
      self:
        type: string
        example: /x/{x}?x=x
        description: Service method URL
      next:
        type: string
        example: /x/{x}?page[offset]=2
        description: URL pagination query parameter next page
    title: Links
  ApiResponseEntityDeleteSubscriptionEvent:
    type: object
    required:
    - responseMetadata
    properties:
      data:
        $ref: '#/definitions/SubscriptionEventResponse'
      responseMetadata:
        $ref: '#/definitions/ResponseMetadata'
    title: ApiResponseEntityDeleteSubscriptionEvent
    description: Issuer response entity
  UnauthorizedResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 401
        description: HTTP status code
      statusMessage:
        type: string
        example: Unauthorized
        description: Executed REST API status message
    title: UnauthorizedResponseMetadata
  SubscriptionEvent:
    type: object
    required:
    - eventName
    properties:
      eventName:
        type: string
        example: XX_Approve_FO
      externalReference:
        type: string
        description: Optional external event identifier
      parameters:
        type: array
        description: Optional list of parameters to customize the criteria values for events
        items:
          $ref: '#/definitions/SubscriptionParameter'
      subscriptionEventIdentifier:
        $ref: '#/definitions/SubscriptionEventIdentifier'
    title: SubscriptionEvent
  ResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      links:
        description: Metadata Links
        allOf:
        - $ref: '#/definitions/Links'
      statusMessage:
        type: string
        example: Executed successfully
        description: Executed REST API status message
      statusCode:
        type: integer
        format: int32
        example: 200
        description: HTTP status code
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      timeTakenMs:
        type: integer
        format: int64
        example: 12
        description: Wall clock time required from service to generate the response
    title: ResponseMetadata
  NotFoundResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 404
        description: HTTP status code
      statusMessage:
        type: string
        example: Not found
        description: Executed REST API status message
    title: NotFoundResponseMetadata
  ApiResponseEntityCreateSubscriptionEvent:
    type: object
    required:
    - responseMetadata
    properties:
      data:
        $ref: '#/definitions/SubscriptionEventResponse'
      responseMetadata:
        $ref: '#/definitions/ResponseMetadata'
    title: ApiResponseEntityCreateSubscriptionEvent
    description: Issuer response entity
  ApiResponseEntityModifySubscriptionEvent:
    type: object
    required:
    - responseMetadata
    properties:
      data:
        $ref: '#/definitions/SubscriptionEventResponse'
      responseMetadata:
        $ref: '#/definitions/ResponseMetadata'
    title: ApiResponseEntityModifySubscriptionEvent
    description: Issuer response entity
  ForbiddenErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/ForbiddenResponseMetadata'
    title: ForbiddenErrorApiResponse
  SubscriptionEventResponse:
    type: object
    properties:
      subscriptionIdentifier:
        $ref: '#/definitions/SubscriptionEventIdentifier'
    title: SubscriptionEventResponse
  BadRequestResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 400
        description: HTTP status code
      statusMessage:
        type: string
        example: Bad request
        description: Executed REST API status message
    title: BadRequestResponseMetadata
  SubscriptionParameter:
    type: object
    required:
    - criteria
    - value
    properties:
      criteria:
        type: string
      value:
        type: string
    title: SubscriptionParameter
  SubscriptionEventIdentifier:
    type: object
    properties:
      subscriptionEventReference:
        type: string
    title: SubscriptionEventIdentifier
  BadGatewayResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 502
        description: HTTP status code
      statusMessage:
        type: string
        example: Bad Gateway
        description: Executed REST API status message
    title: BadGatewayResponseMetadata
  BadRequestErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/BadRequestResponseMetadata'
    title: BadRequestErrorApiResponse
  ForbiddenResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 403
        description: HTTP status code
      statusMessage:
        type: string
        example: Forbidden
        description: Executed REST API status message
    title: ForbiddenResponseMetadata
securityDefinitions:
  basic:
    type: oauth2
    flow: application
    tokenUrl: https://sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/token
