swagger: '2.0'
info:
  description: 'The current set of APIs will be available in Q2 2026 on Worldline Global Issuing Platforms.

    Additional APIs are under construction and planned to be available in 2026.'
  version: 2.41.1
  title: Worldline Card Issuing Account - AccountState Card Contract API
  contact: {}
host: sbx-wlip.api1-eu2.psapigateway.preprod.giservices.io/card-issuing
basePath: /api/v2
schemes:
- https
tags:
- name: Card Contract
  description: Card Contract Api Controller
paths:
  /issuers/{issuerId}/card-contracts:
    get:
      tags:
      - Card Contract
      summary: List card contracts
      operationId: listCardContractsByGroupReference
      description: 'The API allows the list of card contracts to be retrieved which have the same card contract group reference.

        The main input fields are:

        - The issuer ID

        - The group reference of the card contract for which the detail is requested:


        It is also possible to request some additional data by using the embedded fields.


        In return, the interface provides the generic information (mainly master data) relevant to the card contract.'
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: cardContractGroupReference
        in: query
        description: group reference of the Card Contract
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - cards
          - selectedModels
          - cardIdentifiers
          - relatedAccounts
          - cards.orders
          - cards.statusHistory
          - cards.replacementFor
          - cards.renewedFor
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListCardContract'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/external-card-contracts/{issuerCardContractExternalReference}:
    get:
      tags:
      - Card Contract
      summary: Retrieve card contract by external reference
      operationId: retrieveCardContractByIssuerExtRef
      description: "The API allows the card contract details to be retrieved. \nThe main input fields are:\n- The issuer ID\n- The card contract for which the detail is requested: It can be provided by using the card contract reference or the issuer card contract external reference. \n\nIt is also possible to request some additional data by using the embedded fields.\n\nIn return, the interface provides the generic information (mainly master data) relevant to the card contract."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerCardContractExternalReference
        in: path
        description: Issuer Card Contract External Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - selectedModels
          - cardIdentifiers
          - relatedAccounts
          - contactCenters
          - cards
          - cards.orders
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCardContract'
      security:
      - basic: []
      deprecated: false
    patch:
      tags:
      - Card Contract
      summary: Update card contract by external reference
      operationId: modifyCardContractByIssuerExtRef
      description: "The API allows a list of pre-defined parameters (attributes) of a card contract to be updated.\nThe main input fields are:\n- The issuer ID\n- The card contract for which updates are required: It can be provided by using the card contract reference or the issuer card contract external reference. \n- Parameters to be updated\n\nThe card contract parameters can be retrieved using the Retrieve card Contract detail API. \nThe updated parameters should be consistent with the initial product configuration defined in the system (e.g., a change of model is accepted only if the provided model reference is allowed in the product definition).\nA typical update for the card contract is the embossing name."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerCardContractExternalReference
        in: path
        description: Issuer Card Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCardContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyCardContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/external-card-contracts/{issuerCardContractExternalReference}/cardholder:
    get:
      tags:
      - Card Contract
      summary: Retrieve cardholder for a card contract by external reference
      operationId: retrieveCardHolderByIssuerExtRef
      description: "The API allows the cardholder data linked to the card contract to be retrieved.\nThe main input fields are:\n- The issuer ID\n- The card contract for which the detail is requested: It can be provided by using the card contract reference or the issuer card contract external reference. \n\nIt is also possible to request some additional data by using the embedded fields.\n\nIn return, the interface provides the generic information of the customer."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerCardContractExternalReference
        in: path
        description: Issuer Card Contract External Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - addressIdentifiers
          - addresses
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCustomer'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/external-card-contracts/{issuerCardContractExternalReference}/cards:
    get:
      tags:
      - Card Contract
      summary: List cards for card contract by external reference
      operationId: listCardsForCardContractByIssuerExtRef
      description: "The API allows all the cards of a card contract to be retrieved. \nThe main input fields are:\n- The issuer ID\n- The card contract for which the cards list is requested: It can be provided by using the card contract reference or the issuer card contract external reference. \n\nIn return, the interface provides the list of all the cards linked to the card contract. Each card is provided with additional information such as card status, expiry date, embossing line, blocking reason (if in blocked status)."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerCardContractExternalReference
        in: path
        description: Issuer Card Contract External Reference
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListCard'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/external-card-contracts/{issuerCardContractExternalReference}/close:
    post:
      x-wl-lra-operation: true
      tags:
      - Card Contract
      summary: Close card contract by external reference
      description: "The API allows a card contract to be closed.\nThe main input fields are:\n•\tThe issuer ID\n•\tThe card contract for which the closure is requested:  It can be provided by using the card contract reference or the issuer card contract external reference. \n•\tThe parameters of the closure: reason, delay, date.\n\nA card contract can be either closed immediately or in the future (either at the card expiry date or at another scheduled date)."
      operationId: closeCardContractByIssuerExtRef
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerCardContractExternalReference
        in: path
        description: Issuer Card Contract External Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CloseCardContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCloseCardContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/{cardContractReference}/cancel-close:
    post:
      tags:
      - Card Contract
      summary: Cancel close card contract
      description: 'This API enables to cancel a card contract closing with a scheduled date in the future.


        As a result, no closing date is planned anymore for the card contract.'
      operationId: cancelCloseCardContract
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: cardContractReference
        in: path
        description: Card Contract Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCancelCloseCardContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/external-card-contracts/{issuerCardContractExternalReference}/cancel-close:
    post:
      tags:
      - Card Contract
      summary: cancel close card contract by external reference
      description: 'This API enables to cancel a card contract closing with a scheduled date in the future.


        As a result, no closing date is planned anymore for the card contract.'
      operationId: cancelCloseCardContractByIssuerExtRef
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerCardContractExternalReference
        in: path
        description: Issuer Card Contract External Reference
        required: true
        type: string
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCancelCloseCardContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/external-card-contracts/{issuerCardContractExternalReference}/contract:
    get:
      tags:
      - Card Contract
      summary: Retrieve contract for a card contract by external reference
      operationId: retrieveContractForCardContractByIssuerExtRef
      description: "The API allows the contract detail of a card contract to be retrieved. \nThe main input fields requested by the API are:\n- The issuer ID\n- The card contract for which the contract information is requested: It can be provided by using the card contract reference or the issuer card contract external reference. \n\nIt is also possible to request some additional data, such as contract customers, accounts, legitimacy documents, by using the embedded fields.\n\nIn return, the interface provides the contract details."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerCardContractExternalReference
        in: path
        description: Issuer Card Contract External Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - advertisementFlags
          - deliveryChannel
          - legitimacyDocuments
          - contractFees
          - accountIdentifiers
          - accounts
          - cardContractIdentifiers
          - cardContracts
          - dataAnalysisFlags
          - contractCustomerIdentifiers
          - contractCustomers
          - addonSubscriptions
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityContract'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/external-card-contracts/{issuerCardContractExternalReference}/corporate-contract:
    get:
      tags:
      - Card Contract
      summary: Retrieve corporate contract for a card contract by external reference
      operationId: retrieveCorporateContractForCardContractByIssuerExtRef
      description: "The API allows the corporate contract detail of a card contract to be retrieved. \n\nThe main input fields requested by the API are:\n•\tThe issuer ID\n•\tThe card contract for which the corporate contract information is requested: It can be provided by using the card contract reference or the issuer card contract external reference. \n\nIt is also possible to request some additional data, such as list of corporate contract entities (limited to 100), list of all customers (limited to 100), list of all companies (limited to 100), list of corporate employee accounts (limited to 100), root account linked to this corporate contract, by using the embedded fields.\n\nIn return, the interface provides the corporate contract details."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: issuerCardContractExternalReference
        in: path
        description: Issuer Card Contract External Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - corporateContractEntities
          - contractCustomers
          - contractCompanies
          - corporateEmployeeAccounts
          - rootAccount
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCorporateContract'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/{cardContractReference}:
    get:
      tags:
      - Card Contract
      summary: Retrieve card contract
      operationId: retrieveCardContract
      description: "The API allows the card contract details to be retrieved. \nThe main input fields are:\n- The issuer ID\n- The card contract for which the detail is requested: It can be provided by using the card contract reference or the issuer card contract external reference. \n\nIt is also possible to request some additional data by using the embedded fields.\n\nIn return, the interface provides the generic information (mainly master data) relevant to the card contract."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: cardContractReference
        in: path
        description: Card Contract Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - selectedModels
          - cardIdentifiers
          - relatedAccounts
          - contactCenters
          - cards
          - cards.orders
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCardContract'
      security:
      - basic: []
      deprecated: false
    patch:
      tags:
      - Card Contract
      summary: Update card contract
      operationId: modifyCardContract
      description: "The API allows a list of pre-defined parameters (attributes) of a card contract to be updated.\nThe main input fields are:\n- The issuer ID\n- The card contract for which updates are required: It can be provided by using the card contract reference or the issuer card contract external reference. \n- Parameters to be updated\n\nThe card contract parameters can be retrieved using the Retrieve card Contract detail API. \nThe updated parameters should be consistent with the initial product configuration defined in the system (e.g., a change of model is accepted only if the provided model reference is allowed in the product definition).\nA typical update for the card contract is the embossing name."
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: cardContractReference
        in: path
        description: Card Contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/ModifyCardContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityModifyCardContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/{cardContractReference}/cardholder:
    get:
      tags:
      - Card Contract
      summary: Retrieve cardholder for a card contract
      operationId: retrieveCardHolder
      description: "The API allows the cardholder data linked to the card contract to be retrieved.\nThe main input fields are:\n- The issuer ID\n- The card contract for which the detail is requested: It can be provided by using the card contract reference or the issuer card contract external reference. \n\nIt is also possible to request some additional data by using the embedded fields.\n\nIn return, the interface provides the generic information of the customer."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: cardContractReference
        in: path
        description: Card Contract Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - addressIdentifiers
          - addresses
        collectionFormat: multi
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCustomer'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/{cardContractReference}/cards:
    get:
      tags:
      - Card Contract
      summary: List cards for card contract
      operationId: listCardsForCardContract
      description: "The API allows all the cards of a card contract to be retrieved. \nThe main input fields are:\n- The issuer ID\n- The card contract for which the cards list is requested: It can be provided by using the card contract reference or the issuer card contract external reference. \n\nIn return, the interface provides the list of all the cards linked to the card contract. Each card is provided with additional information such as card status, expiry date, embossing line, blocking reason (if in blocked status)."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: cardContractReference
        in: path
        description: Card Contract Reference
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityListCard'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/{cardContractReference}/close:
    post:
      x-wl-lra-operation: true
      x-wl-lra-interface: true
      tags:
      - Card Contract
      summary: Close card contract
      description: "The API allows a card contract to be closed.\nThe main input fields are:\n•\tThe issuer ID\n•\tThe card contract for which the closure is requested:  It can be provided by using the card contract reference or the issuer card contract external reference. \n•\tThe parameters of the closure: reason, delay, date.\n\nA card contract can be either closed immediately or in the future (either at the card expiry date or at another scheduled date)."
      operationId: closeCardContract
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: cardContractReference
        in: path
        description: Card Contract Reference
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CloseCardContractRequest'
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCloseCardContractResponse'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/{cardContractReference}/contract:
    get:
      tags:
      - Card Contract
      summary: Retrieve contract for a card contract
      operationId: retrieveContractForCardContract
      description: "The API allows the contract detail of a card contract to be retrieved. \nThe main input fields requested by the API are:\n- The issuer ID\n- The card contract for which the contract information is requested: It can be provided by using the card contract reference or the issuer card contract external reference. \n\nIt is also possible to request some additional data, such as contract customers, accounts, legitimacy documents, by using the embedded fields.\n\nIn return, the interface provides the contract details."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: cardContractReference
        in: path
        description: Card Contract Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - advertisementFlags
          - deliveryChannel
          - legitimacyDocuments
          - contractFees
          - accountIdentifiers
          - accounts
          - cardContractIdentifiers
          - cardContracts
          - dataAnalysisFlags
          - contractCustomerIdentifiers
          - contractCustomers
          - addonSubscriptions
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityContract'
      security:
      - basic: []
      deprecated: false
  /issuers/{issuerId}/card-contracts/{cardContractReference}/corporate-contract:
    get:
      tags:
      - Card Contract
      summary: Retrieve corporate contract for a card contract
      operationId: retrieveCorporateContractForCardContract
      description: "The API allows the corporate contract detail of a card contract to be retrieved. \n\nThe main input fields requested by the API are:\n•\tThe issuer ID\n•\tThe card contract for which the corporate contract information is requested: It can be provided by using the card contract reference or the issuer card contract external reference. \n\nIt is also possible to request some additional data, such as list of corporate contract entities (limited to 100), list of all customers (limited to 100), list of all companies (limited to 100), list of corporate employee accounts (limited to 100), root account linked to this corporate contract, by using the embedded fields.\n\nIn return, the interface provides the corporate contract details."
      produces:
      - application/json
      parameters:
      - name: WL-Correlation-ID
        in: header
        required: false
        type: string
      - name: WL-Origin
        in: header
        required: false
        type: string
      - name: WL-Username
        in: header
        required: false
        type: string
      - name: filter
        in: query
        description: Filtered Fields
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: issuerId
        in: path
        description: Issuer ID
        required: true
        type: string
      - name: cardContractReference
        in: path
        description: Card Contract Reference
        required: true
        type: string
      - name: embed
        in: query
        description: Embedded Fields
        required: false
        type: array
        items:
          type: string
          enum:
          - corporateContractEntities
          - contractCustomers
          - contractCompanies
          - corporateEmployeeAccounts
          - rootAccount
        collectionFormat: multi
      responses:
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/BadRequestErrorApiResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/UnauthorizedErrorApiResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ForbiddenErrorApiResponse'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/NotFoundErrorApiResponse'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/InternalServerErrorErrorApiResponse'
        '502':
          description: Bad gateway
          schema:
            $ref: '#/definitions/BadGatewayErrorApiResponse'
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiResponseEntityCorporateContract'
      security:
      - basic: []
      deprecated: false
definitions:
  CustomerIdentifier:
    type: object
    description: Identification of the updated customer either by Issuer customer external reference or by customer reference
    properties:
      customerReference:
        type: string
        description: Reference computed internally by our system
      issuerCustomerExternalReference:
        type: string
        description: Reference provided by the Issuer
    title: CustomerIdentifier
  CardIdentifier:
    type: object
    description: Identification of the card either by Issuer card external reference or by card reference
    properties:
      cardReference:
        type: string
        description: 'Reference of the card generated by our system, unique per platform.

          This reference is calculated sequentially by an internal algorithm on 16 digits (e.g. 2000000000096013).'
      issuerCardExternalReference:
        type: string
        description: 'External reference of the card provided by the issuer or calculated by the system if the external reference generation algorithm is configured for the issuer.

          This reference is unique per issuer and may be used to carry out research and find information.'
    title: CardIdentifier
  ApiResponseEntityCancelCloseCardContractResponse:
    x-wl-api-response: true
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        description: Response metadata
        allOf:
        - $ref: '#/definitions/ResponseMetadata'
      data:
        description: Response data
        allOf:
        - $ref: '#/definitions/CancelCloseCardContractResponse'
    description: Issuer response entity
    title: ApiResponseEntityCancelCloseCardContractResponse
  CorporateContractFee:
    type: object
    allOf:
    - $ref: '#/definitions/ContractFee'
    - properties:
        entityIdentifierMembershipFeePosting:
          description: The corresponding entity identifier for Membership Fee posting
          allOf:
          - $ref: '#/definitions/FeePostingEntityIdentifier'
        entityIdentifierAccountSetupFeePosting:
          description: The corresponding entity identifier for Account Setup Fee posting
          allOf:
          - $ref: '#/definitions/FeePostingEntityIdentifier'
    description: Specify the corporate contract Fee
    title: CorporateContractFee
  Customer:
    type: object
    required:
    - onlineRiskCategory
    - offlineRiskCategory
    properties:
      issuerId:
        type: string
        description: Issuer identifier (unique per platform)
      customerIdentifier:
        description: Unique identifier. Refer to Customer Identifier data type for detail information
        allOf:
        - $ref: '#/definitions/CustomerIdentifier'
      active:
        type: boolean
        description: DEPRECATED
      birthDate:
        type: string
        format: date-time
        description: Birth date of Person Customer (conditional depending on the card profile configuration). If present, the value can be subject to a validation process if a specific rule has been configured at issuer level.
      birthPlace:
        type: string
        description: 'Birth Place of Person Customer (optional).

          Free text'
      commercialStatus:
        type: string
        description: Defines the commercial status of a Person Customer among a list of possible values configured per issuer. One of the possible values can be set as default value (eg. Normal, Address Only, Bankruptcy, Active Customer). (mandatory)
      courtesyTitle:
        type: string
        description: Courtesy Title of Person Customer (optional). Free text. If present, the value can be subject to a validation process if a specific rule has been configured at issuer level.
      customerClass:
        type: string
        description: for future use (optional)
      doNotContact:
        type: boolean
        description: if the Person Customer does not want to be contacted by the issuer set to 'true' otherwise to be set to 'false'. If not provided, value is NULL(optional)
      employee:
        type: boolean
        description: Flag indicating if the Person Customer is an employee of the issuer. If not provided, value is NULL(optional)
      employerAddress:
        type: string
        description: 'Employer''s Address of Person Customer (optional).

          Free text'
      employerName:
        type: string
        description: 'Employer''s Name of Person Customer. (optional).

          Free text'
      firstName:
        type: string
        description: First Name of Person Customer (mandatory)
      lastName:
        type: string
        description: Last Name of Person Customer (mandatory)
      maidenName:
        type: string
        description: Maiden Name of Person Customer (optional)
      correspondenceName:
        type: string
        description: Correspondence Name of Person Customer (optional).
      maritalStatus:
        type: string
        description: Marital Status of Person Customer. Free text (optional)
      monthlySalary:
        type: string
        description: Average monthly salary of Person Customer (optional)
      nationality:
        type: string
        description: Nationality of Person Customer(optional). Free text.
      offlineRiskCategory:
        type: string
        description: 'Categorizes the person for offline risk management. List of possible values is defined per Issuer  (eg.Business, Student, Teenager, Standard). '
      onlineRiskCategory:
        type: string
        description: 'Categorizes the person for online risk management. List of possible values is defined per Issuer (eg.Business, Student, Teenager, Standard) (mandatory) '
      partnerExternalReference:
        type: string
        description: External Reference provided by the issuer (optional)
      picture:
        type: string
        description: 'Picture reference of the Person Customer (eg url, filename). Free text.

          (optional)'
      preferredCorrespondanceLanguage:
        type: string
        description: Deprecated
      preferredCorrespondenceLanguage:
        type: string
        description: Preferred correspondence language of the Person Customer (optional). Free text but ISO639-1 code is recommended (e.g. ‘nl’,’fr’,’de’,’en’). If present, the value can be subject to a validation process if a specific rule has been configured at issuer level.
      profession:
        type: string
        description: 'Profession of Person Customer. Free text.

          (optional)'
      secondFirstName:
        type: string
        description: Second First Name of Person Customer (optional)
      secretAnswer:
        type: string
        description: Answer to Secret Question for security (optional)
      secretQuestion:
        type: string
        description: Secret Question for security (optional)
      sex:
        type: string
        description: Gender of Person Customer (optional). Free text. If present, the value can be subject to a validation process if a specific rule has been configured at issuer level.
      specificFields:
        type: object
        description: 'List of external data {"label":"value"} separated by a "," related to a customer that can be provided by e.g. the issuer for information or for usage by other systems. Example : {"label1":"value1","label2":"value2"} Those provided data have no impact on our system business processes.'
        additionalProperties:
          type: string
      url1:
        type: string
        description: First URL of the Person Customer (optional)
      url2:
        type: string
        description: Second URL of the Person Customer (optional)
      vatCountry:
        type: string
        description: 'Tax country. Useful if Person is indeed a company.

          (optional)'
      vatNumber:
        type: string
        description: 'Tax number. Useful if Person is indeed a company.

          (optional)'
      addressIdentifiers:
        type: array
        description: 'List of active address references whatever their type (MAIL, EMAIL, PHONE). The address can be a temporary address if it is active at the time of the request.

          At least, the main postal address reference should be retrieved (mandatory)

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        items:
          $ref: '#/definitions/AddressIdentifier'
      addresses:
        type: array
        description: 'List of active addresses whatever their type (MAIL, EMAIL, PHONE). See the Address''s datatype for the detail list of the attributes

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        items:
          $ref: '#/definitions/Address'
      vulnerabilities:
        description: List of vulnerabilities applicable to the customer.
        type: array
        items:
          $ref: '#/definitions/Vulnerability'
      vulnerabilityIndicator:
        type: boolean
        description: indicates if the client is vulnerable
      vulnerabilityNote:
        type: string
        description: note about the client's vulnerability (free text)
      contactIdentifiers:
        type: array
        description: 'List of contact references of the customer.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        items:
          $ref: '#/definitions/ContactIdentifier'
      contacts:
        type: array
        description: 'List of contacts of the customer.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        items:
          $ref: '#/definitions/Contact'
      lastUpdateDate:
        type: string
        format: date-time
        description: Indicates the date when the update is processed
    title: Customer
  ProductIdentifier:
    type: object
    properties:
      issuerProductExternalReference:
        type: string
        description: Product External Reference provided by the issuer
      productReference:
        type: string
        description: Reference of the product in our system, unique per platform
    title: ProductIdentifier
  AccountStatusHistory:
    type: object
    properties:
      status:
        type: string
        description: Status of the account on the particular statusDate (optional)
      statusDate:
        type: string
        format: date-time
        description: Date of the account status change (optional)
      reason:
        type: string
        description: Reason the status has been set (optional)
    title: AccountStatusHistory
  ApiResponseEntityCustomer:
    x-wl-api-response: true
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        description: Response metadata
        allOf:
        - $ref: '#/definitions/ResponseMetadata'
      data:
        description: Response data
        allOf:
        - $ref: '#/definitions/Customer'
    description: Issuer response entity
    title: ApiResponseEntityCustomer
  InsurancePackageIdentifier:
    type: object
    description: Unique identifier of the insurance contract package
    properties:
      insurancePackageReference:
        type: string
        description: Reference of the insurance package
    title: InsurancePackageIdentifier
  CycleInformation:
    type: object
    description: Dates related to the closure calendar for the open closure cycle
    properties:
      cycleStartDate:
        type: string
        format: date-time
        description: Date when the cycle is opened
      cycleClosureDate:
        type: string
        format: date-time
        description: Date when the open cycle is closed
      statementGenerationDate:
        type: string
        format: date-time
        description: Date when the statement is produced for the cycle
      directDebitIssuingDate:
        type: string
        format: date-time
        description: Direct debit issuing date of the cycle
      directDebitDueDate:
        type: string
        format: date-time
        description: Direct debit due date of the cycle
      gracePeriodEndDate:
        type: string
        format: date-time
        description: Grace period end date of the cycle
      dueDateForSelfPayer:
        type: string
        format: date-time
        description: Due date for self payer of the cycle
      cycleDueDate:
        type: string
        format: date-time
        description: Due date of the cycle, used for monitoring process (delinquency)
      statementEffectiveStartDate:
        type: string
        format: date
        description: "Effective start date of the statement period.\n\t\t\t\t\tExample :\n\t\tCycle closure is on 28th of each month at 20.00 PM\n\t\tIf closure on 28/08,\n\t\t- For August Statement:  statementEffectiveStartDate = 29/07/2025 and statementEffectiveEndDate = 28/08/2025]\n\t\t- For September Statement : statementEffectiveStartDate = 29/08/2025 and statementEffectiveEndDate = 28/09/2025"
      statementEffectiveEndDate:
        type: string
        format: date
        description: "Effective end date of the statement period.\n\t\t\t\t\tExample :\n\t\tCycle closure is on 28th of each month at 20.00 PM\n\t\tIf closure on 28/08,\n\t\t- For August Statement:  statementEffectiveStartDate = 29/07/2025 and statementEffectiveEndDate = 28/08/2025]\n\t\t- For September Statement : statementEffectiveStartDate = 29/08/2025 and statementEffectiveEndDate = 28/09/2025"
    title: CycleInformation
  ContractModel:
    type: object
    properties:
      reference:
        type: string
        description: Model Reference
      type:
        type: string
        description: 'Type of model

          Possible values:

          - ACCOUNT_SETUP_FEE

          - MEMBERSHIP_FEE'
    description: Model containing predefined configuration for fee generation applicable on a contract
    title: ContractModel
  EncryptedPan:
    type: object
    properties:
      encryptedValue:
        type: string
      publicKeyIdentifier:
        type: string
    title: EncryptedPan
  PinInheritanceExternalCardIdentifier:
    type: object
    properties:
      pinInheritanceExternalCardReference:
        type: string
        description: Reference of the external card used when the card is only known by the PIN management module (used in migration context)
    title: PinInheritanceExternalCardIdentifier
  ContactIdentifier:
    type: object
    properties:
      contactReference:
        type: string
        description: Contact identifier (unique per company)
    title: ContactIdentifier
  ApiResponseEntityListCard:
    x-wl-api-response: true
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        description: Response metadata
        allOf:
        - $ref: '#/definitions/ResponseMetadata'
      data:
        type: array
        description: Response data
        items:
          $ref: '#/definitions/Card'
    description: Issuer response entity
    title: ApiResponseEntityListCard
  DataAnalysisFlags:
    type: object
    properties:
      person:
        type: boolean
        description: Flag indicating person data related to the contract can be used for person data analysis (true) or not (false). Default value is false.
        default: false
      paymentTransaction:
        type: boolean
        description: Flag indicating if payment transactions related to the contract can be used for payment transactions data analysis (true) or not (false). Default value is false.
        default: false
      exchangeThirdParties:
        type: boolean
        description: Flag indicating if contract data can be exchanged between third parties (true) or not (false). Default value is false.
        default: false
    description: Specify which data analysis flags are enabled (person, paymentTransaction, exchangeThirdParties, etc.)
    title: DataAnalysisFlags
  Order:
    type: object
    properties:
      issuerId:
        type: string
        description: Issuer identifier (unique per platform)
      orderType:
        type: string
        description: 'The order can correspond to a card, a PIN mailer or a TAN mailer.

          Possible values are : CardOrder, PinMailerOrder, TanMailerOrder'
      orderIdentifier:
        description: 'Unique identifier of the order (mandatory)

          Refer to OrderIdentifier data type for detail information'
        allOf:
        - $ref: '#/definitions/OrderIdentifier'
      currentExternalStatus:
        type: string
        description: 'Current external status of the order (optional)

          The list of external statuses is configurable per issuer.

          The external status can be used to follow the card producing status for the card order e.g. received, embossed, sent, etc.'
      currentExternalStatusDate:
        type: string
        format: date-time
        description: Modification date of the last external status of the order (optional)
      currentInternalStatus:
        type: string
        description: 'Current internal status of the order (mandatory)

          Possible values: are: CREATED, CONFIRMED, ORDERED, REJECTED, CANCELLED, FINISHED, ORDERABLE'
      currentInternalStatusDate:
        type: string
        format: date-time
        description: Last modification date of the internal status of the order (optional)
      sendingMode:
        type: string
        description: 'Code identifying the desired sending mode for the order (mandatory)

          Example: Normal, Urgent, Ultra Urgent'
      deliveryChannel:
        type: string
        description: 'Code of the delivery channel for the card

          The list of delivery channels is configurable per Issuer.'
      deliveryType:
        type: string
        description: 'Indicates whether the delivery of the card should be to branch or customer (instead of the one from the distribution rule of the card product) (optional)

          Possible values: CUSTOMER (the card is to be delivered to the customer address, BRANCH (the card is to be delivered to the bank branch)'
      orderReason:
        type: string
        description: 'Reason why the order is done (mandatory)

          Possible values are: CARD_RENEWAL, PIN_CARD_RENEWAL, FIRST_CARD_ISSUE, FIRST_PIN_CARD_ISSUE, CARD_REPLACEMENT, PIN_CARD_REPLACEMENT, PIN_REMINDER, PIN_REORDER, TAN_REQUEST'
      statusHistory:
        type: array
        description: 'List of order status history data

          Refer to OrderStatusHistory data type for detail information.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        items:
          $ref: '#/definitions/OrderStatusHistory'
      cardProducer:
        type: string
        description: 'It is the card producer or embosser.

          It is present if it is different than the default one (defined in the card profile) and was provided when requesting the card creation.

          The list of allowed card producer is configurable per issuer.'
      pinMailerEditor:
        type: string
        description: 'It is the PIN mailer printer.

          It is present if it is different than the default one (defined in the card profile) and was provided when requesting the card/PIN creation.

          The list of allowed PIN mailer editors is configurable by issuer.'
      deliveryBranchCode:
        type: string
        description: 'Code of the delivery branch (mandatory only if card delivery type is BRANCH)

          The list of issuer branches is configurable  per Issuer.

          The branch code is used to access a preconfigured Postal address (configured in the system).'
      customDeliveryAddressee:
        type: string
        description: "Custom postal address to send the order \n Depending on countries, the address format (mainly for line1, line 2, line3, line4 and line5) can have specific conditions such as length restriction. The customer should contact WL to check the address format and have more information."
      customDeliveryAddress:
        description: 'Custom postal address to send the order

          Depending on countries, the address format (mainly for line1, line 2, line3, line4 and line5) can have specific conditions such as length restriction. The customer should contact WL to check the address format and have more information.'
        allOf:
        - $ref: '#/definitions/MailAddress'
      customDeliveryPhone:
        description: 'Custom phone to send the card.

          NOT USED'
        allOf:
        - $ref: '#/definitions/PhoneNumber'
      customDeliveryEmail:
        description: 'Custom email to send the card.

          NOT USED'
        allOf:
        - $ref: '#/definitions/EmailAddress'
      specificFields:
        type: object
        description: 'List of external data {"label":"value"} separated by a "," related to an order that can be provided by e.g. the issuer for information or for usage by other systems. Example : {"label1":"value1","label2":"value2"} Those provided data have no impact on our system business processes.'
        additionalProperties:
          type: string
      card:
        description: 'Card information related to the order.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        allOf:
        - $ref: '#/definitions/Card'
      cardIdentifier:
        description: Unique identifier of the card
        allOf:
        - $ref: '#/definitions/CardIdentifier'
      embossingFileName:
        type: string
        description: Embossing file name in CardOrder
      tanOrigin:
        type: string
        description: Origin of the TAN request, e.g. GUI. (free text)
      tanBackupMethod:
        type: string
        description: The backup method that should be applied for TAN mailer order.
      tanExpiryDate:
        type: string
        format: date-time
        description: Expiry date of the TAN, date until which the TAN can used (mandatory for TanMailerOrder)
      tanStatus:
        type: string
        description: 'Status of the TAN (mandatory for TanMailerOrder)

          Possible values: CREATED, FAILED, ACTIVE, USED, EXPIRED'
      freeTanMailerCounter:
        type: integer
        description: Number of free TAN requests (optional)
      tanUsageDate:
        type: string
        format: date-time
        description: Date when the TAN was used to change the PIN (optional)
      free:
        type: boolean
        description: Indicates if the operation is free (true) or not (false). Default value is false (mandatory)
      tanValue:
        type: string
        description: Clear value of the TAN (mandatory for TanMailerOrder)
      feeConditions:
        type: array
        description: Conditions of the fee generation (if fee configured in the product) (optional)
        items:
          $ref: '#/definitions/FeeCondition'
      notExtractedReason:
        type: string
        description: In case the order will not be extracted because of invalid customer address, then it will be indicated in this field
      notExtractedUpdateDate:
        type: string
        format: date-time
        description: The last update date of notExtractedReason field
      waitingPin:
        type: boolean
        format: date-time
        description: 'This flag is used only for a card order or a PIN mailer order.

          - If this flag is true, the PIN is waiting to be provided by the cardholder (the mode “Self Selected Pin” is activated in the PIN production model). Depending on the configuration, after x days, the card is extracted with a default PIN if the cardholder has not provided a PIN.

          - If this flag is false, the PIN is not waiting to be provided , e.g. the PIN has been generated by PMM or provided by the cardholder.'
    title: Order
  ForbiddenErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/ForbiddenResponseMetadata'
    title: ForbiddenErrorApiResponse
  Card:
    type: object
    required:
    - issuerId
    properties:
      issuerId:
        type: string
        description: Issuer identifier (unique per platform)
      cardIdentifier:
        description: Identification of the card either by Issuer card external reference or by card reference
        allOf:
        - $ref: '#/definitions/CardIdentifier'
      encryptedPan:
        description: This field returns the encrypted PAN and the public key identifier if the encryption is activated on the platform.
        allOf:
        - $ref: '#/definitions/EncryptedPan'
      pan:
        type: string
        description: "Primary Account Number (PAN) also called card number (mandatory) \n It is calculated by our system from the BIN range associated to the card product or provided by the issuer."
      maskedPan:
        type: string
        description: "Masked Primary Account Number (PAN) of the card (optional). \nExample: 445442******0275\nThe mask is defined per platform."
      panReference:
        type: string
        description: "Reference related to the PAN\nCards having the same PAN have the same PAN reference.\nPAN reference is generated in the system according to the following algorithm : \n1 (VISA) or 2 (MCI) + 3 last digit of issuer + UUID (without the -)\nExample : 1006f041ae6814bf4f068aa501141c85d57d"
      expiryDate:
        type: string
        description: 'Card expiry date (mandatory)

          Format is MMYY (month and year)'
      panSequenceNumber:
        type: string
        description: PAN sequence number is a number (usually from 1 to N) that allows identifying either cards with same PAN or cards with same PAN and same Expiry date
      status:
        type: string
        description: "Current status of the card (mandatory) \n Possible values: CREATED, ACTIVE, BLOCKED, DEACTIVATED, CANCELLED\n Status of the card (mandatory)\n The card status is changing during its life cycle according to business processes in the system.\n Possible values are :\n CREATED : The first status when the card is created. The card is not usable.\n ACTIVE : Card is active and ready for authorizations processing\n Examples of business processes triggering this status: contract creation request as per product configuration, card activation request, contract creation after a product change request.\n BLOCKED : card is blocked permanently (final status) or temporarily. Related authorizations are declined.\n DEACTIVATED : Card is deactivated (final status) and related authorizations are declined\n Examples of business processes triggering this status: contract closing request, card contract closing, contract closure after a product change request. Card was in ACTIVE status previously.\n CANCELLED : Card is cancelled (final status). Card has never been activated.\n Examples of business processes triggering this status: contract closing request, card contract closing, contract closure after a product change request. Card was in CREATED status previously."
      statusDate:
        type: string
        format: date-time
        description: Last card status change date (mandatory)
      externalStatus:
        type: string
        description: 'External status of the card

          Possible values are:

          - IN_PROGRESS (it implies the card has not registered in all the WL systems)

          - CREATED (it implies the card is registered in all the WL systems and ready for use)

          - ERROR (the synchronization process between WL systems is failed)'
      statusHistory:
        type: array
        description: 'List of card status history

          Refer to resource CardStatusHistory for detail information

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        items:
          $ref: '#/definitions/CardStatusHistory'
      embossingName:
        type: string
        description: 'First line of the name embossed on the physical card (mandatory)

          It can be provided by the issuer or calculated by our system (if allowed within card Technology and Application model and depending on the selected embossing name calculation algorithm)'
      embossingName2ndLine:
        type: string
        description: 'Second line of the name embossed on the physical card, optional, can be provided only in addition to the first line.

          It can be provided by the issuer or calculated by our system (if embossing name is required within card Technology and Application model and depending on the selected embossing name calculation algorithm)'
      embossingLine5:
        type: string
        description: 'Specific additional embossing line that can be used by the issuer (mandatory only if required within card Technology and Application model)

          It is sent out to the embosser with card order.'
      artwork:
        type: string
        description: Artwork (card design) used for the physical card (mandatory)
      permanentlyBlocked:
        type: boolean
        description: Indicates if the card is permanently blocked (true) or not (false). Default value is false
      emergencyCard:
        type: boolean
        description: This attribute indicates if the card is an emergency card (scheme emergency card service).
      emergencyCashAdvance:
        type: boolean
        description: Deprecated - Not used
      renewed:
        type: boolean
        description: Indicates if the card is renewed (true) or not (false). Default value is false
      replaced:
        type: boolean
        description: Indicates if the card is replaced (true) or not (false). Default value is false
      replacementReason:
        type: string
        description: 'Reason for replacing a card (mandatory only if the card is replaced)

          The list of replacing reasons is configurable per issuer (For example, LOST, STOLEN, FRAUDULENT …)'
      blockingReason:
        type: string
        description: 'Reason for blocking a card (mandatory only if card status is blocked)

          The list of blocking reasons is configurable per issuer (For example, LOST, STOLEN, FRAUDULENT …)'
      pinInheritanceCardIdentifier:
        description: Identifier of the card from which the PIN is inherited (card is known in the issuing system).
        allOf:
        - $ref: '#/definitions/PinInheritanceCardIdentifier'
      pinInheritanceCardReference:
        type: string
        description: Deprecated
      pinInheritanceExternalCardIdentifier:
        description: Identifier of the external card used when the card is only known by the PIN management module.
        allOf:
        - $ref: '#/definitions/PinInheritanceExternalCardIdentifier'
      specificFields:
        type: object
        description: 'List of external data {"label":"value"} separated by a "," related to a card that can be provided by e.g. the issuer for information or for usage by other systems. Example : {"label1":"value1","label2":"value2"} Those provided data have no impact on our system business processes.'
        additionalProperties:
          type: string
      renewedBy:
        description: 'Card identifier of the new card created during the renewal process.

          Relevant information for the renewed card.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        allOf:
        - $ref: '#/definitions/CardIdentifier'
      replacementBy:
        description: 'Card identifier of the new card created during the replacement process.

          Relevant information for the replaced card.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        allOf:
        - $ref: '#/definitions/CardIdentifier'
      renewedFor:
        description: 'Card identifier of the renewed card.

          Relevant information for the new card created during the renewal process.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        allOf:
        - $ref: '#/definitions/CardIdentifier'
      replacementFor:
        description: 'Card identifier of the replaced card.

          Relevant information for the new card created during the replacement process.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        allOf:
        - $ref: '#/definitions/CardIdentifier'
      cardContractIdentifier:
        description: Card Contract Identifier
        allOf:
        - $ref: '#/definitions/CardContractIdentifier'
      cardContract:
        description: 'Card Contract

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        allOf:
        - $ref: '#/definitions/CardContract'
      orderIdentifiers:
        type: array
        description: 'Order Identifiers

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        items:
          $ref: '#/definitions/OrderIdentifier'
      orders:
        type: array
        description: 'List of orders linked to the Card

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        items:
          $ref: '#/definitions/Order'
      isCardDigitalizationAllowed:
        type: boolean
        description: "Indicates if the digitalization of the card is allowed (true) or not (false, default value). \nThis attribute is returned during wallets (e.g. GooglePay, ApplePay) enrollment process to e.g. the Issuer TSP (in case the card digitalization is not allowed then the Issuer TSP should decline the enrollment)."
        default: false
      multiCardInfo:
        description: Multi card set if the card belongs to a multi card set
        allOf:
        - $ref: '#/definitions/MultiCardInfo'
      cardScheme:
        type: string
        description: 'Card scheme to which the BIN of the card is belonging '
      virtual:
        type: boolean
        description: Indicates if the card is physical or virtual
      contactlessEnabled:
        type: boolean
        description: Indicates if the chip contactless capability enabled or not
      technologyType:
        type: string
        description: "Technology of the card (code/short name)\nPossible values are : \n- VIRTUAL\n- EMV\n- MAGSTRIPE\n- EMV_MAGSTRIPE\n- CONTACT_ONLY (contact only for EMV card with magstripe)\n- DUAL_INTERFACE (contact+contactless for EMV card with magstripe)"
      techAndAppModelName:
        type: string
        description: Technology and application model name of the card
      photoReference:
        type: string
        description: Reference of the photo sent to the embosser and retrieved from the card contract during the card order extraction (optional).
      pictureReference:
        type: string
        description: Reference of the picture sent to the embosser and retrieved from the card contract during the card order extraction (optional).
      logoReference:
        type: string
        description: 'Reference of the company logo sent to the embosser and retrieved from the card contract during the card order extraction (optional).

          Relevant only for corporate cards.'
      dispatchCode:
        type: string
        description: If present the dispatch code is sent to the embosser. The dispatch code defines the corporate card orders delivery address which is known and managed by the embosser (Corporate cards only). If not present the standard process is applied to retrieve the card delivery address.
      automaticDeactivationDate:
        type: string
        format: date-time
        description: Date when the card is deactivated automatically (x days after its replacement if the feature is enabled).
      contractType:
        type: string
        description: "Indicates if the card is a consumer (private) or corporate card. \n Possible values: \n CORPORATE \nCONSUMER "
        enum:
        - CORPORATE
        - CONSUMER
      cardDeactivationRuleOverride:
        type: string
        description: 'Indicates which card deactivation rule is enabled for the card. It overrides the product card deactivation rule Possible value : FIRST_APPROVED_AUTHO (1st approved online authorization)'
      partnerExternalCardReference:
        type: string
        description: This reference is generated by our system using rules define with the issuer that needs it.
      recovered:
        type: boolean
        description: Indicates if the card is recovered (true) or not (false). Default value is false.
      recoveryDate:
        type: string
        format: date-time
        description: Date when the card was recovered. Only relevant if the card is recovered.
      lastSavingMeasureCode:
        type: string
        description: 'Indicates the last saving measure applied (a saving measure is used to forbid some actions or remove the forbidding. For example: block the card replacement, the card renewal, the PIN mailer reprint)'
    title: Card
  FeeCondition:
    type: object
    properties:
      description:
        type: string
        description: Conditions of the fee generation for the event (optional)
      operationType:
        type: string
        description: 'Contains the type of the operation on which the criteria applies

          For example: PinOrderIssuing - PIN_REQUEST (optional)'
      criteria:
        type: string
        description: 'Criteria of the fee condition

          For example:

          (counter[''ALL''] - counter[''IVR''] ) > 1 => If the condition is successfull, one Fee is allocated (optional)'
    title: FeeCondition
  ModifyCardContractResponse:
    type: object
    properties:
      cardContractIdentifier:
        description: Refer to CardContract.cardContractIdentifier
        allOf:
        - $ref: '#/definitions/CardContractIdentifier'
    title: ModifyCardContractResponse
  ApiResponseEntityCloseCardContractResponse:
    x-wl-api-response: true
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        description: Response metadata
        allOf:
        - $ref: '#/definitions/ResponseMetadata'
      data:
        description: Response data
        allOf:
        - $ref: '#/definitions/CloseCardContractResponse'
    description: Issuer response entity
    title: ApiResponseEntityCloseCardContractResponse
  FeePostingEntityIdentifier:
    type: object
    properties:
      postingEntityAccountIdentifier:
        description: The account identifier of the entity on which Membership Fee or Account setup Fee will be posted
        allOf:
        - $ref: '#/definitions/AccountIdentifier'
      postingEntityCompanyExternalReference:
        type: string
        description: The external reference of the entity, provided by the Company, on which Membership Fee or Account setup Fee will be posted
      postingEntityLevel:
        type: integer
        description: The corporate entitity level number on which Membership Fee or Account setup Fee will be posted
    title: FeePostingEntityIdentifier
  MailAddress:
    type: object
    required:
    - country
    properties:
      typeCode:
        type: string
        description: Deprecated field
      line1:
        type: string
        description: Address line 1 (conditional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
      line2:
        type: string
        description: Address line 2 (optional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
      line3:
        type: string
        description: Address line 3 (optional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
      line4:
        type: string
        description: Address line 4 (optional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
      line5:
        type: string
        description: Address line 5 (optional). Free text. A specific issuer algorithm can be activated to e.g. build the line, apply controls (e.g. length restriction).
      buildingNumber:
        type: string
        description: Building number of the address (optional)
      boxNumber:
        type: string
        description: Box number of the address (optional)
      streetName:
        type: string
        description: Street name of the address (optional)
      postCode:
        type: string
        description: Zip Code of the address (optional)
      townName:
        type: string
        description: 'City corresponding to the address '
      countrySubdivision:
        type: string
        description: Subdivision of the country (optional)
      country:
        type: string
        description: Code of the country (mandatory). Free text. The value can be subject to a validation process if a specific rule has been configured at issuer level. The value can be optional if a specific rule has been configured.
      countryName:
        type: string
        description: Country Name of the address. Free text
      courtesyTitle:
        type: string
        description: Courtesy title of the address. Free text
    title: MailAddress
  NotFoundErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/NotFoundResponseMetadata'
    title: NotFoundErrorApiResponse
  BadGatewayErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/BadGatewayResponseMetadata'
    title: BadGatewayErrorApiResponse
  InternalServerErrorErrorApiResponse:
    type: object
    required:
    - responseMetadata
    properties:
      responseMetadata:
        allOf:
        - $ref: '#/definitions/InternalServerErrorResponseMetadata'
    title: InternalServerErrorErrorApiResponse
  InternalServerErrorResponseMetadata:
    type: object
    required:
    - correlationId
    - responseDateTime
    - statusCode
    - statusMessage
    properties:
      correlationId:
        type: string
        description: Correlation Identifier
      responseDateTime:
        type: string
        example: format:yyyy-MM-dd'T'HH:mm:ss.SSSZ
        description: Timestamp when response date was generated
      statusCode:
        type: integer
        format: int32
        example: 500
        description: HTTP status code
      statusMessage:
        type: string
        example: Internal server error
        description: Executed REST API status message
    title: InternalServerErrorResponseMetadata
  AccountOutgoingCreditTransferFeature:
    type: object
    properties:
      periodicOctAllowed:
        type: boolean
        description: "This field indicates if the issuer can override  the  periodic OCT option. \nTo override the option, the reimbursement model attached to the contract must be configured to accept the change of the default choice."
      periodicOctType:
        type: string
        description: "This field indicates the periodic OCT type \nPossibles values:\n- DAILY (OCT can be triggered on a daily basis if account is in credit position)\n- CYCLIC (OCT can be triggered at cycle closure date if account is in credit position).\nIt can be overridden if the reimbursement model accepts the change of the default choice."
        enum:
        - DAILY
        - CYCLIC
      periodicMaxThreshold:
        description: 'Threshold amount used for generating the periodic OCT. When the account balance is greater than the threshold, the OCT amount will be equal to the (account credit balance - threshold amount). Ex: threshold is 10.000€ and credit balance is : 15.000€: the OCT amount is 5.000€.

          The threshold amount can be overridden if the reimbursement model accepts the change of the default threshold.'
        allOf:
        - $ref: '#/definitions/Amount'
      octOnContractTerminationAllowed:
        type: boolean
        description: 'This field indicates the "OCT on contract termination" option

          The option can be modified if it is allowed within the reimbursement model to change the default choice.'
      octOnAccountTerminationAllowed:
        type: boolean
        description: 'This field indicates the option to generate an OCT when card account is closed.

          The option can be modified if it is allowed within the reimbursement model to change the default choice.'
      octOnContractSuspensionAllowed:
        type: boolean
        description: 'This field indicates if an Outgoing Credit Transfer is required or not when the contract is suspended.

          The value is initialized from the product and can be overridden if this is allowed by the product (in reimbursement model).'
      octOnDemandAllowed:
        type: boolean
        description: "This field indicates the \"OCT on demand\" option. \nThe option can be modifed if it is allowed within the reimbursement model to change the default choice."
      octOnDemandLimitType:
        type: string
        description: 'This field indicates the limit type of the "OCT on demand" option.

          Possible values:

          - BALANCE (= a customer can only request an OCT in case of account in credit position)

          - OTB (open-to-buy) (=a customer can request an OCT from its current Open-to-buy (so from its credit limit allowed by the issuer)

          The limit type can be modified if it is allowed within the reimbursement model.'
        enum:
        - OTB
        - BALANCE
      octOnContractTerminationType:
        type: string
        enum:
        - CONTRACT_TERMINATION
        - ACCOUNT_CLOSING
    description: Specify OctFeature (periodicOct, periodicOctType, periodicOctMaxThreshold, etc.)
    title: AccountOutgoingCreditTransferFeature
  CorporateContractLevel:
    type: object
    properties:
      level:
        type: string
        description: Level number in the company organization (e.g. 1 corresponding to the company, 2 corresponding to country)
        example: '1'
      levelDescription:
        type: string
        description: Description of the level in the company organization (e.g. Company for level 1, Country for level 2)
    description: Specify the level in the company organization
    title: CorporateContractLevel
  ProductExtensionIdentifier:
    properties:
      issuerProductExtensionExternalReference:
        description: External reference of the product extension provided by the issuer and defined for a product (e.g. it can be used when adding cards and accounts to a contract )
        type: string
    title: ProductExtensionIdentifier
    type: object
  CorporateEmployeeAccount:
    type: object
    properties:
      accountIdentifier:
        description: Identifier of the employee account
        allOf:
        - $ref: '#/definitions/AccountIdentifier'
      account:
        description: 'List of all accounts (with account data) linked to the employee.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        allOf:
        - $ref: '#/definitions/Account'
      parentCompanyEntityExternalReference:
        type: string
        description: "Entity external reference of the parent account \nEmpty for the root"
      cardContracts:
        type: array
        description: 'List of all cardContracts (with cardContract data) belonging to this corporate contract.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        items:
          $ref: '#/definitions/CardContract'
      customerIdentifiers:
        type: array
        description: List of customers (only identifiers) belonging to this corporate employee account as e.g. account owner, cardholder.
        items:
          $ref: '#/definitions/CustomerIdentifier'
      customers:
        type: array
        description: 'List of customers (with customer data) belonging to this corporate employee account as e.g. account owner, cardholder.

          _Embedded property, only filled when available for the endpoint and explicitly requested in the ''embed'' query parameter._'
        items:
          $ref: '#/definitions/Customer'
      parentAccountIdentifier:
        description: Account identifier of the parent account. Each card account is linked to a parent account of the hierarchy (entity)
        allOf:
        - $ref: '#/definitions/AccountIdentifier'
      companyEntityExternalReference:
        type: string
        description: External reference of the entity used for the employee account
      advertisementFlags:
        description: Specify possible channels used to provide advertisements (email, letter, phone, statement, sms) for the employee account
        allOf:
        - $ref: '#/definitions/AdvertisementFlags'
      deliveryChannel:
        description: 'Specify the channel for letter delivery used for the employee account

          Possible values: WEB, LETTER, LETTER_AND_WEB'
        allOf:
        - $ref: '#/definitions/DeliveryChannel'
      postingAccountForMembershipFee:
        type: string
        description: DEPRECATED
      postingAccountForAccountSetupFee:
        type: string
        description: DEPRECATED
      waiveFee:
        type: boolean
        description: Indicates if contract related fees, membership fee and account setup fee, are waived (true) or not (false, by default) for this employee account.
        default: false
      corporateProductType:
        type: string
        description: 'Type indicating if the account represents an employee, a company or an intermediate

          Possible values: EMPLOYEE, COMPANY, INTERMEDIARY'
      contractFee:
        description: Contract Fee Models used for the account (Account setup fee and/or Membership fee models).
        allOf:
        - $ref: '#/definitions/CorporateContractFee'
      entityIdentifierMembershipFeePosting:
        description: DEPRECATED
        allOf:
        - $ref: '#/definitions/FeePostingEntityIdentifier'
      entityIdentifierAccountSetupFeePosting:
        description: DEPRECATED
        allOf:
        - $ref: '#/definitions/FeePostingEntityIdentifier'
    description: Specify the corporate employee account
    title: CorporateEmployeeAccount
  AddressUsage:
    type: object
    required:
    - addressUsageName
    - serviceCode
    properties:
      addressUsageName:
        type: string
        example: STATEMENT_SENDING
        description: The business process for which the address usage is defined such as CARD_DELIVERY, PIN_MAILER_DELIVERY, STATEMENT_DELIVERY.
      entityReference:
        type: string
        description: 'This corresponds to the application domain of the address. It can be eg a card contract reference, card account reference. It is an optional field.

[...]
