openapi: 3.2.0
info:
  title: Worldline FIDO server Authentication Resource API
  version: 1.0.0
  contact:
    email: dl-ita-fido-server-sm@worldline.com
servers:
- url: https://fido.worldline-solutions.com
tags:
- name: Authentication Resource
paths:
  /v1.0/webauthn/authn:
    post:
      summary: Initiate fido authentication
      tags:
      - Authentication Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthOptionRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthOptionResponse'
        '401':
          description: Not Authorized
        '403':
          description: Not Allowed
    patch:
      summary: Finish fido authentication
      tags:
      - Authentication Resource
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssertionResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerResponse'
        '401':
          description: Not Authorized
        '403':
          description: Not Allowed
components:
  schemas:
    UserVerificationRequirement:
      type: object
      properties:
        value:
          type: string
    PublicKeyCredentialType:
      type: object
      properties:
        value:
          type: string
    AuthenticatorTransport:
      type: object
      properties:
        value:
          type: string
    PublicKeyCredentialUserEntity:
      required:
      - name
      type: object
      properties:
        name:
          minLength: 1
          type: string
        id:
          type: string
        displayName:
          type: string
    ServerResponse:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status'
        errorMessage:
          type: string
    AuthenticatorAssertionResponse:
      required:
      - clientDataJSON
      - authenticatorData
      - signature
      type: object
      properties:
        clientDataJSON:
          minLength: 1
          type: string
        authenticatorData:
          minLength: 1
          type: string
        signature:
          minLength: 1
          type: string
        userHandle:
          type: string
    AuthenticationExtensionsAuthenticatorInputsAuthenticationExtensionAuthenticatorInput:
      type: object
      properties:
        uvm:
          type: boolean
          writeOnly: true
        credProtect:
          type: string
          allOf:
          - $ref: '#/components/schemas/CredentialProtectionPolicy'
          writeOnly: true
        hMACSecret: {}
    PublicKeyCredentialAssertion:
      required:
      - response
      - type
      type: object
      properties:
        id:
          type: string
        rawId:
          type: string
        response:
          $ref: '#/components/schemas/AuthenticatorAssertionResponse'
        getClientExtensionResults:
          type: object
          additionalProperties:
            type: string
        type:
          minLength: 1
          pattern: public-key
          type: string
    CredentialProtectionPolicy:
      enum:
      - USER_VERIFICATION_OPTIONAL
      - USER_VERIFICATION_OPTIONAL_WITH_CREDENTIAL_ID_LIST
      - USER_VERIFICATION_REQUIRED
      type: string
    AuthOptionRequest:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/PublicKeyCredentialUserEntity'
        userVerification:
          type: string
        extensions:
          type: object
          additionalProperties:
            type: string
    Status:
      enum:
      - OK
      - FAILED
      type: string
    AuthOptionResponse:
      type: object
      properties:
        status:
          type: string
        errorMessage:
          type: string
        challenge:
          type: string
        timeout:
          format: int64
          type: integer
        rpId:
          type: string
        allowCredentials:
          type: array
          items:
            $ref: '#/components/schemas/PublicKeyCredentialDescriptor'
        userVerification:
          $ref: '#/components/schemas/UserVerificationRequirement'
        extensions:
          $ref: '#/components/schemas/AuthenticationExtensionsAuthenticatorInputsAuthenticationExtensionAuthenticatorInput'
        sessionId:
          type: string
    AssertionResponse:
      required:
      - sessionId
      type: object
      properties:
        sessionId:
          minLength: 1
          type: string
        assertionBlob:
          $ref: '#/components/schemas/PublicKeyCredentialAssertion'
    PublicKeyCredentialDescriptor:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/PublicKeyCredentialType'
        id:
          type: string
        transports:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/AuthenticatorTransport'
